<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="line-height: 1.2">W4111 $-$ Introduction to Databases: <br>Web Applications and SQL Details</h1>

In [28]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([Errno 54] Connection reset by peer)') [SQL: "select * from people where playerid='willite01'"]

In [29]:
import pymysql
import json

_default_connect_info = {
        'host': 'localhost',
        'user': 'dbuser',
        'password': 'dbuser',
        'db': 'lahman2017',
        'port': 3306
    }
_default_cnx = pymysql.connect(
               _default_connect_info['host'],
                _default_connect_info['user'],
                _default_connect_info['password'],
                _default_connect_info['db'],
            charset='utf8mb4',
            cursorclass=pymysql.cursors.DictCursor)

In [53]:
def run_q(q, args=None, fields=None, fetch=True, cnx=None, commit=True, debug=True):
    """

    :param q: An SQL query string that may have %s slots for argument insertion. The string
        may also have {} after select for columns to choose.
    :param args: A tuple of values to insert in the %s slots.
    :param fetch: If true, return the result.
    :param cnx: A database connection. May be None
    :param commit: Do not worry about this for now. This is more wizard stuff.
    :return: A result set or None.
    """

    r = None
    
    try:
        # Use the connection in the object if no connection provided.
        if cnx is None:
            cnx = _default_cnx

        # Convert the list of columns into the form "col1, col2, ..." for following SELECT.
        if fields:
            q = q.format(",".join(fields))

        cursor = cnx.cursor()  # Just ignore this for now.

        if debug:
            print("Query = ", q)
            print("Args = ", str(args))
            print("Query send to DB = ", cursor.mogrify(q, args))

        cnt = cursor.execute(q, args)  # Execute the query.

        # Technically, INSERT, UPDATE and DELETE do not return results.
        # Sometimes the connector libraries return the number of created/deleted rows.
        if fetch:
            r = cursor.fetchall()  # Return all elements of the result.
        else:
            r = cnt

        if commit:                  # Do not worry about this for now.
            cnx.commit()
    except Exception as e:
        cnx.rollback()
        print("Exception e = ", e)
        raise e

    return r

In [39]:
run_q("select * from people where playerid = %s", args=('willite01'))

Query =  select * from people where playerid = %s
Args =  willite01
Query send to DB =  select * from people where playerid = 'willite01'

[{'DOB': datetime.date(1918, 8, 30),
  'DOD': datetime.date(2002, 7, 5),
  'bats': 'L',
  'bbrefID': 'willite01',
  'birthCity': 'San Diego',
  'birthCountry': 'USA',
  'birthDay': 30,
  'birthMonth': 8,
  'birthState': 'CA',
  'birthYear': 1918,
  'deathCity': 'Inverness',
  'deathCountry': 'USA',
  'deathDay': 5,
  'deathMonth': 7,
  'deathState': 'FL',
  'deathYear': 2002,
  'debut': '1939-04-20',
  'finalGame': '1960-09-28',
  'height': '75',
  'nameFirst': 'Ted',
  'nameGiven': 'Theodore Samuel',
  'nameLast': 'Williams',
  'playerID': 'willite01',
  'retroID': 'willt103',
  'throws': 'R',
  'weight': '205'}]

## Introduction


### Lecture Overview

- Questions. Discussion.


- Course outline: topics, HW, exams.

    
- HW2 discussion.


- Additional SQL query capabilities
    - ```CASE```, ```IF()```
    - Subqueries.
    - Additional operators.


- Views, Views versus copy tables.


- DDL and metadata operations.


- Keys, Indexes, Constraints.


- Functions, Stored Procedures, Triggers:
    - Concepts
    - Application scenarios/user stories.
    
    
- Data modeling design patterns.

### Questions and Discussion

### (Tentative) Course Schedule

- 14-Feb:
    - DB application overview, web applications, REST concepts.
    - SQL query continued: JOIN, Group By, Order By.
    - <span style='color:red;'>Critical first steps for HW2.
    
    
- 18-Feb: HW2 released. In-person and video/recorded discussion of HW2.
    
    
- 21-Feb: Final relational/SQL topics.
    - Subqueries
    - CASE, Views, Views versus copy tables.
    - Functions, procedures, triggers
    - Keys, Indexes, Constraints.
    - DDL and metadata operations.
    
    
- 28-Feb: Data Modeling and Data Cleanup
    - Codd's Rules
    - Normal Forms
    - Data cleanup guidance and examples.
    - Data modeling concepts, best practices, implementation.
    
    
- 02-Feb: HW2 due.


- 07-Mar:
    - Midterm released; in-class discussion of midterm.
    - Module II starts: disks, buffer management, record management.
    
    
- 14-Mar:
    - Midterm due.
    - Indexes, access paths
    - Query processing, part 1.
    
    
- 21-Mar: Spring break.


- 28-Mar:
    - Query processing part 2.
    - Transactions and isolation.
    - HW3 released.
    
    
- 04-Apr: "NoSQL"
    - Concepts. motivation, eventual consistency.
    - Examples: Neo4J, Redis, DynamoDB
    
    
- 11-Apr:
    - HW3 due. HW4 released.
    - NosQL continued and examples.
    - Data analysis, decision support 1.
    
    
- 18-Apr: Decision support continued.


- 25-Apr:
    - HW5 released. HW4 due.
    - Decision support. Machine learning. Analytics.
    
    
- 02-May:
    - HW5 due.
    - Last day of class.
    - Misc. topics.
    - Final exam review. Final exam released.
    
    
- 12-May: Final exam due.



__Comments:__

- <span style="color:red;">This is tentative. I reserve the right to change.</span>


- Homework assignments:
    - HW3 is __by far the hardest homework.__
    - HW2 and HW4 are a little easier than HW1
    - HW5 is trivial and should take a couple of hours.

### HW2 Discussion

## Additional SQL Concepts

### CASE

- The SQL and MySQL syntax is

```
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    WHEN conditionN THEN resultN
    ELSE result
END;
```

- Example

In [3]:
%%sql
select *,
	case
		when a.total_order_value > 10000 then "GOLD"
        when a.total_order_value < 10000 and a.total_order_value > 5000 then "SILVER"
        else "NONE"
	end as order_type
from 
	(SELECT 
		orders.orderNumber, customerNumber, sum(quantityOrdered*priceEach) as total_order_value
	FROM
		classiccars.orders join classiccars.orderdetails on orders.orderNumber=orderdetails.orderNumber
	group by orderNumber) as a

326 rows affected.

[(10100, 363, Decimal('10223.83'), 'GOLD'),
 (10101, 128, Decimal('10549.01'), 'GOLD'),
 (10102, 181, Decimal('5494.78'), 'SILVER'),
 (10103, 121, Decimal('50218.95'), 'GOLD'),
 (10104, 141, Decimal('40206.20'), 'GOLD'),
 (10105, 145, Decimal('53959.21'), 'GOLD'),
 (10106, 278, Decimal('52151.81'), 'GOLD'),
 (10107, 131, Decimal('22292.62'), 'GOLD'),
 (10108, 385, Decimal('51001.22'), 'GOLD'),
 (10109, 486, Decimal('25833.14'), 'GOLD'),
 (10110, 187, Decimal('48425.69'), 'GOLD'),
 (10111, 129, Decimal('16537.85'), 'GOLD'),
 (10112, 144, Decimal('7674.94'), 'SILVER'),
 (10113, 124, Decimal('11044.30'), 'GOLD'),
 (10114, 172, Decimal('33383.14'), 'GOLD'),
 (10115, 424, Decimal('21665.98'), 'GOLD'),
 (10116, 381, Decimal('1627.56'), 'NONE'),
 (10117, 148, Decimal('44380.15'), 'GOLD'),
 (10118, 216, Decimal('3101.40'), 'NONE'),
 (10119, 382, Decimal('35826.33'), 'GOLD'),
 (10120, 114, Decimal('45864.03'), 'GOLD'),
 (10121, 353, Decimal('16700.47'), 'GOLD'),
 (10122, 350, Decimal('50824.66'), 'GOLD'),
 (10123, 103, Decimal('14571.44'), 'GOLD'),
 (10124, 112, Decimal('32641.98'), 'GOLD'),
 (10125, 114, Decimal('7565.08'), 'SILVER'),
 (10126, 458, Decimal('57131.92'), 'GOLD'),
 (10127, 151, Decimal('58841.35'), 'GOLD'),
 (10128, 141, Decimal('13884.99'), 'GOLD'),
 (10129, 324, Decimal('29429.14'), 'GOLD'),
 (10130, 198, Decimal('6036.96'), 'SILVER'),
 (10131, 447, Decimal('17032.29'), 'GOLD'),
 (10132, 323, Decimal('2880.00'), 'NONE'),
 (10133, 141, Decimal('22366.04'), 'GOLD'),
 (10134, 250, Decimal('23419.47'), 'GOLD'),
 (10135, 124, Decimal('55601.84'), 'GOLD'),
 (10136, 242, Decimal('14232.70'), 'GOLD'),
 (10137, 353, Decimal('13920.26'), 'GOLD'),
 (10138, 496, Decimal('32077.44'), 'GOLD'),
 (10139, 282, Decimal('24013.52'), 'GOLD'),
 (10140, 161, Decimal('38675.13'), 'GOLD'),
 (10141, 334, Decimal('29716.86'), 'GOLD'),
 (10142, 124, Decimal('56052.56'), 'GOLD'),
 (10143, 320, Decimal('41016.75'), 'GOLD'),
 (10144, 381, Decimal('1128.20'), 'NONE'),
 (10145, 205, Decimal('50342.74'), 'GOLD'),
 (10146, 447, Decimal('6631.36'), 'SILVER'),
 (10147, 379, Decimal('32680.31'), 'GOLD'),
 (10148, 276, Decimal('41554.73'), 'GOLD'),
 (10149, 487, Decimal('29997.09'), 'GOLD'),
 (10150, 148, Decimal('38350.15'), 'GOLD'),
 (10151, 311, Decimal('32723.04'), 'GOLD'),
 (10152, 333, Decimal('9821.32'), 'SILVER'),
 (10153, 141, Decimal('44939.85'), 'GOLD'),
 (10154, 219, Decimal('4465.85'), 'NONE'),
 (10155, 186, Decimal('37602.48'), 'GOLD'),
 (10156, 141, Decimal('4599.52'), 'NONE'),
 (10157, 473, Decimal('17746.26'), 'GOLD'),
 (10158, 121, Decimal('1491.38'), 'NONE'),
 (10159, 321, Decimal('54682.68'), 'GOLD'),
 (10160, 347, Decimal('20452.50'), 'GOLD'),
 (10161, 227, Decimal('36164.46'), 'GOLD'),
 (10162, 321, Decimal('30876.44'), 'GOLD'),
 (10163, 424, Decimal('22042.37'), 'GOLD'),
 (10164, 452, Decimal('27121.90'), 'GOLD'),
 (10165, 148, Decimal('67392.85'), 'GOLD'),
 (10166, 462, Decimal('9977.85'), 'SILVER'),
 (10167, 448, Decimal('44167.09'), 'GOLD'),
 (10168, 161, Decimal('50743.65'), 'GOLD'),
 (10169, 276, Decimal('38547.19'), 'GOLD'),
 (10170, 452, Decimal('15130.97'), 'GOLD'),
 (10171, 233, Decimal('16909.84'), 'GOLD'),
 (10172, 175, Decimal('24879.08'), 'GOLD'),
 (10173, 278, Decimal('37723.79'), 'GOLD'),
 (10174, 333, Decimal('23936.53'), 'GOLD'),
 (10175, 324, Decimal('37455.77'), 'GOLD'),
 (10176, 386, Decimal('38524.29'), 'GOLD'),
 (10177, 344, Decimal('31428.21'), 'GOLD'),
 (10178, 242, Decimal('33818.34'), 'GOLD'),
 (10179, 496, Decimal('22963.60'), 'GOLD'),
 (10180, 171, Decimal('42783.81'), 'GOLD'),
 (10181, 167, Decimal('55069.55'), 'GOLD'),
 (10182, 124, Decimal('45084.38'), 'GOLD'),
 (10183, 339, Decimal('34606.28'), 'GOLD'),
 (10184, 484, Decimal('47513.19'), 'GOLD'),
 (10185, 320, Decimal('52548.49'), 'GOLD'),
 (10186, 489, Decimal('22275.73'), 'GOLD'),
 (10187, 211, Decimal('28287.73'), 'GOLD'),
 (10188, 167, Decimal('29954.91'), 'GOLD'),
 (10189, 205, Decimal('3879.96'), 'NONE'),
 (10190, 141, Decimal('10721.86'), 'GOLD'),
 (10191, 259, Decimal('27988.47'), 'GOLD'),
 (10192, 363, Decimal('55425.77'), 'GOLD'),
 (10193, 471, Decimal('35505.63'), 'GOLD'),
 (10194, 146, Decimal('39712.10'), 'GOLD'),
 (10195, 319, Decimal('36092.40'), 'GOLD'),
 (10196, 455, Decimal('38139.18'), 'GOLD'),
 (10197, 216, Decimal('40473.86'), 'GOLD'),
 (10198, 385, Decimal('20644.24'), 'GOLD'),
 (10199, 475, Decimal('7678.25'), 'SILVER'),
 (10200, 211, Decimal('17193.06'), 'GOLD'),
 (10201, 129, Decimal('23923.93'), 'GOLD'),
 (10202, 357, Decimal('20220.04'), 'GOLD'),
 (10203, 141, Decimal('40062.53'), 'GOLD'),
 (10204, 151, Decimal('58793.53'), 'GOLD'),
 (10205, 141, Decimal('13059.16'), 'GOLD'),
 (10206, 202, Decimal('36527.61'), 'GOLD'),
 (10207, 495, Decimal('59265.14'), 'GOLD'),
 (10208, 146, Decimal('49614.72'), 'GOLD'),
 (10209, 347, Decimal('21053.69'), 'GOLD'),
 (10210, 177, Decimal('47177.59'), 'GOLD'),
 (10211, 406, Decimal('49165.16'), 'GOLD'),
 (10212, 141, Decimal('59830.55'), 'GOLD'),
 (10213, 489, Decimal('7310.42'), 'SILVER'),
 (10214, 458, Decimal('22162.61'), 'GOLD'),
 (10215, 475, Decimal('36070.47'), 'GOLD'),
 (10216, 256, Decimal('5759.42'), 'SILVER'),
 (10217, 166, Decimal('22474.17'), 'GOLD'),
 (10218, 473, Decimal('7612.06'), 'SILVER'),
 (10219, 487, Decimal('12573.28'), 'GOLD'),
 (10220, 189, Decimal('32538.74'), 'GOLD'),
 (10221, 314, Decimal('16901.38'), 'GOLD'),
 (10222, 239, Decimal('56822.65'), 'GOLD'),
 (10223, 114, Decimal('44894.74'), 'GOLD'),
 (10224, 171, Decimal('18997.89'), 'GOLD'),
 (10225, 298, Decimal('47375.92'), 'GOLD'),
 (10226, 239, Decimal('23552.59'), 'GOLD'),
 (10227, 146, Decimal('40978.53'), 'GOLD'),
 (10228, 173, Decimal('20355.24'), 'GOLD'),
 (10229, 124, Decimal('43369.30'), 'GOLD'),
 (10230, 128, Decimal('33820.62'), 'GOLD'),
 (10231, 344, Decimal('15322.93'), 'GOLD'),
 (10232, 240, Decimal('24995.61'), 'GOLD'),
 (10233, 328, Decimal('7178.66'), 'SILVER'),
 (10234, 412, Decimal('31670.37'), 'GOLD'),
 (10235, 260, Decimal('29284.42'), 'GOLD'),
 (10236, 486, Decimal('5899.38'), 'SILVER'),
 (10237, 181, Decimal('22602.36'), 'GOLD'),
 (10238, 145, Decimal('28211.70'), 'GOLD'),
 (10239, 311, Decimal('16212.59'), 'GOLD'),
 (10240, 177, Decimal('15183.63'), 'GOLD'),
 (10241, 209, Decimal('36069.26'), 'GOLD'),
 (10242, 456, Decimal('1679.92'), 'NONE'),
 (10243, 495, Decimal('6276.60'), 'SILVER'),
 (10244, 141, Decimal('26155.91'), 'GOLD'),
 (10245, 455, Decimal('32239.47'), 'GOLD'),
 (10246, 141, Decimal('35420.74'), 'GOLD'),
 (10247, 334, Decimal('28394.54'), 'GOLD'),
 (10248, 131, Decimal('41445.21'), 'GOLD'),
 (10249, 173, Decimal('11843.45'), 'GOLD'),
 (10250, 450, Decimal('42798.08'), 'GOLD'),
 (10251, 328, Decimal('31102.85'), 'GOLD'),
 (10252, 406, Decimal('25080.96'), 'GOLD'),
 (10253, 201, Decimal('45443.54'), 'GOLD'),
 (10254, 323, Decimal('37281.36'), 'GOLD'),
 (10255, 209, Decimal('4632.31'), 'NONE'),
 (10256, 145, Decimal('4710.73'), 'NONE'),
 (10257, 450, Decimal('16753.30'), 'GOLD'),
 (10258, 398, Decimal('22037.91'), 'GOLD'),
 (10259, 166, Decimal('44160.92'), 'GOLD'),
 (10260, 357, Decimal('37769.38'), 'GOLD'),
 (10261, 233, Decimal('22997.45'), 'GOLD'),
 (10262, 141, Decimal('47065.36'), 'GOLD'),
 (10263, 175, Decimal('42044.77'), 'GOLD'),
 (10264, 362, Decimal('18473.71'), 'GOLD'),
 (10265, 471, Decimal('9415.13'), 'SILVER'),
 (10266, 386, Decimal('51619.02'), 'GOLD'),
 (10267, 151, Decimal('20314.44'), 'GOLD'),
 (10268, 412, Decimal('35034.57'), 'GOLD'),
 (10269, 382, Decimal('6419.84'), 'SILVER'),
 (10270, 282, Decimal('35806.73'), 'GOLD'),
 (10271, 124, Decimal('37430.89'), 'GOLD'),
 (10272, 157, Decimal('23715.70'), 'GOLD'),
 (10273, 314, Decimal('45352.47'), 'GOLD'),
 (10274, 379, Decimal('12530.51'), 'GOLD'),
 (10275, 119, Decimal('47924.19'), 'GOLD'),
 (10276, 204, Decimal('51152.86'), 'GOLD'),
 (10277, 148, Decimal('2611.84'), 'NONE'),
 (10278, 112, Decimal('33347.88'), 'GOLD'),
 (10279, 141, Decimal('20009.53'), 'GOLD'),
 (10280, 249, Decimal('48298.99'), 'GOLD'),
 (10281, 157, Decimal('39641.43'), 'GOLD'),
 (10282, 124, Decimal('47979.98'), 'GOLD'),
 (10283, 260, Decimal('37527.58'), 'GOLD'),
 (10284, 299, Decimal('32260.16'), 'GOLD'),
 (10285, 286, Decimal('43134.04'), 'GOLD'),
 (10286, 172, Decimal('1960.80'), 'NONE'),
 (10287, 298, Decimal('61402.00'), 'GOLD'),
 (10288, 166, Decimal('38785.48'), 'GOLD'),
 (10289, 167, Decimal('12538.01'), 'GOLD'),
 (10290, 198, Decimal('5858.56'), 'SILVER'),
 (10291, 448, Decimal('48809.90'), 'GOLD'),
 (10292, 131, Decimal('35321.97'), 'GOLD'),
 (10293, 249, Decimal('33924.24'), 'GOLD'),
 (10294, 204, Decimal('4424.40'), 'NONE'),
 (10295, 362, Decimal('15059.76'), 'GOLD'),
 (10296, 415, Decimal('31310.09'), 'GOLD'),
 (10297, 189, Decimal('17359.53'), 'GOLD'),
 (10298, 103, Decimal('6066.78'), 'SILVER'),
 (10299, 186, Decimal('34341.08'), 'GOLD'),
 (10300, 128, Decimal('24101.81'), 'GOLD'),
 (10301, 299, Decimal('36798.88'), 'GOLD'),
 (10302, 201, Decimal('23908.24'), 'GOLD'),
 (10303, 484, Decimal('3474.66'), 'NONE'),
 (10304, 256, Decimal('53116.99'), 'GOLD'),
 (10305, 286, Decimal('47411.33'), 'GOLD'),
 (10306, 187, Decimal('52825.29'), 'GOLD'),
 (10307, 339, Decimal('23333.06'), 'GOLD'),
 (10308, 319, Decimal('42339.76'), 'GOLD'),
 (10309, 121, Decimal('17876.32'), 'GOLD'),
 (10310, 259, Decimal('61234.67'), 'GOLD'),
 (10311, 141, Decimal('36140.38'), 'GOLD'),
 (10312, 124, Decimal('55639.66'), 'GOLD'),
 (10313, 202, Decimal('33594.58'), 'GOLD'),
 (10314, 227, Decimal('53745.34'), 'GOLD'),
 (10315, 119, Decimal('19501.82'), 'GOLD'),
 (10316, 240, Decimal('46788.14'), 'GOLD'),
 (10317, 161, Decimal('2434.25'), 'NONE'),
 (10318, 157, Decimal('35152.12'), 'GOLD'),
 (10319, 456, Decimal('27550.51'), 'GOLD'),
 (10320, 144, Decimal('16799.03'), 'GOLD'),
 (10321, 462, Decimal('48355.87'), 'GOLD'),
 (10322, 363, Decimal('50799.69'), 'GOLD'),
 (10323, 128, Decimal('7466.32'), 'SILVER'),
 (10324, 181, Decimal('44400.50'), 'GOLD'),
 (10325, 121, Decimal('34638.14'), 'GOLD'),
 (10326, 144, Decimal('19206.68'), 'GOLD'),
 (10327, 145, Decimal('20564.86'), 'GOLD'),
 (10328, 278, Decimal('37654.09'), 'GOLD'),
 (10329, 131, Decimal('50025.35'), 'GOLD'),
 (10330, 385, Decimal('15822.84'), 'GOLD'),
 (10331, 486, Decimal('45994.07'), 'GOLD'),
 (10332, 187, Decimal('47159.11'), 'GOLD'),
 (10333, 129, Decimal('26248.78'), 'GOLD'),
 (10334, 144, Decimal('23014.17'), 'GOLD'),
 (10335, 124, Decimal('6466.44'), 'SILVER'),
 (10336, 172, Decimal('51209.58'), 'GOLD'),
 (10337, 424, Decimal('25505.98'), 'GOLD'),
 (10338, 381, Decimal('12081.52'), 'GOLD'),
 (10339, 398, Decimal('48927.64'), 'GOLD'),
 (10340, 216, Decimal('24945.21'), 'GOLD'),
 (10341, 382, Decimal('42813.83'), 'GOLD'),
 (10342, 114, Decimal('40265.60'), 'GOLD'),
 (10343, 353, Decimal('17104.91'), 'GOLD'),
 (10344, 350, Decimal('18888.31'), 'GOLD'),
 (10345, 103, Decimal('1676.14'), 'NONE'),
 (10346, 112, Decimal('14191.12'), 'GOLD'),
 (10347, 114, Decimal('41995.62'), 'GOLD'),
 (10348, 458, Decimal('33145.56'), 'GOLD'),
 (10349, 151, Decimal('39964.63'), 'GOLD'),
 (10350, 141, Decimal('46493.16'), 'GOLD'),
 (10351, 324, Decimal('13671.82'), 'GOLD'),
 (10352, 198, Decimal('9658.74'), 'SILVER'),
 (10353, 447, Decimal('26304.13'), 'GOLD'),
 (10354, 323, Decimal('39440.59'), 'GOLD'),
 (10355, 141, Decimal('25529.78'), 'GOLD'),
 (10356, 250, Decimal('26311.63'), 'GOLD'),
 (10357, 124, Decimal('40676.26'), 'GOLD'),
 (10358, 141, Decimal('44185.46'), 'GOLD'),
 (10359, 353, Decimal('32600.61'), 'GOLD'),
 (10360, 496, Decimal('52166.00'), 'GOLD'),
 (10361, 282, Decimal('31835.36'), 'GOLD'),
 (10362, 161, Decimal('12692.19'), 'GOLD'),
 (10363, 334, Decimal('45785.34'), 'GOLD'),
 (10364, 350, Decimal('1834.56'), 'NONE'),
 (10365, 320, Decimal('8307.28'), 'SILVER'),
 (10366, 381, Decimal('14379.90'), 'GOLD'),
 (10367, 205, Decimal('39580.60'), 'GOLD'),
 (10368, 124, Decimal('13874.75'), 'GOLD'),
 (10369, 379, Decimal('28322.83'), 'GOLD'),
 (10370, 276, Decimal('27083.78'), 'GOLD'),
 (10371, 124, Decimal('35137.54'), 'GOLD'),
 (10372, 398, Decimal('33967.73'), 'GOLD'),
 (10373, 311, Decimal('46770.52'), 'GOLD'),
 (10374, 333, Decimal('21432.31'), 'GOLD'),
 (10375, 119, Decimal('49523.67'), 'GOLD'),
 (10376, 219, Decimal('3452.75'), 'NONE'),
 (10377, 186, Decimal('23602.90'), 'GOLD'),
 (10378, 141, Decimal('32289.12'), 'GOLD'),
 (10379, 141, Decimal('16621.27'), 'GOLD'),
 (10380, 141, Decimal('34404.21'), 'GOLD'),
 (10381, 321, Decimal('32626.09'), 'GOLD'),
 (10382, 124, Decimal('47765.59'), 'GOLD'),
 (10383, 141, Decimal('36851.98'), 'GOLD'),
 (10384, 321, Decimal('14155.57'), 'GOLD'),
 (10385, 124, Decimal('4466.71'), 'NONE'),
 (10386, 141, Decimal('46968.52'), 'GOLD'),
 (10387, 148, Decimal('3516.04'), 'NONE'),
 (10388, 462, Decimal('30293.77'), 'GOLD'),
 (10389, 448, Decimal('27966.54'), 'GOLD'),
 (10390, 124, Decimal('55902.50'), 'GOLD'),
 (10391, 276, Decimal('29848.52'), 'GOLD'),
 (10392, 452, Decimal('8807.12'), 'SILVER'),
 (10393, 323, Decimal('33593.32'), 'GOLD'),
 (10394, 141, Decimal('18102.74'), 'GOLD'),
 (10395, 250, Decimal('17928.09'), 'GOLD'),
 (10396, 124, Decimal('27695.54'), 'GOLD'),
 (10397, 242, Decimal('12432.32'), 'GOLD'),
 (10398, 353, Decimal('46656.94'), 'GOLD'),
 (10399, 496, Decimal('30253.75'), 'GOLD'),
 (10400, 450, Decimal('31755.34'), 'GOLD'),
 (10401, 328, Decimal('43525.04'), 'GOLD'),
 (10402, 406, Decimal('12190.85'), 'GOLD'),
 (10403, 201, Decimal('37258.94'), 'GOLD'),
 (10404, 323, Decimal('41426.81'), 'GOLD'),
 (10405, 209, Decimal('35157.75'), 'GOLD'),
 (10406, 145, Decimal('21638.62'), 'GOLD'),
 (10407, 450, Decimal('52229.55'), 'GOLD'),
 (10408, 398, Decimal('615.45'), 'NONE'),
 (10409, 166, Decimal('2326.18'), 'NONE'),
 (10410, 357, Decimal('36442.34'), 'GOLD'),
 (10411, 233, Decimal('29070.38'), 'GOLD'),
 (10412, 141, Decimal('46895.48'), 'GOLD'),
 (10413, 175, Decimal('28500.78'), 'GOLD'),
 (10414, 362, Decimal('50806.85'), 'GOLD'),
 (10415, 471, Decimal('10945.26'), 'GOLD'),
 (10416, 386, Decimal('35362.26'), 'GOLD'),
 (10417, 141, Decimal('28574.90'), 'GOLD'),
 (10418, 412, Decimal('23627.44'), 'GOLD'),
 (10419, 382, Decimal('52420.07'), 'GOLD'),
 (10420, 282, Decimal('42251.51'), 'GOLD'),
 (10421, 124, Decimal('7639.10'), 'SILVER'),
 (10422, 157, Decimal('5849.44'), 'SILVER'),
 (10423, 314, Decimal('8597.73'), 'SILVER'),
 (10424, 141, Decimal('29310.30'), 'GOLD'),
 (10425, 119, Decimal('41623.44'), 'GOLD')]

- What is this query doing?

| <img src="../../images/case_explanation.jpeg"> |
| :---: |
| __CASE Statement Explanation__ |

### IF() Function

- You can accomplish similar, simpler things with the ```IF()``` function.


- The syntax is:

```
IF(expression ,expr_true, expr_false)
```

- Example

In [5]:
%%sql
select *,
	if (a.total_order_value >= 10000, "GOLD", "NONE") as order_type
from 
	(SELECT 
		orders.orderNumber, customerNumber, sum(quantityOrdered*priceEach) as total_order_value
	FROM
		classiccars.orders join classiccars.orderdetails on orders.orderNumber=orderdetails.orderNumber
	group by orderNumber) as a

326 rows affected.

[(10100, 363, Decimal('10223.83'), 'GOLD'),
 (10101, 128, Decimal('10549.01'), 'GOLD'),
 (10102, 181, Decimal('5494.78'), 'NONE'),
 (10103, 121, Decimal('50218.95'), 'GOLD'),
 (10104, 141, Decimal('40206.20'), 'GOLD'),
 (10105, 145, Decimal('53959.21'), 'GOLD'),
 (10106, 278, Decimal('52151.81'), 'GOLD'),
 (10107, 131, Decimal('22292.62'), 'GOLD'),
 (10108, 385, Decimal('51001.22'), 'GOLD'),
 (10109, 486, Decimal('25833.14'), 'GOLD'),
 (10110, 187, Decimal('48425.69'), 'GOLD'),
 (10111, 129, Decimal('16537.85'), 'GOLD'),
 (10112, 144, Decimal('7674.94'), 'NONE'),
 (10113, 124, Decimal('11044.30'), 'GOLD'),
 (10114, 172, Decimal('33383.14'), 'GOLD'),
 (10115, 424, Decimal('21665.98'), 'GOLD'),
 (10116, 381, Decimal('1627.56'), 'NONE'),
 (10117, 148, Decimal('44380.15'), 'GOLD'),
 (10118, 216, Decimal('3101.40'), 'NONE'),
 (10119, 382, Decimal('35826.33'), 'GOLD'),
 (10120, 114, Decimal('45864.03'), 'GOLD'),
 (10121, 353, Decimal('16700.47'), 'GOLD'),
 (10122, 350, Decimal('50824.66'), 'GOLD'),
 (10123, 103, Decimal('14571.44'), 'GOLD'),
 (10124, 112, Decimal('32641.98'), 'GOLD'),
 (10125, 114, Decimal('7565.08'), 'NONE'),
 (10126, 458, Decimal('57131.92'), 'GOLD'),
 (10127, 151, Decimal('58841.35'), 'GOLD'),
 (10128, 141, Decimal('13884.99'), 'GOLD'),
 (10129, 324, Decimal('29429.14'), 'GOLD'),
 (10130, 198, Decimal('6036.96'), 'NONE'),
 (10131, 447, Decimal('17032.29'), 'GOLD'),
 (10132, 323, Decimal('2880.00'), 'NONE'),
 (10133, 141, Decimal('22366.04'), 'GOLD'),
 (10134, 250, Decimal('23419.47'), 'GOLD'),
 (10135, 124, Decimal('55601.84'), 'GOLD'),
 (10136, 242, Decimal('14232.70'), 'GOLD'),
 (10137, 353, Decimal('13920.26'), 'GOLD'),
 (10138, 496, Decimal('32077.44'), 'GOLD'),
 (10139, 282, Decimal('24013.52'), 'GOLD'),
 (10140, 161, Decimal('38675.13'), 'GOLD'),
 (10141, 334, Decimal('29716.86'), 'GOLD'),
 (10142, 124, Decimal('56052.56'), 'GOLD'),
 (10143, 320, Decimal('41016.75'), 'GOLD'),
 (10144, 381, Decimal('1128.20'), 'NONE'),
 (10145, 205, Decimal('50342.74'), 'GOLD'),
 (10146, 447, Decimal('6631.36'), 'NONE'),
 (10147, 379, Decimal('32680.31'), 'GOLD'),
 (10148, 276, Decimal('41554.73'), 'GOLD'),
 (10149, 487, Decimal('29997.09'), 'GOLD'),
 (10150, 148, Decimal('38350.15'), 'GOLD'),
 (10151, 311, Decimal('32723.04'), 'GOLD'),
 (10152, 333, Decimal('9821.32'), 'NONE'),
 (10153, 141, Decimal('44939.85'), 'GOLD'),
 (10154, 219, Decimal('4465.85'), 'NONE'),
 (10155, 186, Decimal('37602.48'), 'GOLD'),
 (10156, 141, Decimal('4599.52'), 'NONE'),
 (10157, 473, Decimal('17746.26'), 'GOLD'),
 (10158, 121, Decimal('1491.38'), 'NONE'),
 (10159, 321, Decimal('54682.68'), 'GOLD'),
 (10160, 347, Decimal('20452.50'), 'GOLD'),
 (10161, 227, Decimal('36164.46'), 'GOLD'),
 (10162, 321, Decimal('30876.44'), 'GOLD'),
 (10163, 424, Decimal('22042.37'), 'GOLD'),
 (10164, 452, Decimal('27121.90'), 'GOLD'),
 (10165, 148, Decimal('67392.85'), 'GOLD'),
 (10166, 462, Decimal('9977.85'), 'NONE'),
 (10167, 448, Decimal('44167.09'), 'GOLD'),
 (10168, 161, Decimal('50743.65'), 'GOLD'),
 (10169, 276, Decimal('38547.19'), 'GOLD'),
 (10170, 452, Decimal('15130.97'), 'GOLD'),
 (10171, 233, Decimal('16909.84'), 'GOLD'),
 (10172, 175, Decimal('24879.08'), 'GOLD'),
 (10173, 278, Decimal('37723.79'), 'GOLD'),
 (10174, 333, Decimal('23936.53'), 'GOLD'),
 (10175, 324, Decimal('37455.77'), 'GOLD'),
 (10176, 386, Decimal('38524.29'), 'GOLD'),
 (10177, 344, Decimal('31428.21'), 'GOLD'),
 (10178, 242, Decimal('33818.34'), 'GOLD'),
 (10179, 496, Decimal('22963.60'), 'GOLD'),
 (10180, 171, Decimal('42783.81'), 'GOLD'),
 (10181, 167, Decimal('55069.55'), 'GOLD'),
 (10182, 124, Decimal('45084.38'), 'GOLD'),
 (10183, 339, Decimal('34606.28'), 'GOLD'),
 (10184, 484, Decimal('47513.19'), 'GOLD'),
 (10185, 320, Decimal('52548.49'), 'GOLD'),
 (10186, 489, Decimal('22275.73'), 'GOLD'),
 (10187, 211, Decimal('28287.73'), 'GOLD'),
 (10188, 167, Decimal('29954.91'), 'GOLD'),
 (10189, 205, Decimal('3879.96'), 'NONE'),
 (10190, 141, Decimal('10721.86'), 'GOLD'),
 (10191, 259, Decimal('27988.47'), 'GOLD'),
 (10192, 363, Decimal('55425.77'), 'GOLD'),
 (10193, 471, Decimal('35505.63'), 'GOLD'),
 (10194, 146, Decimal('39712.10'), 'GOLD'),
 (10195, 319, Decimal('36092.40'), 'GOLD'),
 (10196, 455, Decimal('38139.18'), 'GOLD'),
 (10197, 216, Decimal('40473.86'), 'GOLD'),
 (10198, 385, Decimal('20644.24'), 'GOLD'),
 (10199, 475, Decimal('7678.25'), 'NONE'),
 (10200, 211, Decimal('17193.06'), 'GOLD'),
 (10201, 129, Decimal('23923.93'), 'GOLD'),
 (10202, 357, Decimal('20220.04'), 'GOLD'),
 (10203, 141, Decimal('40062.53'), 'GOLD'),
 (10204, 151, Decimal('58793.53'), 'GOLD'),
 (10205, 141, Decimal('13059.16'), 'GOLD'),
 (10206, 202, Decimal('36527.61'), 'GOLD'),
 (10207, 495, Decimal('59265.14'), 'GOLD'),
 (10208, 146, Decimal('49614.72'), 'GOLD'),
 (10209, 347, Decimal('21053.69'), 'GOLD'),
 (10210, 177, Decimal('47177.59'), 'GOLD'),
 (10211, 406, Decimal('49165.16'), 'GOLD'),
 (10212, 141, Decimal('59830.55'), 'GOLD'),
 (10213, 489, Decimal('7310.42'), 'NONE'),
 (10214, 458, Decimal('22162.61'), 'GOLD'),
 (10215, 475, Decimal('36070.47'), 'GOLD'),
 (10216, 256, Decimal('5759.42'), 'NONE'),
 (10217, 166, Decimal('22474.17'), 'GOLD'),
 (10218, 473, Decimal('7612.06'), 'NONE'),
 (10219, 487, Decimal('12573.28'), 'GOLD'),
 (10220, 189, Decimal('32538.74'), 'GOLD'),
 (10221, 314, Decimal('16901.38'), 'GOLD'),
 (10222, 239, Decimal('56822.65'), 'GOLD'),
 (10223, 114, Decimal('44894.74'), 'GOLD'),
 (10224, 171, Decimal('18997.89'), 'GOLD'),
 (10225, 298, Decimal('47375.92'), 'GOLD'),
 (10226, 239, Decimal('23552.59'), 'GOLD'),
 (10227, 146, Decimal('40978.53'), 'GOLD'),
 (10228, 173, Decimal('20355.24'), 'GOLD'),
 (10229, 124, Decimal('43369.30'), 'GOLD'),
 (10230, 128, Decimal('33820.62'), 'GOLD'),
 (10231, 344, Decimal('15322.93'), 'GOLD'),
 (10232, 240, Decimal('24995.61'), 'GOLD'),
 (10233, 328, Decimal('7178.66'), 'NONE'),
 (10234, 412, Decimal('31670.37'), 'GOLD'),
 (10235, 260, Decimal('29284.42'), 'GOLD'),
 (10236, 486, Decimal('5899.38'), 'NONE'),
 (10237, 181, Decimal('22602.36'), 'GOLD'),
 (10238, 145, Decimal('28211.70'), 'GOLD'),
 (10239, 311, Decimal('16212.59'), 'GOLD'),
 (10240, 177, Decimal('15183.63'), 'GOLD'),
 (10241, 209, Decimal('36069.26'), 'GOLD'),
 (10242, 456, Decimal('1679.92'), 'NONE'),
 (10243, 495, Decimal('6276.60'), 'NONE'),
 (10244, 141, Decimal('26155.91'), 'GOLD'),
 (10245, 455, Decimal('32239.47'), 'GOLD'),
 (10246, 141, Decimal('35420.74'), 'GOLD'),
 (10247, 334, Decimal('28394.54'), 'GOLD'),
 (10248, 131, Decimal('41445.21'), 'GOLD'),
 (10249, 173, Decimal('11843.45'), 'GOLD'),
 (10250, 450, Decimal('42798.08'), 'GOLD'),
 (10251, 328, Decimal('31102.85'), 'GOLD'),
 (10252, 406, Decimal('25080.96'), 'GOLD'),
 (10253, 201, Decimal('45443.54'), 'GOLD'),
 (10254, 323, Decimal('37281.36'), 'GOLD'),
 (10255, 209, Decimal('4632.31'), 'NONE'),
 (10256, 145, Decimal('4710.73'), 'NONE'),
 (10257, 450, Decimal('16753.30'), 'GOLD'),
 (10258, 398, Decimal('22037.91'), 'GOLD'),
 (10259, 166, Decimal('44160.92'), 'GOLD'),
 (10260, 357, Decimal('37769.38'), 'GOLD'),
 (10261, 233, Decimal('22997.45'), 'GOLD'),
 (10262, 141, Decimal('47065.36'), 'GOLD'),
 (10263, 175, Decimal('42044.77'), 'GOLD'),
 (10264, 362, Decimal('18473.71'), 'GOLD'),
 (10265, 471, Decimal('9415.13'), 'NONE'),
 (10266, 386, Decimal('51619.02'), 'GOLD'),
 (10267, 151, Decimal('20314.44'), 'GOLD'),
 (10268, 412, Decimal('35034.57'), 'GOLD'),
 (10269, 382, Decimal('6419.84'), 'NONE'),
 (10270, 282, Decimal('35806.73'), 'GOLD'),
 (10271, 124, Decimal('37430.89'), 'GOLD'),
 (10272, 157, Decimal('23715.70'), 'GOLD'),
 (10273, 314, Decimal('45352.47'), 'GOLD'),
 (10274, 379, Decimal('12530.51'), 'GOLD'),
 (10275, 119, Decimal('47924.19'), 'GOLD'),
 (10276, 204, Decimal('51152.86'), 'GOLD'),
 (10277, 148, Decimal('2611.84'), 'NONE'),
 (10278, 112, Decimal('33347.88'), 'GOLD'),
 (10279, 141, Decimal('20009.53'), 'GOLD'),
 (10280, 249, Decimal('48298.99'), 'GOLD'),
 (10281, 157, Decimal('39641.43'), 'GOLD'),
 (10282, 124, Decimal('47979.98'), 'GOLD'),
 (10283, 260, Decimal('37527.58'), 'GOLD'),
 (10284, 299, Decimal('32260.16'), 'GOLD'),
 (10285, 286, Decimal('43134.04'), 'GOLD'),
 (10286, 172, Decimal('1960.80'), 'NONE'),
 (10287, 298, Decimal('61402.00'), 'GOLD'),
 (10288, 166, Decimal('38785.48'), 'GOLD'),
 (10289, 167, Decimal('12538.01'), 'GOLD'),
 (10290, 198, Decimal('5858.56'), 'NONE'),
 (10291, 448, Decimal('48809.90'), 'GOLD'),
 (10292, 131, Decimal('35321.97'), 'GOLD'),
 (10293, 249, Decimal('33924.24'), 'GOLD'),
 (10294, 204, Decimal('4424.40'), 'NONE'),
 (10295, 362, Decimal('15059.76'), 'GOLD'),
 (10296, 415, Decimal('31310.09'), 'GOLD'),
 (10297, 189, Decimal('17359.53'), 'GOLD'),
 (10298, 103, Decimal('6066.78'), 'NONE'),
 (10299, 186, Decimal('34341.08'), 'GOLD'),
 (10300, 128, Decimal('24101.81'), 'GOLD'),
 (10301, 299, Decimal('36798.88'), 'GOLD'),
 (10302, 201, Decimal('23908.24'), 'GOLD'),
 (10303, 484, Decimal('3474.66'), 'NONE'),
 (10304, 256, Decimal('53116.99'), 'GOLD'),
 (10305, 286, Decimal('47411.33'), 'GOLD'),
 (10306, 187, Decimal('52825.29'), 'GOLD'),
 (10307, 339, Decimal('23333.06'), 'GOLD'),
 (10308, 319, Decimal('42339.76'), 'GOLD'),
 (10309, 121, Decimal('17876.32'), 'GOLD'),
 (10310, 259, Decimal('61234.67'), 'GOLD'),
 (10311, 141, Decimal('36140.38'), 'GOLD'),
 (10312, 124, Decimal('55639.66'), 'GOLD'),
 (10313, 202, Decimal('33594.58'), 'GOLD'),
 (10314, 227, Decimal('53745.34'), 'GOLD'),
 (10315, 119, Decimal('19501.82'), 'GOLD'),
 (10316, 240, Decimal('46788.14'), 'GOLD'),
 (10317, 161, Decimal('2434.25'), 'NONE'),
 (10318, 157, Decimal('35152.12'), 'GOLD'),
 (10319, 456, Decimal('27550.51'), 'GOLD'),
 (10320, 144, Decimal('16799.03'), 'GOLD'),
 (10321, 462, Decimal('48355.87'), 'GOLD'),
 (10322, 363, Decimal('50799.69'), 'GOLD'),
 (10323, 128, Decimal('7466.32'), 'NONE'),
 (10324, 181, Decimal('44400.50'), 'GOLD'),
 (10325, 121, Decimal('34638.14'), 'GOLD'),
 (10326, 144, Decimal('19206.68'), 'GOLD'),
 (10327, 145, Decimal('20564.86'), 'GOLD'),
 (10328, 278, Decimal('37654.09'), 'GOLD'),
 (10329, 131, Decimal('50025.35'), 'GOLD'),
 (10330, 385, Decimal('15822.84'), 'GOLD'),
 (10331, 486, Decimal('45994.07'), 'GOLD'),
 (10332, 187, Decimal('47159.11'), 'GOLD'),
 (10333, 129, Decimal('26248.78'), 'GOLD'),
 (10334, 144, Decimal('23014.17'), 'GOLD'),
 (10335, 124, Decimal('6466.44'), 'NONE'),
 (10336, 172, Decimal('51209.58'), 'GOLD'),
 (10337, 424, Decimal('25505.98'), 'GOLD'),
 (10338, 381, Decimal('12081.52'), 'GOLD'),
 (10339, 398, Decimal('48927.64'), 'GOLD'),
 (10340, 216, Decimal('24945.21'), 'GOLD'),
 (10341, 382, Decimal('42813.83'), 'GOLD'),
 (10342, 114, Decimal('40265.60'), 'GOLD'),
 (10343, 353, Decimal('17104.91'), 'GOLD'),
 (10344, 350, Decimal('18888.31'), 'GOLD'),
 (10345, 103, Decimal('1676.14'), 'NONE'),
 (10346, 112, Decimal('14191.12'), 'GOLD'),
 (10347, 114, Decimal('41995.62'), 'GOLD'),
 (10348, 458, Decimal('33145.56'), 'GOLD'),
 (10349, 151, Decimal('39964.63'), 'GOLD'),
 (10350, 141, Decimal('46493.16'), 'GOLD'),
 (10351, 324, Decimal('13671.82'), 'GOLD'),
 (10352, 198, Decimal('9658.74'), 'NONE'),
 (10353, 447, Decimal('26304.13'), 'GOLD'),
 (10354, 323, Decimal('39440.59'), 'GOLD'),
 (10355, 141, Decimal('25529.78'), 'GOLD'),
 (10356, 250, Decimal('26311.63'), 'GOLD'),
 (10357, 124, Decimal('40676.26'), 'GOLD'),
 (10358, 141, Decimal('44185.46'), 'GOLD'),
 (10359, 353, Decimal('32600.61'), 'GOLD'),
 (10360, 496, Decimal('52166.00'), 'GOLD'),
 (10361, 282, Decimal('31835.36'), 'GOLD'),
 (10362, 161, Decimal('12692.19'), 'GOLD'),
 (10363, 334, Decimal('45785.34'), 'GOLD'),
 (10364, 350, Decimal('1834.56'), 'NONE'),
 (10365, 320, Decimal('8307.28'), 'NONE'),
 (10366, 381, Decimal('14379.90'), 'GOLD'),
 (10367, 205, Decimal('39580.60'), 'GOLD'),
 (10368, 124, Decimal('13874.75'), 'GOLD'),
 (10369, 379, Decimal('28322.83'), 'GOLD'),
 (10370, 276, Decimal('27083.78'), 'GOLD'),
 (10371, 124, Decimal('35137.54'), 'GOLD'),
 (10372, 398, Decimal('33967.73'), 'GOLD'),
 (10373, 311, Decimal('46770.52'), 'GOLD'),
 (10374, 333, Decimal('21432.31'), 'GOLD'),
 (10375, 119, Decimal('49523.67'), 'GOLD'),
 (10376, 219, Decimal('3452.75'), 'NONE'),
 (10377, 186, Decimal('23602.90'), 'GOLD'),
 (10378, 141, Decimal('32289.12'), 'GOLD'),
 (10379, 141, Decimal('16621.27'), 'GOLD'),
 (10380, 141, Decimal('34404.21'), 'GOLD'),
 (10381, 321, Decimal('32626.09'), 'GOLD'),
 (10382, 124, Decimal('47765.59'), 'GOLD'),
 (10383, 141, Decimal('36851.98'), 'GOLD'),
 (10384, 321, Decimal('14155.57'), 'GOLD'),
 (10385, 124, Decimal('4466.71'), 'NONE'),
 (10386, 141, Decimal('46968.52'), 'GOLD'),
 (10387, 148, Decimal('3516.04'), 'NONE'),
 (10388, 462, Decimal('30293.77'), 'GOLD'),
 (10389, 448, Decimal('27966.54'), 'GOLD'),
 (10390, 124, Decimal('55902.50'), 'GOLD'),
 (10391, 276, Decimal('29848.52'), 'GOLD'),
 (10392, 452, Decimal('8807.12'), 'NONE'),
 (10393, 323, Decimal('33593.32'), 'GOLD'),
 (10394, 141, Decimal('18102.74'), 'GOLD'),
 (10395, 250, Decimal('17928.09'), 'GOLD'),
 (10396, 124, Decimal('27695.54'), 'GOLD'),
 (10397, 242, Decimal('12432.32'), 'GOLD'),
 (10398, 353, Decimal('46656.94'), 'GOLD'),
 (10399, 496, Decimal('30253.75'), 'GOLD'),
 (10400, 450, Decimal('31755.34'), 'GOLD'),
 (10401, 328, Decimal('43525.04'), 'GOLD'),
 (10402, 406, Decimal('12190.85'), 'GOLD'),
 (10403, 201, Decimal('37258.94'), 'GOLD'),
 (10404, 323, Decimal('41426.81'), 'GOLD'),
 (10405, 209, Decimal('35157.75'), 'GOLD'),
 (10406, 145, Decimal('21638.62'), 'GOLD'),
 (10407, 450, Decimal('52229.55'), 'GOLD'),
 (10408, 398, Decimal('615.45'), 'NONE'),
 (10409, 166, Decimal('2326.18'), 'NONE'),
 (10410, 357, Decimal('36442.34'), 'GOLD'),
 (10411, 233, Decimal('29070.38'), 'GOLD'),
 (10412, 141, Decimal('46895.48'), 'GOLD'),
 (10413, 175, Decimal('28500.78'), 'GOLD'),
 (10414, 362, Decimal('50806.85'), 'GOLD'),
 (10415, 471, Decimal('10945.26'), 'GOLD'),
 (10416, 386, Decimal('35362.26'), 'GOLD'),
 (10417, 141, Decimal('28574.90'), 'GOLD'),
 (10418, 412, Decimal('23627.44'), 'GOLD'),
 (10419, 382, Decimal('52420.07'), 'GOLD'),
 (10420, 282, Decimal('42251.51'), 'GOLD'),
 (10421, 124, Decimal('7639.10'), 'NONE'),
 (10422, 157, Decimal('5849.44'), 'NONE'),
 (10423, 314, Decimal('8597.73'), 'NONE'),
 (10424, 141, Decimal('29310.30'), 'GOLD'),
 (10425, 119, Decimal('41623.44'), 'GOLD')]

## Sub-Queries

### Introduction

| <img src="../../images/slides-108.jpg"> |
| :---: |
| __Subquery Overview__ |

- The Top Ten Greatest Hitters query is an example of using a subquery.


- The query "looks up" player names in the ```People``` table.

In [15]:
%%sql
SELECT 
        Batting.playerID, 
        (SELECT People.nameFirst FROM People WHERE 
                People.playerID=Batting.playerID) as first_name, 
        (SELECT People.nameLast FROM People WHERE 
            People.playerID=Batting.playerID) as last_name, 
        sum(Batting.h)/sum(batting.ab) as career_average, 
        sum(Batting.h) as career_hits, 
        sum(Batting.ab) as career_at_bats,
        min(Batting.yearID) as first_year, 
        max(Batting.yearID) as last_year 
        FROM 
        Batting 
        GROUP BY 
        playerId 
        HAVING 
        career_at_bats > 200 AND last_year >= 1960 
        ORDER BY 
        career_average DESC 
        LIMIT 10;

10 rows affected.

[('willite01', 'Ted', 'Williams', 0.3444069556189982, 2654.0, 7706.0, '1939', '1960'),
 ('gwynnto01', 'Tony', 'Gwynn', 0.3381782945736434, 3141.0, 9288.0, '1982', '2001'),
 ('musiast01', 'Stan', 'Musial', 0.3308421436383522, 3630.0, 10972.0, '1941', '1963'),
 ('boggswa01', 'Wade', 'Boggs', 0.32788671023965144, 3010.0, 9180.0, '1982', '1999'),
 ('carewro01', 'Rod', 'Carew', 0.32775093934514227, 3053.0, 9315.0, '1967', '1985'),
 ('puckeki01', 'Kirby', 'Puckett', 0.3180563224737714, 2304.0, 7244.0, '1984', '1995'),
 ('guerrvl01', 'Vladimir', 'Guerrero', 0.31759656652360513, 2590.0, 8155.0, '1996', '2011'),
 ('clemero01', 'Roberto', 'Clemente', 0.31732599957689867, 3000.0, 9454.0, '1955', '1972'),
 ('cabremi01', 'Miguel', 'Cabrera', 0.31675078106224464, 2636.0, 8322.0, '2003', '2017'),
 ('heltoto01', 'Todd', 'Helton', 0.31637779452398895, 2519.0, 7962.0, '1997', '2013')]

### Examples

- The only way to learn is doing some examples.

#### Use Case: Get the Roster for a Team and Year

- The initial stab at a query would be

In [16]:
%sql select playerID, g_all as all_games, \
    GS as games_started from appearances \
    where teamID='BOS' and yearID='2004'

50 rows affected.

[('adamste01', '19', '0'),
 ('alvarab01', '1', '1'),
 ('anderji02', '5', '0'),
 ('arroybr01', '32', '29'),
 ('astacpe01', '5', '1'),
 ('bellhma01', '138', '132'),
 ('brownja04', '4', '0'),
 ('burksel01', '11', '8'),
 ('cabreor01', '58', '58'),
 ('castifr01', '2', '0'),
 ('crespce01', '52', '16'),
 ('damonjo01', '150', '146'),
 ('daubabr01', '30', '19'),
 ('dinarle01', '22', '0'),
 ('dominan01', '7', '1'),
 ('embreal01', '71', '0'),
 ('foulkke01', '72', '0'),
 ('garcino01', '38', '38'),
 ('gutieri01', '21', '8'),
 ('hyzduad01', '17', '0'),
 ('jonesbo04', '3', '0'),
 ('kaplega01', '136', '73'),
 ('kimby01', '7', '3'),
 ('leskacu01', '32', '0'),
 ('lowede01', '33', '33'),
 ('malasma01', '19', '0'),
 ('martian01', '11', '0'),
 ('martipe02', '33', '33'),
 ('martisa01', '3', '0'),
 ('mccarda01', '91', '31'),
 ('mendora01', '27', '0'),
 ('mientdo01', '49', '27'),
 ('millake01', '150', '140'),
 ('mirabdo01', '59', '42'),
 ('muellbi02', '110', '108'),
 ('myersmi01', '25', '0'),
 ('nelsojo01', '3', '0'),
 ('nixontr01', '48', '37'),
 ('ortizda01', '150', '145'),
 ('ramirma02', '152', '150'),
 ('reesepo01', '96', '74'),
 ('roberda07', '45', '19'),
 ('schilcu01', '32', '32'),
 ('seibeph01', '2', '0'),
 ('snydeea01', '1', '1'),
 ('timlimi01', '76', '0'),
 ('varitja01', '137', '122'),
 ('wakefti01', '32', '30'),
 ('willisc01', '28', '0'),
 ('youklke01', '72', '54')]

- A better answer would be

In [17]:
%sql select \
    playerID, \
    (select nameLast from people where \
         people.playerID = appearances.playerID) as nameLast, \
    (select nameFirst from people where \
         people.playerID = appearances.playerID) as nameFirst, \
    g_all as all_games, GS as games_started from appearances where teamID='BOS' and yearID='2004'

50 rows affected.

[('adamste01', 'Adams', 'Terry', '19', '0'),
 ('alvarab01', 'Alvarez', 'Abe', '1', '1'),
 ('anderji02', 'Anderson', 'Jimmy', '5', '0'),
 ('arroybr01', 'Arroyo', 'Bronson', '32', '29'),
 ('astacpe01', 'Astacio', 'Pedro', '5', '1'),
 ('bellhma01', 'Bellhorn', 'Mark', '138', '132'),
 ('brownja04', 'Brown', 'Jamie', '4', '0'),
 ('burksel01', 'Burks', 'Ellis', '11', '8'),
 ('cabreor01', 'Cabrera', 'Orlando', '58', '58'),
 ('castifr01', 'Castillo', 'Frank', '2', '0'),
 ('crespce01', 'Crespo', 'Cesar', '52', '16'),
 ('damonjo01', 'Damon', 'Johnny', '150', '146'),
 ('daubabr01', 'Daubach', 'Brian', '30', '19'),
 ('dinarle01', 'DiNardo', 'Lenny', '22', '0'),
 ('dominan01', 'Dominique', 'Andy', '7', '1'),
 ('embreal01', 'Embree', 'Alan', '71', '0'),
 ('foulkke01', 'Foulke', 'Keith', '72', '0'),
 ('garcino01', 'Garciaparra', 'Nomar', '38', '38'),
 ('gutieri01', 'Gutierrez', 'Ricky', '21', '8'),
 ('hyzduad01', 'Hyzdu', 'Adam', '17', '0'),
 ('jonesbo04', 'Jones', 'Bobby', '3', '0'),
 ('kaplega01', 'Kapler', 'Gabe', '136', '73'),
 ('kimby01', 'Kim', 'Byung-Hyun', '7', '3'),
 ('leskacu01', 'Leskanic', 'Curt', '32', '0'),
 ('lowede01', 'Lowe', 'Derek', '33', '33'),
 ('malasma01', 'Malaska', 'Mark', '19', '0'),
 ('martian01', 'Martinez', 'Anastacio', '11', '0'),
 ('martipe02', 'Martinez', 'Pedro', '33', '33'),
 ('martisa01', 'Martinez', 'Sandy', '3', '0'),
 ('mccarda01', 'McCarty', 'Dave', '91', '31'),
 ('mendora01', 'Mendoza', 'Ramiro', '27', '0'),
 ('mientdo01', 'Mientkiewicz', 'Doug', '49', '27'),
 ('millake01', 'Millar', 'Kevin', '150', '140'),
 ('mirabdo01', 'Mirabelli', 'Doug', '59', '42'),
 ('muellbi02', 'Mueller', 'Bill', '110', '108'),
 ('myersmi01', 'Myers', 'Mike', '25', '0'),
 ('nelsojo01', 'Nelson', 'Joe', '3', '0'),
 ('nixontr01', 'Nixon', 'Trot', '48', '37'),
 ('ortizda01', 'Ortiz', 'David', '150', '145'),
 ('ramirma02', 'Ramirez', 'Manny', '152', '150'),
 ('reesepo01', 'Reese', 'Pokey', '96', '74'),
 ('roberda07', 'Roberts', 'Dave', '45', '19'),
 ('schilcu01', 'Schilling', 'Curt', '32', '32'),
 ('seibeph01', 'Seibel', 'Phil', '2', '0'),
 ('snydeea01', 'Snyder', 'Earl', '1', '1'),
 ('timlimi01', 'Timlin', 'Mike', '76', '0'),
 ('varitja01', 'Varitek', 'Jason', '137', '122'),
 ('wakefti01', 'Wakefield', 'Tim', '32', '30'),
 ('willisc01', 'Williamson', 'Scott', '28', '0'),
 ('youklke01', 'Youkilis', 'Kevin', '72', '54')]

- And yes, before you ask, you could have used a JOIN

In [18]:
%sql select \
    people.playerID, nameLast as nameLast, nameFirst as nameFirst, \
    g_all as all_games, GS as games_started \
    from people join appearances on people.playerID=appearances.playerID \
    where teamID='BOS' and yearID='2004'

50 rows affected.

[('adamste01', 'Adams', 'Terry', '19', '0'),
 ('alvarab01', 'Alvarez', 'Abe', '1', '1'),
 ('anderji02', 'Anderson', 'Jimmy', '5', '0'),
 ('arroybr01', 'Arroyo', 'Bronson', '32', '29'),
 ('astacpe01', 'Astacio', 'Pedro', '5', '1'),
 ('bellhma01', 'Bellhorn', 'Mark', '138', '132'),
 ('brownja04', 'Brown', 'Jamie', '4', '0'),
 ('burksel01', 'Burks', 'Ellis', '11', '8'),
 ('cabreor01', 'Cabrera', 'Orlando', '58', '58'),
 ('castifr01', 'Castillo', 'Frank', '2', '0'),
 ('crespce01', 'Crespo', 'Cesar', '52', '16'),
 ('damonjo01', 'Damon', 'Johnny', '150', '146'),
 ('daubabr01', 'Daubach', 'Brian', '30', '19'),
 ('dinarle01', 'DiNardo', 'Lenny', '22', '0'),
 ('dominan01', 'Dominique', 'Andy', '7', '1'),
 ('embreal01', 'Embree', 'Alan', '71', '0'),
 ('foulkke01', 'Foulke', 'Keith', '72', '0'),
 ('garcino01', 'Garciaparra', 'Nomar', '38', '38'),
 ('gutieri01', 'Gutierrez', 'Ricky', '21', '8'),
 ('hyzduad01', 'Hyzdu', 'Adam', '17', '0'),
 ('jonesbo04', 'Jones', 'Bobby', '3', '0'),
 ('kaplega01', 'Kapler', 'Gabe', '136', '73'),
 ('kimby01', 'Kim', 'Byung-Hyun', '7', '3'),
 ('leskacu01', 'Leskanic', 'Curt', '32', '0'),
 ('lowede01', 'Lowe', 'Derek', '33', '33'),
 ('malasma01', 'Malaska', 'Mark', '19', '0'),
 ('martian01', 'Martinez', 'Anastacio', '11', '0'),
 ('martipe02', 'Martinez', 'Pedro', '33', '33'),
 ('martisa01', 'Martinez', 'Sandy', '3', '0'),
 ('mccarda01', 'McCarty', 'Dave', '91', '31'),
 ('mendora01', 'Mendoza', 'Ramiro', '27', '0'),
 ('mientdo01', 'Mientkiewicz', 'Doug', '49', '27'),
 ('millake01', 'Millar', 'Kevin', '150', '140'),
 ('mirabdo01', 'Mirabelli', 'Doug', '59', '42'),
 ('muellbi02', 'Mueller', 'Bill', '110', '108'),
 ('myersmi01', 'Myers', 'Mike', '25', '0'),
 ('nelsojo01', 'Nelson', 'Joe', '3', '0'),
 ('nixontr01', 'Nixon', 'Trot', '48', '37'),
 ('ortizda01', 'Ortiz', 'David', '150', '145'),
 ('ramirma02', 'Ramirez', 'Manny', '152', '150'),
 ('reesepo01', 'Reese', 'Pokey', '96', '74'),
 ('roberda07', 'Roberts', 'Dave', '45', '19'),
 ('schilcu01', 'Schilling', 'Curt', '32', '32'),
 ('seibeph01', 'Seibel', 'Phil', '2', '0'),
 ('snydeea01', 'Snyder', 'Earl', '1', '1'),
 ('timlimi01', 'Timlin', 'Mike', '76', '0'),
 ('varitja01', 'Varitek', 'Jason', '137', '122'),
 ('wakefti01', 'Wakefield', 'Tim', '32', '30'),
 ('willisc01', 'Williamson', 'Scott', '28', '0'),
 ('youklke01', 'Youkilis', 'Kevin', '72', '54')]

- There are often many, many queries that produce the same result.


- Sometimes the query compiler analyzes and produces the same or a similar plan.


- Sometimes you have to play around with the various options.

| <img src="../../images/slides-110.jpg"> |
| :---: |
| __Subquery vs Join Execution__ |

#### Get All Hall of Fame Players who Ever Played for Boston

- This is the table definition for HallOfFame

```
CREATE TABLE `HallOfFame` (
  `playerID` text,
  `yearid` text,
  `votedBy` text,
  `ballots` text,
  `needed` text,
  `votes` text,
  `inducted` text,
  `category` text,
  `needed_note` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

- You can examime the readme associated with Lahman 2017 to understand the fields:

```
2.6  HallOfFame table

playerID       Player ID code
yearID         Year of ballot
votedBy        Method by which player was voted upon
ballots        Total ballots cast in that year
needed         Number of votes needed for selection in that year
votes          Total votes received
inducted       Whether player was inducted by that vote or not (Y or N)
category       Category in which candidate was honored
needed_note    Explanation of qualifiers for special elections
```

- So that following query returns playerIDs of people inducted (elected to) the Hall of Fame.

In [19]:
%sql select * from HallOfFame where inducted='Y' limit 10

10 rows affected.

[('aaronha01', '1982', 'BBWAA', '415', '312', '406', 'Y', 'Player', '', 1),
 ('alexape01', '1938', 'BBWAA', '262', '197', '212', 'Y', 'Player', '', 1),
 ('alomaro01', '2011', 'BBWAA', '581', '436', '523', 'Y', 'Player', '', 1),
 ('alstowa01', '1983', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('andersp01', '2000', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('ansonca01', '1939', 'Old Timers', '', '', '', 'Y', 'Player', '', 1),
 ('aparilu01', '1984', 'BBWAA', '403', '303', '341', 'Y', 'Player', '', 1),
 ('applilu01', '1964', 'Run Off', '201', '', '189', 'Y', 'Player', '1st', 1),
 ('ashburi01', '1995', 'Veterans', '', '', '', 'Y', 'Player', '', 1),
 ('averiea01', '1975', 'Veterans', '', '', '', 'Y', 'Player', '', 1)]

- A query to determine all of the players who every appeared at least once for BOS is:

In [20]:
%sql select distinct playerid from appearances where teamID='BOS' limit 10

10 rows affected.

[('bevilbe01',),
 ('colliji01',),
 ('crigelo01',),
 ('cuppyni01',),
 ('dowdto01',),
 ('ferriho01',),
 ('foremfr01',),
 ('freembu01',),
 ('gleasha01',),
 ('hemphch01',)]

- A query to determine people who played at least once for BOS and who are in the Hall of Fame could be:

In [23]:
%sql select distinct playerid from appearances where teamID='BOS' \
    and EXISTS (select * from HallOfFame where \
                halloffame.playerid=appearances.playerid and inducted='Y')

36 rows affected.

[('colliji01',),
 ('youngcy01',),
 ('burkeje01',),
 ('speaktr01',),
 ('chesbja01',),
 ('hoopeha01',),
 ('ruthba01',),
 ('pennohe01',),
 ('hoytwa01',),
 ('ruffire01',),
 ('ferreri01',),
 ('grovele01',),
 ('cronijo01',),
 ('foxxji01',),
 ('manushe01',),
 ('doerrbo01',),
 ('willite01',),
 ('simmoal01',),
 ('boudrlo01',),
 ('kellge01',),
 ('yastrca01',),
 ('willidi02',),
 ('fiskca01',),
 ('aparilu01',),
 ('cepedor01',),
 ('maricju01',),
 ('riceji01',),
 ('jenkife01',),
 ('eckerde01',),
 ('perezto01',),
 ('boggswa01',),
 ('seaveto01',),
 ('dawsoan01',),
 ('martipe02',),
 ('henderi01',),
 ('smoltjo01',)]

- This query took about 13 seconds on my Mac.


- If I were going to do this frequently, I would add an index on ```HallOfFame.playerID```


```
ALTER TABLE `lahman2017`.`HallOfFame` 
    CHANGE COLUMN `playerID` `playerID` VARCHAR(12) NULL DEFAULT NULL ,
    ADD INDEX `pid_index` (`playerID` ASC);
```

- This reduces the execution time to 0.02 seconds, for a speedup of about 500x.


- Pulling the complete query together.

In [27]:
%sql select distinct playerid, \
    (select nameLast from people where \
         people.playerid = appearances.playerid) as nameLast, \
    (select nameFirst from people where \
         people.playerid = appearances.playerid) as nameFirst, \
    (select yearID from HallOfFame where \
         HallOfFame.playerID = appearances.playerid and \
        inducted = 'Y') as inducted_year \
    from appearances where teamID='BOS' \
    and EXISTS (select * from HallOfFame where halloffame.playerid=appearances.playerid and inducted='Y') \
    order by inducted_year asc limit 10;

10 rows affected.

[('ruthba01', 'Ruth', 'Babe', '1936'),
 ('speaktr01', 'Speaker', 'Tris', '1937'),
 ('youngcy01', 'Young', 'Cy', '1937'),
 ('colliji01', 'Collins', 'Jimmy', '1945'),
 ('burkeje01', 'Burkett', 'Jesse', '1946'),
 ('chesbja01', 'Chesbro', 'Jack', '1946'),
 ('grovele01', 'Grove', 'Lefty', '1947'),
 ('pennohe01', 'Pennock', 'Herb', '1948'),
 ('foxxji01', 'Foxx', 'Jimmie', '1951'),
 ('simmoal01', 'Simmons', 'Al', '1953')]

### Some Additional Operators

- We have seen the common comparison operators $\gt, \ge, \lt, \le, =, $ and != for comparing columns and values in where clauses.


- There are some additional operators that are useful.
    - ```LIKE``` determines if a string matches a pattern.
    - ```EXISTS``` return ```true``` if the result of a query or sub-query is not NULL
    - ```IN``` returns true if a value is in a list of values.
    
<u>Examples:</u>

- People born is specific countries

In [28]:
%sql select playerID, nameLast, nameFirst, birthYear, birthCountry from people \
	where birthCountry in ('Afghanistan', 'Viet Nam', 'At Sea')

3 rows affected.

[('bronkje01', 'Bronkey', 'Jeff', 1965, 'Afghanistan'),
 ('graveda01', 'Graves', 'Danny', 1973, 'Viet Nam'),
 ('porraed01', 'Porray', 'Ed', 1888, 'At Sea')]

- People whose name matches a pattern

In [30]:
%sql select playerid, nameLast, nameFirst from people where \
    nameLast LIKE 'Willi%' and nameFirst LIKE 'T%'

5 rows affected.

[('willita01', 'Williams', 'Taylor'),
 ('willite01', 'Williams', 'Ted'),
 ('willito01', 'Williams', 'Tom'),
 ('willito02', 'Williams', 'Todd'),
 ('willitr01', 'Williams', 'Trevor')]

- Incorrect country names. I downloaded a list of ISO 3166-1 country names and codes.

In [32]:
%sql select * from useful_data.countries limit 10;

10 rows affected.

[('Afghanistan', 'AF'),
 ('Åland Islands', 'AX'),
 ('Albania', 'AL'),
 ('Algeria', 'DZ'),
 ('American Samoa', 'AS'),
 ('Andorra', 'AD'),
 ('Angola', 'AO'),
 ('Anguilla', 'AI'),
 ('Antarctica', 'AQ'),
 ('Antigua and Barbuda', 'AG')]

In [33]:
%sql (select distinct birthCountry as badCountryName from people \
	where birthCountry not in (select name from useful_data.countries)) \
union \
(select distinct deathCountry as badCountryName from people \
	where deathCountry not in (select name from useful_data.countries))

12 rows affected.

[('USA',),
 ('D.R.',),
 ('Venezuela',),
 ('CAN',),
 ('P.R.',),
 ('Russia',),
 ('South Korea',),
 ('V.I.',),
 ('',),
 ('Taiwan',),
 ('At Sea',),
 ('North Korea',)]

## Views

### Overview

"In a database, a view is the result set of a stored query on the data, which the database users can query just as they would in a persistent database collection object. This pre-established query command is kept in the database dictionary. Unlike ordinary base tables in a relational database, a view does not form part of the physical schema: as a result set, it is a virtual table computed or collated dynamically from data in the database when access to that view is requested. Changes applied to the data in a relevant underlying table are reflected in the data shown in subsequent invocations of the view." ```https://en.wikipedia.org/wiki/View_(SQL)```

- There are several uses for views:
    - Provide a table that less sophisticated users can query without understanding complexity of JOIN, aggregates, etc.
    - Security:
        - Administrators define the view on tables that a general user cannot access.
        - General user can access the view, but not the base tables.
    - Change isolation: Developers can code against the views and not have to change code if base tables change.
    
<img src="../../images/slides-111.jpg">
<img src="../../images/slides-112.jpg">

### Examples

- The examples are "simple." Any SELECT statement can create a view.


- I want a resource ```/rosters``` that is queryable on ```teamID``` and ```yearID```

```
create view rosters as 
	select 
	people.playerID, nameLast, nameFirst, teamID, yearID, G_all
    from
    people join appearances
    on
    people.playerid = appearances.playerid
```

In [35]:
%sql select * from roster where teamID='BOS' and yearid='2004'

50 rows affected.

[('adamste01', 'Adams', 'Terry', 'BOS', '2004', '19'),
 ('alvarab01', 'Alvarez', 'Abe', 'BOS', '2004', '1'),
 ('anderji02', 'Anderson', 'Jimmy', 'BOS', '2004', '5'),
 ('arroybr01', 'Arroyo', 'Bronson', 'BOS', '2004', '32'),
 ('astacpe01', 'Astacio', 'Pedro', 'BOS', '2004', '5'),
 ('bellhma01', 'Bellhorn', 'Mark', 'BOS', '2004', '138'),
 ('brownja04', 'Brown', 'Jamie', 'BOS', '2004', '4'),
 ('burksel01', 'Burks', 'Ellis', 'BOS', '2004', '11'),
 ('cabreor01', 'Cabrera', 'Orlando', 'BOS', '2004', '58'),
 ('castifr01', 'Castillo', 'Frank', 'BOS', '2004', '2'),
 ('crespce01', 'Crespo', 'Cesar', 'BOS', '2004', '52'),
 ('damonjo01', 'Damon', 'Johnny', 'BOS', '2004', '150'),
 ('daubabr01', 'Daubach', 'Brian', 'BOS', '2004', '30'),
 ('dinarle01', 'DiNardo', 'Lenny', 'BOS', '2004', '22'),
 ('dominan01', 'Dominique', 'Andy', 'BOS', '2004', '7'),
 ('embreal01', 'Embree', 'Alan', 'BOS', '2004', '71'),
 ('foulkke01', 'Foulke', 'Keith', 'BOS', '2004', '72'),
 ('garcino01', 'Garciaparra', 'Nomar', 'BOS', '2004', '38'),
 ('gutieri01', 'Gutierrez', 'Ricky', 'BOS', '2004', '21'),
 ('hyzduad01', 'Hyzdu', 'Adam', 'BOS', '2004', '17'),
 ('jonesbo04', 'Jones', 'Bobby', 'BOS', '2004', '3'),
 ('kaplega01', 'Kapler', 'Gabe', 'BOS', '2004', '136'),
 ('kimby01', 'Kim', 'Byung-Hyun', 'BOS', '2004', '7'),
 ('leskacu01', 'Leskanic', 'Curt', 'BOS', '2004', '32'),
 ('lowede01', 'Lowe', 'Derek', 'BOS', '2004', '33'),
 ('malasma01', 'Malaska', 'Mark', 'BOS', '2004', '19'),
 ('martian01', 'Martinez', 'Anastacio', 'BOS', '2004', '11'),
 ('martipe02', 'Martinez', 'Pedro', 'BOS', '2004', '33'),
 ('martisa01', 'Martinez', 'Sandy', 'BOS', '2004', '3'),
 ('mccarda01', 'McCarty', 'Dave', 'BOS', '2004', '91'),
 ('mendora01', 'Mendoza', 'Ramiro', 'BOS', '2004', '27'),
 ('mientdo01', 'Mientkiewicz', 'Doug', 'BOS', '2004', '49'),
 ('millake01', 'Millar', 'Kevin', 'BOS', '2004', '150'),
 ('mirabdo01', 'Mirabelli', 'Doug', 'BOS', '2004', '59'),
 ('muellbi02', 'Mueller', 'Bill', 'BOS', '2004', '110'),
 ('myersmi01', 'Myers', 'Mike', 'BOS', '2004', '25'),
 ('nelsojo01', 'Nelson', 'Joe', 'BOS', '2004', '3'),
 ('nixontr01', 'Nixon', 'Trot', 'BOS', '2004', '48'),
 ('ortizda01', 'Ortiz', 'David', 'BOS', '2004', '150'),
 ('ramirma02', 'Ramirez', 'Manny', 'BOS', '2004', '152'),
 ('reesepo01', 'Reese', 'Pokey', 'BOS', '2004', '96'),
 ('roberda07', 'Roberts', 'Dave', 'BOS', '2004', '45'),
 ('schilcu01', 'Schilling', 'Curt', 'BOS', '2004', '32'),
 ('seibeph01', 'Seibel', 'Phil', 'BOS', '2004', '2'),
 ('snydeea01', 'Snyder', 'Earl', 'BOS', '2004', '1'),
 ('timlimi01', 'Timlin', 'Mike', 'BOS', '2004', '76'),
 ('varitja01', 'Varitek', 'Jason', 'BOS', '2004', '137'),
 ('wakefti01', 'Wakefield', 'Tim', 'BOS', '2004', '32'),
 ('willisc01', 'Williamson', 'Scott', 'BOS', '2004', '28'),
 ('youklke01', 'Youkilis', 'Kevin', 'BOS', '2004', '72')]

- A more complete roster. I want to see info from ```appearances, batting, pitching, fielding``` and the ```managers.```


- We can build this up step by step, starting with ```people``` and ```appearances.```

In [38]:
%%sql
select
	people.playerid, nameLast, nameFirst, 
    teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
from
	people join appearances on
    people.playerid=appearances.playerid limit 10;

10 rows affected.

[('aardsda01', 'Aardsma', 'David', '33', '0', '30', '33', '33'),
 ('aardsda01', 'Aardsma', 'David', '47', '0', '5', '47', '47'),
 ('aardsda01', 'Aardsma', 'David', '25', '0', '2', '25', '25'),
 ('aardsda01', 'Aardsma', 'David', '45', '0', '43', '45', '45'),
 ('aardsda01', 'Aardsma', 'David', '1', '0', '0', '1', '1'),
 ('aardsda01', 'Aardsma', 'David', '43', '0', '41', '43', '43'),
 ('aardsda01', 'Aardsma', 'David', '73', '0', '3', '73', '73'),
 ('aardsda01', 'Aardsma', 'David', '53', '0', '4', '53', '53'),
 ('aardsda01', 'Aardsma', 'David', '11', '0', '11', '11', '11'),
 ('aaronha01', 'Aaron', 'Hank', '158', '157', '158', '0', '158')]

- Get a sumary of information about batting by ```teamID``` and ```yearID.``` We have to ```GROUP BY``` because of the ```stint``` column.

In [41]:
%%sql
    select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
    from batting
    group by playerid, teamid, yearid limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', 1.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'BOS', '2008', 1.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'CHA', '2007', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'CHN', '2006', 2.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'NYA', '2012', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'SEA', '2009', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'SEA', '2010', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'SFN', '2004', 0.0, 0.0, 0.0, 0.0),
 ('aaronha01', 'ATL', '1966', 603.0, 168.0, 44.0, 127.0)]

- ```JOINing``` these two tables would give us information about ```people, appearances``` and ```batting,``` except a person could have appeared for a team but not batted.


- So, I have to use a left join.

In [43]:
%%sql
select
	a.playerid as playerid, nameFirst, nameLast,
    games, gs, g_b, g_p, g_d,
    ab, h, hr, rbi
from
	(select
	people.playerid, nameLast, nameFirst, 
	teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
	from
	people join appearances on
	people.playerid=appearances.playerid) as a
left join
	(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
    from batting
    group by playerid, teamid, yearid) as b 
on
	a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid
limit 10;

10 rows affected.

[('aardsda01', 'David', 'Aardsma', '33', '0', '30', '33', '33', 1.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '47', '0', '5', '47', '47', 1.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '25', '0', '2', '25', '25', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '45', '0', '43', '45', '45', 2.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '1', '0', '0', '1', '1', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '43', '0', '41', '43', '43', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '73', '0', '3', '73', '73', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '53', '0', '4', '53', '53', 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'David', 'Aardsma', '11', '0', '11', '11', '11', 0.0, 0.0, 0.0, 0.0),
 ('aaronha01', 'Hank', 'Aaron', '158', '157', '158', '0', '158', 603.0, 168.0, 44.0, 127.0)]

- The pitching information is

In [45]:
%%sql 
SELECT
	playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
FROM lahman2017.Pitching
	group by playerid, teamid, yearid limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', 1.0, 1.0, 0.0),
 ('aardsda01', 'BOS', '2008', 4.0, 2.0, 0.0),
 ('aardsda01', 'CHA', '2007', 2.0, 1.0, 0.0),
 ('aardsda01', 'CHN', '2006', 3.0, 0.0, 0.0),
 ('aardsda01', 'NYA', '2012', 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 2.0, 2.0, 0.0),
 ('aardsda01', 'SEA', '2009', 3.0, 6.0, 38.0),
 ('aardsda01', 'SEA', '2010', 0.0, 6.0, 31.0),
 ('aardsda01', 'SFN', '2004', 1.0, 0.0, 0.0),
 ('aasedo01', 'BAL', '1985', 10.0, 6.0, 14.0)]

- Now, pull in the pitching information. I still need a ```left join.```

In [48]:
%%sql
select c.*, d.w, d.l, d.sv from
	(select
		a.playerid as playerid, b.teamid, b.yearid, nameFirst, nameLast,
		games, gs, g_b, g_p, g_d,
		ab, h, hr, rbi
	from
		(select
		people.playerid, nameLast, nameFirst, 
		teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
		from
		people join appearances on
		people.playerid=appearances.playerid) as a
	left join
		(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
		from batting
		group by playerid, teamid, yearid) as b 
	on
		a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
left join
	(SELECT
		playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
	FROM lahman2017.Pitching
		group by playerid, teamid, yearid) as d
on
	c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid
limit 15;

15 rows affected.

[('aardsda01', 'ATL', '2015', 'David', 'Aardsma', '33', '0', '30', '33', '33', 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0),
 ('aardsda01', 'BOS', '2008', 'David', 'Aardsma', '47', '0', '5', '47', '47', 1.0, 0.0, 0.0, 0.0, 4.0, 2.0, 0.0),
 ('aardsda01', 'CHA', '2007', 'David', 'Aardsma', '25', '0', '2', '25', '25', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0),
 ('aardsda01', 'CHN', '2006', 'David', 'Aardsma', '45', '0', '43', '45', '45', 2.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0),
 ('aardsda01', 'NYA', '2012', 'David', 'Aardsma', '1', '0', '0', '1', '1', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 'David', 'Aardsma', '43', '0', '41', '43', '43', 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 0.0),
 ('aardsda01', 'SEA', '2009', 'David', 'Aardsma', '73', '0', '3', '73', '73', 0.0, 0.0, 0.0, 0.0, 3.0, 6.0, 38.0),
 ('aardsda01', 'SEA', '2010', 'David', 'Aardsma', '53', '0', '4', '53', '53', 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 31.0),
 ('aardsda01', 'SFN', '2004', 'David', 'Aardsma', '11', '0', '11', '11', '11', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0),
 ('aaronha01', 'ATL', '1966', 'Hank', 'Aaron', '158', '157', '158', '0', '158', 603.0, 168.0, 44.0, 127.0, None, None, None),
 ('aaronha01', 'ATL', '1967', 'Hank', 'Aaron', '155', '152', '155', '0', '152', 600.0, 184.0, 39.0, 109.0, None, None, None),
 ('aaronha01', 'ATL', '1968', 'Hank', 'Aaron', '160', '157', '160', '0', '157', 606.0, 174.0, 29.0, 86.0, None, None, None),
 ('aaronha01', 'ATL', '1969', 'Hank', 'Aaron', '147', '145', '147', '0', '145', 547.0, 164.0, 44.0, 97.0, None, None, None),
 ('aaronha01', 'ATL', '1970', 'Hank', 'Aaron', '150', '135', '150', '0', '136', 516.0, 154.0, 38.0, 118.0, None, None, None),
 ('aaronha01', 'ATL', '1971', 'Hank', 'Aaron', '139', '129', '139', '0', '129', 495.0, 162.0, 47.0, 118.0, None, None, None)]

- You can clearly see the importance of ```left join``` in this example.


- Hank Aaron never pitched, and the rows would not have been included in the result.


- Example

In [49]:
%%sql
select c.*, d.w, d.l, d.sv from
	(select
		a.playerid as playerid, b.teamid, b.yearid, nameFirst, nameLast,
		games, gs, g_b, g_p, g_d,
		ab, h, hr, rbi
	from
		(select
		people.playerid, nameLast, nameFirst, 
		teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
		from
		people join appearances on
		people.playerid=appearances.playerid) as a
	left join
		(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
		from batting
		group by playerid, teamid, yearid) as b 
	on
		a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
join
	(SELECT
		playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
	FROM lahman2017.Pitching
		group by playerid, teamid, yearid) as d
on
	c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid
limit 15;

15 rows affected.

[('aardsda01', 'ATL', '2015', 'David', 'Aardsma', '33', '0', '30', '33', '33', 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0),
 ('aardsda01', 'BOS', '2008', 'David', 'Aardsma', '47', '0', '5', '47', '47', 1.0, 0.0, 0.0, 0.0, 4.0, 2.0, 0.0),
 ('aardsda01', 'CHA', '2007', 'David', 'Aardsma', '25', '0', '2', '25', '25', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0),
 ('aardsda01', 'CHN', '2006', 'David', 'Aardsma', '45', '0', '43', '45', '45', 2.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0),
 ('aardsda01', 'NYA', '2012', 'David', 'Aardsma', '1', '0', '0', '1', '1', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 'David', 'Aardsma', '43', '0', '41', '43', '43', 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 0.0),
 ('aardsda01', 'SEA', '2009', 'David', 'Aardsma', '73', '0', '3', '73', '73', 0.0, 0.0, 0.0, 0.0, 3.0, 6.0, 38.0),
 ('aardsda01', 'SEA', '2010', 'David', 'Aardsma', '53', '0', '4', '53', '53', 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 31.0),
 ('aardsda01', 'SFN', '2004', 'David', 'Aardsma', '11', '0', '11', '11', '11', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0),
 ('aasedo01', 'BAL', '1985', 'Don', 'Aase', '54', '0', '0', '54', '54', 0.0, 0.0, 0.0, 0.0, 10.0, 6.0, 14.0),
 ('aasedo01', 'BAL', '1986', 'Don', 'Aase', '66', '0', '0', '66', '66', 0.0, 0.0, 0.0, 0.0, 6.0, 7.0, 34.0),
 ('aasedo01', 'BAL', '1987', 'Don', 'Aase', '7', '0', '0', '7', '7', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0),
 ('aasedo01', 'BAL', '1988', 'Don', 'Aase', '35', '0', '0', '35', '35', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aasedo01', 'BOS', '1977', 'Don', 'Aase', '13', '13', '0', '13', '13', 0.0, 0.0, 0.0, 0.0, 6.0, 2.0, 0.0),
 ('aasedo01', 'CAL', '1978', 'Don', 'Aase', '29', '29', '0', '29', '29', 0.0, 0.0, 0.0, 0.0, 11.0, 8.0, 0.0)]

- The query lost Hank Aaron. I can live with that.


- Just do not ever lose Ted Williams.


- Just kidding. About the Hank Aaron part. The query is wrong without ```left join.```


- Not kidding about the Ted Williams part. <b><span style="color: red; font-size:32px;">DO NOT EVER LOSE TED WILLIAMS.</b>

- And finally, add in ```fielding.```


- The summary is

In [51]:
%%sql
select playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
from fielding group by playerid, teamid, yearid limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', 1.0, 1.0, 0.0),
 ('aardsda01', 'BOS', '2008', 6.0, 0.0, 3.0),
 ('aardsda01', 'CHA', '2007', 4.0, 1.0, 2.0),
 ('aardsda01', 'CHN', '2006', 5.0, 0.0, 1.0),
 ('aardsda01', 'NYA', '2012', 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 5.0, 0.0, 1.0),
 ('aardsda01', 'SEA', '2009', 5.0, 0.0, 2.0),
 ('aardsda01', 'SEA', '2010', 3.0, 1.0, 2.0),
 ('aardsda01', 'SFN', '2004', 0.0, 0.0, 0.0),
 ('aaronha01', 'ATL', '1966', 12.0, 4.0, 315.0)]

- And, now put all the pieces together.

In [52]:
%%sql
select e.*, f.a, f.e, f.po
from
	(select c.*, d.w, d.l, d.sv from
		(select
			a.playerid as playerid, b.teamid, b.yearid, nameFirst, nameLast,
			games, gs, g_b, g_p, g_d,
			ab, h, hr, rbi
		from
			(select
			people.playerid, nameLast, nameFirst, 
			teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
			from
			people join appearances on
			people.playerid=appearances.playerid) as a
		left join
			(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
			from batting
			group by playerid, teamid, yearid) as b 
		on
			a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
	left join
		(SELECT
			playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
		FROM lahman2017.Pitching
			group by playerid, teamid, yearid) as d
	on
		c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
left join
	(select playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
		from fielding group by playerid, teamid, yearid) as f
on
	e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid
limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', 'David', 'Aardsma', '33', '0', '30', '33', '33', 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0),
 ('aardsda01', 'BOS', '2008', 'David', 'Aardsma', '47', '0', '5', '47', '47', 1.0, 0.0, 0.0, 0.0, 4.0, 2.0, 0.0, 6.0, 0.0, 3.0),
 ('aardsda01', 'CHA', '2007', 'David', 'Aardsma', '25', '0', '2', '25', '25', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 4.0, 1.0, 2.0),
 ('aardsda01', 'CHN', '2006', 'David', 'Aardsma', '45', '0', '43', '45', '45', 2.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 5.0, 0.0, 1.0),
 ('aardsda01', 'NYA', '2012', 'David', 'Aardsma', '1', '0', '0', '1', '1', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 'David', 'Aardsma', '43', '0', '41', '43', '43', 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 0.0, 5.0, 0.0, 1.0),
 ('aardsda01', 'SEA', '2009', 'David', 'Aardsma', '73', '0', '3', '73', '73', 0.0, 0.0, 0.0, 0.0, 3.0, 6.0, 38.0, 5.0, 0.0, 2.0),
 ('aardsda01', 'SEA', '2010', 'David', 'Aardsma', '53', '0', '4', '53', '53', 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 31.0, 3.0, 1.0, 2.0),
 ('aardsda01', 'SFN', '2004', 'David', 'Aardsma', '11', '0', '11', '11', '11', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aaronha01', 'ATL', '1966', 'Hank', 'Aaron', '158', '157', '158', '0', '158', 603.0, 168.0, 44.0, 127.0, None, None, None, 12.0, 4.0, 315.0)]

- Now, I want to find the information for players who played at least a certain number of games for specific team and year.

In [53]:
%%sql
select * from
	(select e.*, f.a, f.e, f.po
	from
		(select c.*, d.w, d.l, d.sv from
			(select
				a.playerid as playerid, b.teamid, b.yearid, nameFirst, nameLast,
				games, gs, g_b, g_p, g_d,
				ab, h, hr, rbi
			from
				(select
				people.playerid, nameLast, nameFirst, 
				teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
				from
				people join appearances on
				people.playerid=appearances.playerid) as a
			left join
				(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
				from batting
				group by playerid, teamid, yearid) as b 
			on
				a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
		left join
			(SELECT
				playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
			FROM lahman2017.Pitching
				group by playerid, teamid, yearid) as d
		on
			c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
	left join
		(select playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
			from fielding group by playerid, teamid, yearid) as f
	on
		e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid) as g
where teamid='bos' and yearid='2004' and games >= 100
limit 10;

8 rows affected.

[('bellhma01', 'BOS', '2004', 'Mark', 'Bellhorn', '138', '132', '138', '0', '136', 523.0, 138.0, 17.0, 82.0, None, None, None, 383.0, 14.0, 201.0),
 ('damonjo01', 'BOS', '2004', 'Johnny', 'Damon', '150', '146', '150', '0', '148', 621.0, 189.0, 20.0, 94.0, None, None, None, 4.0, 5.0, 349.0),
 ('kaplega01', 'BOS', '2004', 'Gabe', 'Kapler', '136', '73', '136', '0', '127', 290.0, 79.0, 6.0, 33.0, None, None, None, 6.0, 4.0, 170.0),
 ('millake01', 'BOS', '2004', 'Kevin', 'Millar', '150', '140', '150', '0', '137', 508.0, 151.0, 18.0, 74.0, None, None, None, 59.0, 9.0, 587.0),
 ('muellbi02', 'BOS', '2004', 'Bill', 'Mueller', '110', '108', '110', '0', '110', 399.0, 113.0, 12.0, 57.0, None, None, None, 196.0, 17.0, 93.0),
 ('ortizda01', 'BOS', '2004', 'David', 'Ortiz', '150', '145', '150', '0', '34', 582.0, 175.0, 41.0, 139.0, None, None, None, 21.0, 4.0, 253.0),
 ('ramirma02', 'BOS', '2004', 'Manny', 'Ramirez', '152', '150', '152', '0', '132', 568.0, 175.0, 43.0, 130.0, None, None, None, 4.0, 7.0, 198.0),
 ('varitja01', 'BOS', '2004', 'Jason', 'Varitek', '137', '122', '137', '0', '130', 463.0, 137.0, 18.0, 73.0, None, None, None, 49.0, 2.0, 880.0)]

- OK. That was fun. Let's not do that again. I want to define the query for ```rosters``` once, and then query with simpler queries later on.

In [54]:
%%sql
create view team_rosters_stats as
select e.*, f.a, f.e, f.po
	from
		(select c.*, d.w, d.l, d.sv from
			(select
				a.playerid as playerid, b.teamid, b.yearid, nameFirst, nameLast,
				games, gs, g_b, g_p, g_d,
				ab, h, hr, rbi
			from
				(select
				people.playerid, nameLast, nameFirst, 
				teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
				from
				people join appearances on
				people.playerid=appearances.playerid) as a
			left join
				(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
				from batting
				group by playerid, teamid, yearid) as b 
			on
				a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
		left join
			(SELECT
				playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
			FROM lahman2017.Pitching
				group by playerid, teamid, yearid) as d
		on
			c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
	left join
		(select playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
			from fielding group by playerid, teamid, yearid) as f
	on
		e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid

0 rows affected.

[]

- Now, I can reuse the complex query over and over without "cut and paste."


- Less skilled developers can use the query when looking for information.
    - A lot of people can do "select ... from ... where ..."
    - A lot fewer people understand the underlying query.

- Find all people who played for the Red Sox ir Yankees in 2004. Order the result by ```rbi``` descending.

In [58]:
%%sql
select playerid,
    case
		when teamid="BOS" then "Red Sox"
        when teamid="NYA" then "Evil Empire"
    end as team,
    yearid, nameFirst, nameLast, games, gs, g_b, g_p, g_d, ab, h, hr, rbi, w, l, sv, a, e, po
from team_rosters_stats where
    yearid='2004' and teamid in ('bos', 'nya')
    order by rbi desc
    limit 10;

10 rows affected.

[('ortizda01', 'Red Sox', '2004', 'David', 'Ortiz', '150', '145', '150', '0', '34', 582.0, 175.0, 41.0, 139.0, None, None, None, 21.0, 4.0, 253.0),
 ('ramirma02', 'Red Sox', '2004', 'Manny', 'Ramirez', '152', '150', '152', '0', '132', 568.0, 175.0, 43.0, 130.0, None, None, None, 4.0, 7.0, 198.0),
 ('sheffga01', 'Evil Empire', '2004', 'Gary', 'Sheffield', '154', '154', '154', '0', '136', 573.0, 166.0, 36.0, 121.0, None, None, None, 11.0, 6.0, 271.0),
 ('matsuhi01', 'Evil Empire', '2004', 'Hideki', 'Matsui', '162', '162', '162', '0', '160', 584.0, 174.0, 31.0, 108.0, None, None, None, 8.0, 7.0, 307.0),
 ('rodrial01', 'Evil Empire', '2004', 'Alex', 'Rodriguez', '155', '155', '155', '0', '155', 601.0, 172.0, 36.0, 106.0, None, None, None, 263.0, 13.0, 101.0),
 ('damonjo01', 'Red Sox', '2004', 'Johnny', 'Damon', '150', '146', '150', '0', '148', 621.0, 189.0, 20.0, 94.0, None, None, None, 4.0, 5.0, 349.0),
 ('bellhma01', 'Red Sox', '2004', 'Mark', 'Bellhorn', '138', '132', '138', '0', '136', 523.0, 138.0, 17.0, 82.0, None, None, None, 383.0, 14.0, 201.0),
 ('posadjo01', 'Evil Empire', '2004', 'Jorge', 'Posada', '137', '126', '137', '0', '134', 449.0, 122.0, 21.0, 81.0, None, None, None, 53.0, 9.0, 835.0),
 ('jeterde01', 'Evil Empire', '2004', 'Derek', 'Jeter', '154', '154', '154', '0', '154', 643.0, 188.0, 23.0, 78.0, None, None, None, 392.0, 13.0, 273.0),
 ('millake01', 'Red Sox', '2004', 'Kevin', 'Millar', '150', '140', '150', '0', '137', 508.0, 151.0, 18.0, 74.0, None, None, None, 59.0, 9.0, 587.0)]

- That was query was kind of complicated, but if you remove the joke, you get ...

In [59]:
%%sql
select *
from team_rosters_stats where
    yearid='2004' and teamid in ('bos', 'nya')
    order by rbi desc
    limit 10;

10 rows affected.

[('ortizda01', 'BOS', '2004', 'David', 'Ortiz', '150', '145', '150', '0', '34', 582.0, 175.0, 41.0, 139.0, None, None, None, 21.0, 4.0, 253.0),
 ('ramirma02', 'BOS', '2004', 'Manny', 'Ramirez', '152', '150', '152', '0', '132', 568.0, 175.0, 43.0, 130.0, None, None, None, 4.0, 7.0, 198.0),
 ('sheffga01', 'NYA', '2004', 'Gary', 'Sheffield', '154', '154', '154', '0', '136', 573.0, 166.0, 36.0, 121.0, None, None, None, 11.0, 6.0, 271.0),
 ('matsuhi01', 'NYA', '2004', 'Hideki', 'Matsui', '162', '162', '162', '0', '160', 584.0, 174.0, 31.0, 108.0, None, None, None, 8.0, 7.0, 307.0),
 ('rodrial01', 'NYA', '2004', 'Alex', 'Rodriguez', '155', '155', '155', '0', '155', 601.0, 172.0, 36.0, 106.0, None, None, None, 263.0, 13.0, 101.0),
 ('damonjo01', 'BOS', '2004', 'Johnny', 'Damon', '150', '146', '150', '0', '148', 621.0, 189.0, 20.0, 94.0, None, None, None, 4.0, 5.0, 349.0),
 ('bellhma01', 'BOS', '2004', 'Mark', 'Bellhorn', '138', '132', '138', '0', '136', 523.0, 138.0, 17.0, 82.0, None, None, None, 383.0, 14.0, 201.0),
 ('posadjo01', 'NYA', '2004', 'Jorge', 'Posada', '137', '126', '137', '0', '134', 449.0, 122.0, 21.0, 81.0, None, None, None, 53.0, 9.0, 835.0),
 ('jeterde01', 'NYA', '2004', 'Derek', 'Jeter', '154', '154', '154', '0', '154', 643.0, 188.0, 23.0, 78.0, None, None, None, 392.0, 13.0, 273.0),
 ('millake01', 'BOS', '2004', 'Kevin', 'Millar', '150', '140', '150', '0', '137', 508.0, 151.0, 18.0, 74.0, None, None, None, 59.0, 9.0, 587.0)]

- Which is pretty simple, and a lot simpler than

In [60]:
%%sql
select * from 
	(select e.*, f.a, f.e, f.po
		from
			(select c.*, d.w, d.l, d.sv from
				(select
					a.playerid as playerid, b.teamid, b.yearid, nameFirst, nameLast,
					games, gs, g_b, g_p, g_d,
					ab, h, hr, rbi
				from
					(select
					people.playerid, nameLast, nameFirst, 
					teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
					from
					people join appearances on
					people.playerid=appearances.playerid) as a
				left join
					(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
					from batting
					group by playerid, teamid, yearid) as b 
				on
					a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
			left join
				(SELECT
					playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
				FROM lahman2017.Pitching
					group by playerid, teamid, yearid) as d
			on
				c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
		left join
			(select playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
				from fielding group by playerid, teamid, yearid) as f
		on
			e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid) as r
where yearid='2004' and teamid in ('bos', 'nya') order by rbi desc;

93 rows affected.

[('ortizda01', 'BOS', '2004', 'David', 'Ortiz', '150', '145', '150', '0', '34', 582.0, 175.0, 41.0, 139.0, None, None, None, 21.0, 4.0, 253.0),
 ('ramirma02', 'BOS', '2004', 'Manny', 'Ramirez', '152', '150', '152', '0', '132', 568.0, 175.0, 43.0, 130.0, None, None, None, 4.0, 7.0, 198.0),
 ('sheffga01', 'NYA', '2004', 'Gary', 'Sheffield', '154', '154', '154', '0', '136', 573.0, 166.0, 36.0, 121.0, None, None, None, 11.0, 6.0, 271.0),
 ('matsuhi01', 'NYA', '2004', 'Hideki', 'Matsui', '162', '162', '162', '0', '160', 584.0, 174.0, 31.0, 108.0, None, None, None, 8.0, 7.0, 307.0),
 ('rodrial01', 'NYA', '2004', 'Alex', 'Rodriguez', '155', '155', '155', '0', '155', 601.0, 172.0, 36.0, 106.0, None, None, None, 263.0, 13.0, 101.0),
 ('damonjo01', 'BOS', '2004', 'Johnny', 'Damon', '150', '146', '150', '0', '148', 621.0, 189.0, 20.0, 94.0, None, None, None, 4.0, 5.0, 349.0),
 ('bellhma01', 'BOS', '2004', 'Mark', 'Bellhorn', '138', '132', '138', '0', '136', 523.0, 138.0, 17.0, 82.0, None, None, None, 383.0, 14.0, 201.0),
 ('posadjo01', 'NYA', '2004', 'Jorge', 'Posada', '137', '126', '137', '0', '134', 449.0, 122.0, 21.0, 81.0, None, None, None, 53.0, 9.0, 835.0),
 ('jeterde01', 'NYA', '2004', 'Derek', 'Jeter', '154', '154', '154', '0', '154', 643.0, 188.0, 23.0, 78.0, None, None, None, 392.0, 13.0, 273.0),
 ('millake01', 'BOS', '2004', 'Kevin', 'Millar', '150', '140', '150', '0', '137', 508.0, 151.0, 18.0, 74.0, None, None, None, 59.0, 9.0, 587.0),
 ('varitja01', 'BOS', '2004', 'Jason', 'Varitek', '137', '122', '137', '0', '130', 463.0, 137.0, 18.0, 73.0, None, None, None, 49.0, 2.0, 880.0),
 ('willibe02', 'NYA', '2004', 'Bernie', 'Williams', '148', '143', '148', '0', '97', 561.0, 147.0, 22.0, 70.0, None, None, None, 2.0, 1.0, 214.0),
 ('sierrru01', 'NYA', '2004', 'Ruben', 'Sierra', '107', '76', '107', '0', '29', 307.0, 75.0, 17.0, 65.0, None, None, None, 1.0, 1.0, 41.0),
 ('muellbi02', 'BOS', '2004', 'Bill', 'Mueller', '110', '108', '110', '0', '110', 399.0, 113.0, 12.0, 57.0, None, None, None, 196.0, 17.0, 93.0),
 ('clarkto02', 'NYA', '2004', 'Tony', 'Clark', '106', '64', '106', '0', '99', 253.0, 56.0, 16.0, 49.0, None, None, None, 49.0, 4.0, 603.0),
 ('cairomi01', 'NYA', '2004', 'Miguel', 'Cairo', '122', '103', '122', '0', '122', 360.0, 105.0, 6.0, 42.0, None, None, None, 293.0, 8.0, 201.0),
 ('giambja01', 'NYA', '2004', 'Jason', 'Giambi', '80', '75', '80', '0', '47', 264.0, 55.0, 12.0, 40.0, None, None, None, 14.0, 4.0, 372.0),
 ('youklke01', 'BOS', '2004', 'Kevin', 'Youkilis', '72', '54', '72', '0', '65', 208.0, 54.0, 7.0, 35.0, None, None, None, 106.0, 5.0, 47.0),
 ('kaplega01', 'BOS', '2004', 'Gabe', 'Kapler', '136', '73', '136', '0', '127', 290.0, 79.0, 6.0, 33.0, None, None, None, 6.0, 4.0, 170.0),
 ('mirabdo01', 'BOS', '2004', 'Doug', 'Mirabelli', '59', '42', '59', '0', '53', 160.0, 45.0, 9.0, 32.0, None, None, None, 18.0, 2.0, 285.0),
 ('wilsoen01', 'NYA', '2004', 'Enrique', 'Wilson', '93', '68', '93', '0', '91', 240.0, 51.0, 6.0, 31.0, None, None, None, 204.0, 8.0, 134.0),
 ('cabreor01', 'BOS', '2004', 'Orlando', 'Cabrera', '58', '58', '58', '0', '57', 228.0, 67.0, 6.0, 31.0, None, None, None, 147.0, 8.0, 78.0),
 ('reesepo01', 'BOS', '2004', 'Pokey', 'Reese', '96', '74', '96', '0', '94', 244.0, 54.0, 3.0, 29.0, None, None, None, 253.0, 7.0, 134.0),
 ('olerujo01', 'NYA', '2004', 'John', 'Olerud', '49', '47', '49', '0', '47', 164.0, 46.0, 4.0, 26.0, None, None, None, 25.0, 1.0, 367.0),
 ('nixontr01', 'BOS', '2004', 'Trot', 'Nixon', '48', '37', '48', '0', '40', 149.0, 47.0, 6.0, 23.0, None, None, None, 1.0, 1.0, 63.0),
 ('garcino01', 'BOS', '2004', 'Nomar', 'Garciaparra', '38', '38', '38', '0', '37', 156.0, 50.0, 5.0, 21.0, None, None, None, 81.0, 6.0, 52.0),
 ('loftoke01', 'NYA', '2004', 'Kenny', 'Lofton', '83', '70', '83', '0', '74', 276.0, 76.0, 3.0, 18.0, None, None, None, 4.0, 2.0, 180.0),
 ('mccarda01', 'BOS', '2004', 'Dave', 'McCarty', '91', '31', '89', '3', '77', 151.0, 39.0, 4.0, 17.0, 0.0, 0.0, 0.0, 32.0, 3.0, 300.0),
 ('flahejo01', 'NYA', '2004', 'John', 'Flaherty', '47', '35', '47', '0', '46', 127.0, 32.0, 6.0, 16.0, None, None, None, 19.0, 3.0, 255.0),
 ('roberda07', 'BOS', '2004', 'Dave', 'Roberts', '45', '19', '45', '0', '38', 86.0, 22.0, 2.0, 14.0, None, None, None, 1.0, 1.0, 53.0),
 ('mientdo01', 'BOS', '2004', 'Doug', 'Mientkiewicz', '49', '27', '49', '0', '47', 107.0, 23.0, 1.0, 10.0, None, None, None, 27.0, 1.0, 265.0),
 ('daubabr01', 'BOS', '2004', 'Brian', 'Daubach', '30', '19', '30', '0', '21', 75.0, 17.0, 2.0, 8.0, None, None, None, 11.0, 2.0, 108.0),
 ('crosbbu01', 'NYA', '2004', 'Bubba', 'Crosby', '55', '6', '55', '0', '45', 53.0, 8.0, 2.0, 7.0, None, None, None, 0.0, 1.0, 36.0),
 ('gutieri01', 'BOS', '2004', 'Ricky', 'Gutierrez', '21', '8', '21', '0', '20', 40.0, 11.0, 0.0, 3.0, None, None, None, 33.0, 1.0, 22.0),
 ('hyzduad01', 'BOS', '2004', 'Adam', 'Hyzdu', '17', '0', '17', '0', '14', 10.0, 3.0, 1.0, 2.0, None, None, None, 0.0, 0.0, 6.0),
 ('phillan01', 'NYA', '2004', 'Andy', 'Phillips', '5', '2', '5', '0', '4', 8.0, 2.0, 1.0, 2.0, None, None, None, 5.0, 0.0, 2.0),
 ('leetr01', 'NYA', '2004', 'Travis', 'Lee', '7', '4', '7', '0', '6', 19.0, 2.0, 0.0, 2.0, None, None, None, 4.0, 0.0, 44.0),
 ('crespce01', 'BOS', '2004', 'Cesar', 'Crespo', '52', '16', '52', '0', '52', 79.0, 13.0, 0.0, 2.0, None, None, None, 49.0, 3.0, 45.0),
 ('navardi01', 'NYA', '2004', 'Dioner', 'Navarro', '5', '1', '5', '0', '4', 7.0, 3.0, 0.0, 1.0, None, None, None, 0.0, 0.0, 9.0),
 ('burksel01', 'BOS', '2004', 'Ellis', 'Burks', '11', '8', '11', '0', '0', 33.0, 6.0, 1.0, 1.0, None, None, None, None, None, None),
 ('dominan01', 'BOS', '2004', 'Andy', 'Dominique', '7', '1', '7', '0', '6', 11.0, 2.0, 0.0, 1.0, None, None, None, 1.0, 1.0, 26.0),
 ('lowede01', 'BOS', '2004', 'Derek', 'Lowe', '33', '33', '2', '33', '33', 4.0, 1.0, 0.0, 1.0, 14.0, 12.0, 0.0, 39.0, 3.0, 22.0),
 ('anderji02', 'BOS', '2004', 'Jimmy', 'Anderson', '5', '0', '1', '5', '5', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('padilju01', 'NYA', '2004', 'Juan', 'Padilla', '6', '0', '0', '6', '6', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0),
 ('quantpa01', 'NYA', '2004', 'Paul', 'Quantrill', '86', '0', '6', '86', '86', 1.0, 0.0, 0.0, 0.0, 7.0, 3.0, 1.0, 13.0, 0.0, 1.0),
 ('leskacu01', 'BOS', '2004', 'Curt', 'Leskanic', '32', '0', '1', '32', '32', 0.0, 0.0, 0.0, 0.0, 3.0, 2.0, 2.0, 2.0, 0.0, 0.0),
 ('proctsc01', 'NYA', '2004', 'Scott', 'Proctor', '26', '0', '0', '26', '26', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 3.0, 0.0, 1.0),
 ('willisc01', 'BOS', '2004', 'Scott', 'Williamson', '28', '0', '3', '28', '28', 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 2.0, 0.0, 3.0),
 ('halsebr01', 'NYA', '2004', 'Brad', 'Halsey', '8', '7', '1', '8', '8', 2.0, 1.0, 0.0, 0.0, 1.0, 3.0, 0.0, 3.0, 1.0, 0.0),
 ('seibeph01', 'BOS', '2004', 'Phil', 'Seibel', '2', '0', '0', '2', '2', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0),
 ('arroybr01', 'BOS', '2004', 'Bronson', 'Arroyo', '32', '29', '3', '32', '32', 6.0, 0.0, 0.0, 0.0, 10.0, 9.0, 0.0, 16.0, 2.0, 24.0),
 ('marsosa01', 'NYA', '2004', 'Sam', 'Marsonek', '1', '0', '0', '1', '1', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('brownke01', 'NYA', '2004', 'Kevin', 'Brown', '22', '22', '0', '22', '22', 0.0, 0.0, 0.0, 0.0, 10.0, 6.0, 0.0, 11.0, 4.0, 8.0),
 ('alvarab01', 'BOS', '2004', 'Abe', 'Alvarez', '1', '1', '0', '1', '1', 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0),
 ('wakefti01', 'BOS', '2004', 'Tim', 'Wakefield', '32', '30', '1', '32', '32', 2.0, 0.0, 0.0, 0.0, 12.0, 10.0, 0.0, 27.0, 4.0, 12.0),
 ('martisa01', 'BOS', '2004', 'Sandy', 'Martinez', '3', '0', '3', '0', '3', 4.0, 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, 6.0),
 ('mussimi01', 'NYA', '2004', 'Mike', 'Mussina', '27', '27', '1', '27', '27', 1.0, 0.0, 0.0, 0.0, 12.0, 9.0, 0.0, 28.0, 2.0, 11.0),
 ('vazquja01', 'NYA', '2004', 'Javier', 'Vazquez', '32', '32', '2', '32', '32', 4.0, 1.0, 0.0, 0.0, 14.0, 10.0, 0.0, 37.0, 2.0, 9.0),
 ('malasma01', 'BOS', '2004', 'Mark', 'Malaska', '19', '0', '1', '19', '19', 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 6.0, 1.0, 1.0),
 ('heredfe01', 'NYA', '2004', 'Felix', 'Heredia', '47', '0', '5', '47', '47', 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 7.0, 1.0, 3.0),
 ('adamste01', 'BOS', '2004', 'Terry', 'Adams', '19', '0', '0', '19', '19', 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 1.0, 1.0, 3.0),
 ('martian01', 'BOS', '2004', 'Anastacio', 'Martinez', '11', '0', '2', '11', '11', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 0.0, 0.0, 1.0),
 ('myersmi01', 'BOS', '2004', 'Mike', 'Myers', '25', '0', '0', '25', '25', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 5.0, 0.0, 0.0),
 ('sturtta01', 'NYA', '2004', 'Tanyon', 'Sturtze', '28', '3', '3', '28', '28', 3.0, 0.0, 0.0, 0.0, 6.0, 2.0, 1.0, 10.0, 0.0, 1.0),
 ('snydeea01', 'BOS', '2004', 'Earl', 'Snyder', '1', '1', '1', '0', '1', 4.0, 1.0, 0.0, 0.0, None, None, None, 3.0, 0.0, 2.0),
 ('karsast01', 'NYA', '2004', 'Steve', 'Karsay', '7', '0', '1', '7', '7', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0),
 ('martipe02', 'BOS', '2004', 'Pedro', 'Martinez', '33', '33', '1', '33', '33', 2.0, 0.0, 0.0, 0.0, 16.0, 9.0, 0.0, 16.0, 1.0, 16.0),
 ('contrjo01', 'NYA', '2004', 'Jose', 'Contreras', '18', '18', '3', '18', '18', 8.0, 0.0, 0.0, 0.0, 8.0, 5.0, 0.0, 6.0, 1.0, 1.0),
 ('gramaal01', 'NYA', '2004', 'Alex', 'Graman', '3', '2', '0', '3', '3', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('timlimi01', 'BOS', '2004', 'Mike', 'Timlin', '76', '0', '4', '76', '76', 0.0, 0.0, 0.0, 0.0, 5.0, 4.0, 1.0, 6.0, 0.0, 9.0),
 ('whitega01', 'NYA', '2004', 'Gabe', 'White', '24', '0', '1', '24', '24', 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, 0.0, 0.0),
 ('loaizes01', 'NYA', '2004', 'Esteban', 'Loaiza', '10', '6', '0', '10', '10', 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 6.0, 0.0, 3.0),
 ('jonesbo04', 'BOS', '2004', 'Bobby', 'Jones', '3', '0', '0', '3', '3', 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0),
 ('astacpe01', 'BOS', '2004', 'Pedro', 'Astacio', '5', '1', '0', '5', '5', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('gordoto01', 'NYA', '2004', 'Tom', 'Gordon', '80', '0', '4', '80', '80', 1.0, 0.0, 0.0, 0.0, 9.0, 4.0, 4.0, 13.0, 1.0, 6.0),
 ('foulkke01', 'BOS', '2004', 'Keith', 'Foulke', '72', '0', '3', '72', '72', 0.0, 0.0, 0.0, 0.0, 5.0, 3.0, 32.0, 11.0, 0.0, 5.0),
 ('depaujo01', 'NYA', '2004', 'Jorge', 'De Paula', '3', '1', '0', '3', '3', 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, 0.0, 1.0),
 ('bushho01', 'NYA', '2004', 'Homer', 'Bush', '9', '2', '9', '0', '4', 7.0, 0.0, 0.0, 0.0, None, None, None, 4.0, 0.0, 7.0),
 ('brownja04', 'BOS', '2004', 'Jamie', 'Brown', '4', '0', '0', '4', '4', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('liebejo01', 'NYA', '2004', 'Jon', 'Lieber', '27', '27', '1', '27', '27', 3.0, 1.0, 0.0, 0.0, 14.0, 8.0, 0.0, 19.0, 4.0, 10.0),
 ('nelsojo01', 'BOS', '2004', 'Joe', 'Nelson', '3', '0', '0', '3', '3', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('prinzbr01', 'NYA', '2004', 'Bret', 'Prinz', '26', '0', '4', '26', '26', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 3.0, 0.0, 0.0),
 ('mendora01', 'BOS', '2004', 'Ramiro', 'Mendoza', '27', '0', '0', '27', '27', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 5.0, 0.0, 4.0),
 ('hernaor01', 'NYA', '2004', 'Orlando', 'Hernandez', '15', '15', '0', '15', '15', 0.0, 0.0, 0.0, 0.0, 8.0, 2.0, 0.0, 7.0, 0.0, 10.0),
 ('kimby01', 'BOS', '2004', 'Byung-Hyun', 'Kim', '7', '3', '0', '7', '7', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 3.0, 1.0, 3.0),
 ('escalfe01', 'NYA', '2004', 'Felix', 'Escalona', '5', '2', '5', '0', '5', 8.0, 0.0, 0.0, 0.0, None, None, None, 7.0, 0.0, 3.0),
 ('osbordo01', 'NYA', '2004', 'Donovan', 'Osborne', '9', '2', '0', '9', '9', 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 6.0, 0.0, 1.0),
 ('riverma01', 'NYA', '2004', 'Mariano', 'Rivera', '74', '0', '2', '74', '74', 0.0, 0.0, 0.0, 0.0, 4.0, 2.0, 53.0, 31.0, 1.0, 9.0),
 ('dinarle01', 'BOS', '2004', 'Lenny', 'DiNardo', '22', '0', '3', '22', '22', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 2.0, 4.0),
 ('embreal01', 'BOS', '2004', 'Alan', 'Embree', '71', '0', '5', '71', '71', 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 0.0, 7.0, 0.0, 5.0),
 ('nitkocj01', 'NYA', '2004', 'C. J.', 'Nitkowski', '19', '0', '0', '19', '19', 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 3.0, 0.0, 0.0),
 ('schilcu01', 'BOS', '2004', 'Curt', 'Schilling', '32', '32', '2', '32', '32', 7.0, 1.0, 0.0, 0.0, 21.0, 6.0, 0.0, 14.0, 0.0, 16.0),
 ('castifr01', 'BOS', '2004', 'Frank', 'Castillo', '2', '0', '0', '2', '2', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

### Discussion of Views

#### Benefits

There are three benefits of views.
1. Simplification/separation of roles:
    - Sophisticated DB developers can create views using powerful queries.
    - Less sophisticated developers can write simple queries to produce information without cut and paste or trying to write the queries, which can be error prone and frustrating.
<br><br>
2. Schema evolution:
    - I could have dozens or hundreds of applications reading ```team_rosters_stats.```
    - Supposed the definition of one of the underlying tables ```people, appearances, batting, pitching, fielding``` changes.
        - Without views, I have to find all of the applications and change the queries.
        - With views, I just need to modify the view to accommodate the tables changes.
<br><br>
3. Security:
    - A table (or tables) may have sensitive information.
    - I can define a view that contains the non-sensitive information.
    - Allow access to the view.
    - Restrict access to the underlying tables.

#### Security Example

- Consider some sample customer account information.

In [61]:
%sql select * from w4111.customer_info limit 10;

10 rows affected.

[(1, 'Carter', 'Carville', 'ccarville0@ustream.tv', '3541562208493378', '648-89-8463'),
 (2, 'Sampson', 'Sharma', 'ssharma1@histats.com', '5602248176847578', '471-78-9914'),
 (3, 'Gale', 'Leathart', 'gleathart2@ovh.net', '6709304281142223923', '723-24-6927'),
 (4, 'Ashlee', 'McAw', 'amcaw3@feedburner.com', '3551737508527375', '593-34-2214'),
 (5, 'Aylmer', 'Mayoh', 'amayoh4@liveinternet.ru', '6767522333789181270', '336-68-9223'),
 (6, 'Bernette', 'Durden', 'bdurden5@census.gov', '5567324667569279', '891-47-4295'),
 (7, 'Elvera', 'Robertsson', 'erobertsson6@wikipedia.org', '30425283072570', '461-97-3588'),
 (8, 'Kristi', 'Sowten', 'ksowten7@addtoany.com', '4041372907535', '469-85-1516'),
 (9, 'Daniele', 'Philips', 'dphilips8@reddit.com', '6391108973762854', '522-93-3482'),
 (10, 'Maximo', 'Mc Carroll', 'mmccarroll9@privacy.gov.au', '0604645861232074', '787-93-9759')]

- Some users/roles/applications need to see all of the information.


- Other users/roles should not see the ```ccno``` and only see last 4 digits of the ```ssno```.


- A query that produces this result is:

In [62]:
%%sql
SELECT 
	id, first_name, last_name, email, substring(ssno, (length(ssno)-4+1)) as ssno_last_4
    FROM W4111.customer_info
limit 10;

10 rows affected.

[(1, 'Carter', 'Carville', 'ccarville0@ustream.tv', '8463'),
 (2, 'Sampson', 'Sharma', 'ssharma1@histats.com', '9914'),
 (3, 'Gale', 'Leathart', 'gleathart2@ovh.net', '6927'),
 (4, 'Ashlee', 'McAw', 'amcaw3@feedburner.com', '2214'),
 (5, 'Aylmer', 'Mayoh', 'amayoh4@liveinternet.ru', '9223'),
 (6, 'Bernette', 'Durden', 'bdurden5@census.gov', '4295'),
 (7, 'Elvera', 'Robertsson', 'erobertsson6@wikipedia.org', '3588'),
 (8, 'Kristi', 'Sowten', 'ksowten7@addtoany.com', '1516'),
 (9, 'Daniele', 'Philips', 'dphilips8@reddit.com', '3482'),
 (10, 'Maximo', 'Mc Carroll', 'mmccarroll9@privacy.gov.au', '9759')]

- We can create this as a view.

In [75]:
%%sql
create view w4111.customer_info_simple as SELECT 
	id, first_name, last_name, email, substring(ssno, (length(ssno)-4+1)) as ssno_last_4
    FROM W4111.customer_info;

0 rows affected.

[]

In [76]:
%sql select * from w4111.customer_info_simple limit 10;

10 rows affected.

[(1, 'Carter', 'Carville', 'ccarville0@ustream.tv', '8463'),
 (2, 'Sampson', 'Sharma', 'ssharma1@histats.com', '9914'),
 (3, 'Gale', 'Leathart', 'gleathart2@ovh.net', '6927'),
 (4, 'Ashlee', 'McAw', 'amcaw3@feedburner.com', '2214'),
 (5, 'Aylmer', 'Mayoh', 'amayoh4@liveinternet.ru', '9223'),
 (6, 'Bernette', 'Durden', 'bdurden5@census.gov', '4295'),
 (7, 'Elvera', 'Robertsson', 'erobertsson6@wikipedia.org', '3588'),
 (8, 'Kristi', 'Sowten', 'ksowten7@addtoany.com', '1516'),
 (9, 'Daniele', 'Philips', 'dphilips8@reddit.com', '3482'),
 (10, 'Maximo', 'Mc Carroll', 'mmccarroll9@privacy.gov.au', '9759')]

- Let's create a user ```call_center_rep.```

In [67]:
%sql CREATE USER 'call_center_rep'@'localhost' IDENTIFIED BY 'call_center_rep';

0 rows affected.

[]

- Let's look at the users.

In [70]:
%sql select * from  mysql.user

10 rows affected.

[('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*F84102546E8DFA47C137132553803D2668A3A258', 'N', datetime.datetime(2017, 7, 7, 18, 24, 52), None, 'N'),
 ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE', 'N', datetime.datetime(2017, 7, 7, 18, 22, 31), None, 'Y'),
 ('%', 'newuser', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*B4333ED22F8FFFD460D02C0CA1C8C0AD0C8B4538', 'N', datetime.datetime(2017, 9, 15, 8, 35, 54), None, 'N'),
 ('%', 'general', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*AA7F691AE0B65818C050CAAA45F0CF3C8E4BE098', 'N', datetime.datetime(2017, 11, 1, 15, 23, 40), None, 'N'),
 ('%', 'dbuser', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*2BB44B18B6D80C90F07A8932BA668E21C8FB8F0A', 'N', datetime.datetime(2018, 1, 3, 9, 21, 45), None, 'N'),
 ('%', 'university_client', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*2D82C3018E3D7FE4AA8B2FC670844372381BF0EF', 'N', datetime.datetime(2018, 2, 5, 6, 55, 58), None, 'N'),
 ('localhost', 'foodmart', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*3C97190CFF7603229BDADEFD28A9692B770953FA', 'N', datetime.datetime(2018, 2, 17, 8, 50, 51), None, 'N'),
 ('%', 'normal_user', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*81F5E21E35407D884A6CD4A731AEBFB6AF209E1B', 'N', datetime.datetime(2018, 10, 3, 14, 48, 51), None, 'N'),
 ('%', 'batman', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*F491287896471CB21030790BF46865C4A39DE651', 'N', datetime.datetime(2018, 10, 19, 10, 26, 57), None, 'N'),
 ('localhost', 'call_center_rep', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*625318922A9EE59E67DEB448E763454D392D64B8', 'N', datetime.datetime(2019, 2, 18, 10, 31, 55), None, 'N')]

- You can see that ```call_center_rep``` has no privileges. 


- __Principle of least Privilege:__ "When applied to users, the terms least user access or least-privileged user account (LUA) are also used, referring to the concept that all user accounts at all times should run with as few privileges as possible, and also launch applications with as few privileges as possible." (https://en.wikipedia.org/wiki/Principle_of_least_privilege)


- A best administrative practice is
    - To create the ID and assign minimal privileges.
    - Explicitly add privileges when a "need to know" arises.
    - This is safer than creating an account with all privileges, and then removing the ones not needed.

In [72]:
_rep_connect_info = {
        'host': 'localhost',
        'user': 'call_center_rep',
        'password': 'call_center_rep',
        'db': 'w4111',
        'port': 3306
    }

try:
    _rep_cnx = pymysql.connect(
                   _rep_connect_info['host'],
                    _rep_connect_info['user'],
                    _rep_connect_info['password'],
                    _rep_connect_info['db'],
                charset='utf8mb4',
                cursorclass=pymysql.cursors.DictCursor)
except Exception as e:
    print("Exception e = ", e)

Exception e =  (1044, "Access denied for user 'call_center_rep'@'localhost' to database 'w4111'")

- The user cannot event connect to the database.


- Let's give the user the minimal access they need.

In [77]:
%sql GRANT select ON w4111.customer_info_simple TO 'call_center_rep'@'localhost';

0 rows affected.

[]

In [78]:
try:
    _rep_cnx = pymysql.connect(
                   _rep_connect_info['host'],
                    _rep_connect_info['user'],
                    _rep_connect_info['password'],
                    _rep_connect_info['db'],
                charset='utf8mb4',
                cursorclass=pymysql.cursors.DictCursor)
except Exception as e:
    print("Exception e = ", e)

- OK. The user can connect.


- Note that I could create the account because I am connected in an admin role.

In [91]:
q = "show tables in w4111"
result = run_q(q, args=None, fields=None, fetch=True, cnx=_default_cnx, commit=True, debug=True)

# I am going to use Pandas to display better.
#
import pandas as pd
df = pd.DataFrame(result)
print("\nFerg can see tables = \n", df)

Query =  show tables in w4111
Args =  None
Query send to DB =  show tables in w4111

Ferg can see tables =
                   Tables_in_w4111
0                      Appetizers
1                         Follows
2                          Person
3                        accounts
4    complaint_company_name_clean
5      complaint_company_name_raw
6             consumer_complaints
7      consumer_complaints_better
8   consumer_complaints_processed
9                      csvindexes
10                csvtablecolumns
11                      csvtables
12                  customer_info
13           customer_info_simple
14                      customers
15                       desserts
16                        entrees
17                            foo
18                           foo2
19                     halloffame
20                          issue
21                         people
22              places_in_england
23                   places_in_ma
24                 sales_train_v2
25                          state
26                      sub_issue
27                    sub_product
28                           tags
29                tags_complaints
30                           test
31                       zipcodes

- What about a call center rep?

In [92]:
q = "show tables in w4111"
result = run_q(q, args=None, fields=None, fetch=True, cnx=_rep_cnx, commit=True, debug=True)

# I am going to use Pandas to display better.
#
import pandas as pd
df = pd.DataFrame(result)
print("\nCall center rep.  can see tables = \n", df)

Query =  show tables in w4111
Args =  None
Query send to DB =  show tables in w4111

Call center rep.  can see tables =
         Tables_in_w4111
0  customer_info_simple

- The call center rep cannot even see that the tables/views exist, let alone access them.


- Let's try access.

In [89]:
try:
    q = "select * from w4111.customer_info"
    result = run_q(q, args=None, fields=None, fetch=True, cnx=_rep_cnx, commit=True, debug=True)

    # I am going to use Pandas to display better.
    #
    import pandas as pd
    df = pd.DataFrame(result)
    print("\nCall center rep.  can see tables = ", df)
except Exception as e:
    print("\nException e = ", e)

Query =  select * from w4111.customer_info
Args =  None
Query send to DB =  select * from w4111.customer_info

Exception e =  (1142, "SELECT command denied to user 'call_center_rep'@'localhost' for table 'customer_info'")

- But, the call center rep can access the view.

In [96]:
try:
    q = "select * from w4111.customer_info_simple"
    result = run_q(q, args=None, fields=None, fetch=True, cnx=_rep_cnx, commit=True, debug=True)

    # I am going to use Pandas to display better.
    #
    import pandas as pd
    df = pd.DataFrame(result)
    pd.set_option("display.width", 132)
    print("\nCall center rep.  can see tables = ")
    print(df)
except Exception as e:
    print("\nException e = ", e)

Query =  select * from w4111.customer_info_simple
Args =  None
Query send to DB =  select * from w4111.customer_info_simple

Call center rep.  can see tables =
                              email   first_name    id    last_name ssno_last_4
0             ccarville0@ustream.tv       Carter     1     Carville        8463
1              ssharma1@histats.com      Sampson     2       Sharma        9914
2                gleathart2@ovh.net         Gale     3     Leathart        6927
3             amcaw3@feedburner.com       Ashlee     4         McAw        2214
4           amayoh4@liveinternet.ru       Aylmer     5        Mayoh        9223
5               bdurden5@census.gov     Bernette     6       Durden        4295
6        erobertsson6@wikipedia.org       Elvera     7   Robertsson        3588
7             ksowten7@addtoany.com       Kristi     8       Sowten        1516
8              dphilips8@reddit.com      Daniele     9      Philips        3482
9        mmccarroll9@privacy.gov.au       Maximo    10   Mc Carroll        9759
10            pvedeshkina@github.io      Pandora    11    Vedeshkin        5070
11             bhuxstepb@unesco.org       Brewer    12      Huxstep        9609
12            raaronc@earthlink.net    Rosalinda    13        Aaron        4456
13              kcoltend@sfgate.com        Ketty    14       Colten        7995
14                mchellame@ovh.net  Mariejeanne    15      Chellam        6777
15    acoppensf@theglobeandmail.com      Abigale    16      Coppens        2398
16     cpennettig@sciencedirect.com   Christiane    17     Pennetti        3178
17         bshowerh@studiopress.com      Breanne    18       Shower        3894
18        achapellowi@indiegogo.com       Andrej    19    Chapellow        7534
19             slaviellej@upenn.edu     Shirline    20     Lavielle        2598
20                  mhaswellk@51.la       Mervin    21      Haswell        2945
21           marlettl@123-reg.co.uk        Marys    22       Arlett        0364
22             gambrosem@spiegel.de        Genna    23      Ambrose        5001
23                    bjayen@si.edu        Berny    24         Jaye        8863
24                  zscoltso@goo.gl        Zared    25       Scolts        9621
25                kbarzp@census.gov       Karrah    26         Barz        0765
26                    jleaq@mail.ru         Jock    27          Lea        1180
27                  ccoyr@umich.edu   Cirstoforo    28          Coy        5233
28                dphippens@epa.gov      Durward    29      Phippen        9201
29      brosenkrantzt@google.com.br      Blanche    30  Rosenkrantz        6891
..                              ...          ...   ...          ...         ...
970           rcridlanqy@cdbaby.com      Rosetta   971      Cridlan        1167
971                dbagotqz@icio.us         Dael   972        Bagot        4940
972          gsemarker0@oaic.gov.au       Gerome   973      Semarke        9284
973          kbeckinghamr1@dmoz.org        Kalil   974   Beckingham        9895
974             sgronor2@tumblr.com        Sissy   975        Grono        1419
975          pmollenr3@geocities.jp      Philipa   976       Mollen        9775
976          tillistonr4@drupal.org       Tracie   977     Illiston        1529
977   jcanferr5@cargocollective.com        Juana   978       Canfer        1174
978           sdennisonr6@ifeng.com     Shepherd   979     Dennison        6128
979          idorsayr7@stanford.edu     Immanuel   980      D'orsay        7407
980          bobleinr8@facebook.com        Barry   981       Oblein        9733
981      djodkowskir9@google.com.au          Den   982    Jodkowski        9797
982        wdrewellra@bigcartel.com    Willamina   983      Drewell        4734
983                  eludeerb@de.vu       Evelin   984        Ludee        3329
984         cdecruzrc@rakuten.co.jp     Chrystal   985      De Cruz        2317
985             zcreebord@jimdo.com     Zedekiah   986       Creebo        1617
986             mbetjere@devhub.com        Mella   987        Betje        8489
987             ymathewrf@webmd.com        Yance   988       Mathew        1112
988            nperrycostrg@dot.gov     Nicoline   989    Perrycost        4143
989    nyegorovninrh@thetimes.co.uk       Nissie   990   Yegorovnin        8331
990           afeldheimri@imgur.com         Abel   991     Feldheim        9916
991          cbreffittrj@dyndns.org    Claudette   992     Breffitt        1628
992           ttanmanrk@yahoo.co.jp      Trstram   993       Tanman        0413
993             lbolinorl@salon.com    Leicester   994       Bolino        6257
994    kcastellinorm@prnewswire.com    Kimberley   995   Castellino        6234
995  jbroadberriern@theatlantic.com      Janella   996  Broadberrie        4663
996           lhaggarthro@prweb.com         Lark   997     Haggarth        2709
997         abolzmannrp@mozilla.com        Ardis   998     Bolzmann        9604
998          mjeffersrq@comcast.net   Marguerite   999      Jeffers        2126
999     gblockwellrr@cloudflare.com       Gaston  1000    Blockwell        4681

[1000 rows x 5 columns]

#### Views versus Copy Tables

- A copy table is a copy of data from a table, which may be the result of a query.


- We have a view

In [97]:
%sql select * from team_rosters_stats limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', 'David', 'Aardsma', '33', '0', '30', '33', '33', 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0),
 ('aardsda01', 'BOS', '2008', 'David', 'Aardsma', '47', '0', '5', '47', '47', 1.0, 0.0, 0.0, 0.0, 4.0, 2.0, 0.0, 6.0, 0.0, 3.0),
 ('aardsda01', 'CHA', '2007', 'David', 'Aardsma', '25', '0', '2', '25', '25', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 4.0, 1.0, 2.0),
 ('aardsda01', 'CHN', '2006', 'David', 'Aardsma', '45', '0', '43', '45', '45', 2.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 5.0, 0.0, 1.0),
 ('aardsda01', 'NYA', '2012', 'David', 'Aardsma', '1', '0', '0', '1', '1', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 'David', 'Aardsma', '43', '0', '41', '43', '43', 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 0.0, 5.0, 0.0, 1.0),
 ('aardsda01', 'SEA', '2009', 'David', 'Aardsma', '73', '0', '3', '73', '73', 0.0, 0.0, 0.0, 0.0, 3.0, 6.0, 38.0, 5.0, 0.0, 2.0),
 ('aardsda01', 'SEA', '2010', 'David', 'Aardsma', '53', '0', '4', '53', '53', 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 31.0, 3.0, 1.0, 2.0),
 ('aardsda01', 'SFN', '2004', 'David', 'Aardsma', '11', '0', '11', '11', '11', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aaronha01', 'ATL', '1966', 'Hank', 'Aaron', '158', '157', '158', '0', '158', 603.0, 168.0, 44.0, 127.0, None, None, None, 12.0, 4.0, 315.0)]

- We could have used the statement that created the view to create a copy of the data.

In [98]:
%%sql
create table team_rosters_copy as
select e.*, f.a, f.e, f.po
	from
		(select c.*, d.w, d.l, d.sv from
			(select
				a.playerid as playerid, b.teamid, b.yearid, nameFirst, nameLast,
				games, gs, g_b, g_p, g_d,
				ab, h, hr, rbi
			from
				(select
				people.playerid, nameLast, nameFirst, 
				teamid, yearid, g_all as games, gs, g_batting as g_b, g_p, g_defense as g_d
				from
				people join appearances on
				people.playerid=appearances.playerid) as a
			left join
				(select playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi
				from batting
				group by playerid, teamid, yearid) as b 
			on
				a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
		left join
			(SELECT
				playerid, teamid, yearid, sum(w) as w, sum(l) as l, sum(sv) as sv
			FROM lahman2017.Pitching
				group by playerid, teamid, yearid) as d
		on
			c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
	left join
		(select playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
			from fielding group by playerid, teamid, yearid) as f
	on
		e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid

104256 rows affected.

[]

- This is more or less equivalent to the view.


- We can query it ...

In [99]:
%sql select * from team_rosters_copy limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', 'David', 'Aardsma', '33', '0', '30', '33', '33', 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0),
 ('aardsda01', 'BOS', '2008', 'David', 'Aardsma', '47', '0', '5', '47', '47', 1.0, 0.0, 0.0, 0.0, 4.0, 2.0, 0.0, 6.0, 0.0, 3.0),
 ('aardsda01', 'CHA', '2007', 'David', 'Aardsma', '25', '0', '2', '25', '25', 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 4.0, 1.0, 2.0),
 ('aardsda01', 'CHN', '2006', 'David', 'Aardsma', '45', '0', '43', '45', '45', 2.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 5.0, 0.0, 1.0),
 ('aardsda01', 'NYA', '2012', 'David', 'Aardsma', '1', '0', '0', '1', '1', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 'David', 'Aardsma', '43', '0', '41', '43', '43', 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 0.0, 5.0, 0.0, 1.0),
 ('aardsda01', 'SEA', '2009', 'David', 'Aardsma', '73', '0', '3', '73', '73', 0.0, 0.0, 0.0, 0.0, 3.0, 6.0, 38.0, 5.0, 0.0, 2.0),
 ('aardsda01', 'SEA', '2010', 'David', 'Aardsma', '53', '0', '4', '53', '53', 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 31.0, 3.0, 1.0, 2.0),
 ('aardsda01', 'SFN', '2004', 'David', 'Aardsma', '11', '0', '11', '11', '11', 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('aaronha01', 'ATL', '1966', 'Hank', 'Aaron', '158', '157', '158', '0', '158', 603.0, 168.0, 44.0, 127.0, None, None, None, 12.0, 4.0, 315.0)]

- The main trade-off between a view and a copy is performance.

In [109]:
import time
def time_it(q, runs):
    start_time = time.time()
    
    for i in range(0, runs):
        result = run_q(q)
        
    end_time = time.time()
    
    return end_time - start_time
    
q1 = "select * from team_rosters_stats where teamid='bos' and yearid='2004';"
view_time = time_it(q1, 2)
print("\n\nElapse time for ", 2, "SELECTs on the view was: ", round(view_time,3))
q1 = "select * from team_rosters_copy where teamid='bos' and yearid='2004';"
copy_time = time_it(q1, 2)
print("\n\nElapse time for ", 2, "SELECTs on the copy was: ", round(copy_time,3))
print("\nThe ratio is view query to copy query is: ", round(view_time/copy_time))

Query =  select * from team_rosters_stats where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_stats where teamid='bos' and yearid='2004';
Query =  select * from team_rosters_stats where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_stats where teamid='bos' and yearid='2004';


Elapse time for  2 SELECTs on the view was:  2.74
Query =  select * from team_rosters_copy where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_copy where teamid='bos' and yearid='2004';
Query =  select * from team_rosters_copy where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_copy where teamid='bos' and yearid='2004';


Elapse time for  2 SELECTs on the copy was:  0.215

The ratio is view query to copy query is:  13

- I can make this better by adding indexes to the copy table.

In [110]:
%%sql
ALTER TABLE `lahman2017`.`team_rosters_copy` 
ADD INDEX `team_idx` (`teamid` ASC);

0 rows affected.

[]

In [111]:
%%sql
ALTER TABLE `lahman2017`.`team_rosters_copy` 
ADD INDEX `year_idx` (`yearid` ASC);

0 rows affected.

[]

In [112]:
q1 = "select * from team_rosters_stats where teamid='bos' and yearid='2004';"
view_time = time_it(q1, 2)
print("\n\nElapse time for ", 2, "SELECTs on the view was: ", round(view_time,3))
q1 = "select * from team_rosters_copy where teamid='bos' and yearid='2004';"
copy_time = time_it(q1, 2)
print("\n\nElapse time for ", 2, "SELECTs on the copy was: ", round(copy_time,3))
print("\nThe ratio is view query to copy query is: ", round(view_time/copy_time))

Query =  select * from team_rosters_stats where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_stats where teamid='bos' and yearid='2004';
Query =  select * from team_rosters_stats where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_stats where teamid='bos' and yearid='2004';


Elapse time for  2 SELECTs on the view was:  2.799
Query =  select * from team_rosters_copy where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_copy where teamid='bos' and yearid='2004';
Query =  select * from team_rosters_copy where teamid='bos' and yearid='2004';
Args =  None
Query send to DB =  select * from team_rosters_copy where teamid='bos' and yearid='2004';


Elapse time for  2 SELECTs on the copy was:  0.017

The ratio is view query to copy query is:  169

- Adding the indexes on the copy table speeds up the query by 10x.

- Creating views versus creating copies.
    - Querying views is slower. The engine runs the view definition query every time. The definition query runs once (or periodically) for copies.
    - Views take up less space. There is no extra data stored for a view while a copy stores all data that the query defines.
    - Views are always up to date when there are updates to the underlying tables. Some other mechanism must be used to keep copy tables up to date.
    - Indexes: Views use the defined indexed on the base tables. You can define additional indexes on the copy table if the queries have different patterns.

## Functions and Stored Procedures

### Overview

| <img src="../../images/stored_procedures.jpg"> |
| :---: |
| __Stored Procedures__ |

| <img src="../../images/slides-109-procs.jpg"> |
| :---: |
| __Stored Procedures__ |

"A stored procedure (... ...) is a subroutine available to applications that access a relational database management system (RDBMS). Such procedures are stored in the database data dictionary." (https://en.wikipedia.org/wiki/Stored_procedure)

- That was a little unclear. Basically, a __stored procedure__ or __user function__ is a piece of code that executes in the database.


- There is a standard for the language [SQL/PSM](https://en.wikipedia.org/wiki/SQL/PSM) but,
    - Many databases support other languages.
    - Even if the engine supports the standard, there are inconsistencies and extensions.
    
    
| <img src="../../images/stored_procedure_function.jpeg"> |
| :---: |
| [Stored Procedures and Functions](https://www.quora.com/What-difference-between-stored-procedures-and-functions-in-MySQL)|
    
- OK, that was really confusing even for you.


- In a nutshell,
    - Procedures change tables and rows.
    - Functions compute and return values that can be included in SELECT, INSERT, UPDATE, DELETE, ... statements.
    
    
- The easiest way to understand, is as always, practice and examples.

### User Function Examples

#### Generate IDs

- The ```Lahman2017.People``` has the interesting ```playerID,``` e.g. ```willite01.```


- Our UNIs have a similar format, e.g. ```dff9.```


- We can push computing these values into the database to ensure consistent, correct implementation and not rely on several application programs implementing correctly.
    - Some programmer may make a mistake.
    - We will see that their are isolation issues that can arise due to transactions.


- Let's consider a table for ```person``` in a university. (I do not want to mess too much with the Lahman database).

```
CREATE TABLE `person` (
  `uni` varchar(16) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `email` varchar(64) NOT NULL,
  `type` enum('S','F') NOT NULL,
  PRIMARY KEY (`uni`),
  UNIQUE KEY `email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- Let's take a look at the initial data in the table

In [160]:
%sql select * from university.person;

(pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([Errno 54] Connection reset by peer)') [SQL: 'select * from university.person;']

- We will create a function that generate a UNI for a new person.

```
CREATE DEFINER=`root`@`localhost` FUNCTION `generate_uni`(last_name VARCHAR(32), 
	first_name VARCHAR(32)) RETURNS varchar(12) CHARSET utf8
BEGIN

	# You have to/should dcelare variables before using
	DECLARE		c1				CHAR(3);
    DECLARE		c2				CHAR(2);
    DECLARE		prefix			CHAR(6);
    DECLARE		uniCount		INT;
    DECLARE		newUni		VARCHAR(8);
    
    # UNI will be first three characters from last_name +
    # first two characters from first name + a number.
    # The number will be one more than the number of existing
    # UNIs with the same first five characters. So, our query will
    # look for strings like "FERDO%"
    SET c1 		=		UPPER(SUBSTR(last_name, 1, 3));
    SET c2		=		UPPER(SUBSTR(first_name, 1, 2));
    SET prefix	=		CONCAT(c1, c2, "%");
    
    SET uniCount = 0;
    
    # Count the number of matching UNIs.
    SELECT COUNT(uni) INTO uniCount FROM person WHERE uni LIKE prefix;
	
	# New UNI is prefix + (count + 1)
	SET newUni = CONCAT(c1, c2,uniCount+1);

RETURN  newUni;
END
```

- Let's look at what happens when we call the function. (I am switching databases for a bit)

In [189]:
%sql use university;

0 rows affected.

[]

In [190]:
%sql select * from person;

3 rows affected.

[('BEAYO1', 'Bear', 'Yogi', 'yb0@columbia.edu', 'F'),
 ('BEAYO2', 'Bear', 'Yogi', 'yb1@columbia.edu', 'F'),
 ('BEAYO3', 'Bear', 'Yogi', 'yb2@columbia.edu', 'F')]

In [191]:
%sql select generate_uni('Ferguson', 'Donald') as uni

1 rows affected.

[('FERDO1',)]

- How would applications use the function?

In [192]:
%sql insert into person \
    values(generate_uni('Ferguson', 'Douglas'), 'Ferguson', 'Douglas', \
          'dff9@columbia.edu', 'F')

1 rows affected.

[]

- The result is ...

In [193]:
%sql select * from university.person;

4 rows affected.

[('BEAYO1', 'Bear', 'Yogi', 'yb0@columbia.edu', 'F'),
 ('BEAYO2', 'Bear', 'Yogi', 'yb1@columbia.edu', 'F'),
 ('BEAYO3', 'Bear', 'Yogi', 'yb2@columbia.edu', 'F'),
 ('FERDO1', 'Ferguson', 'Douglas', 'dff9@columbia.edu', 'F')]

- Functions run inside the data withing the SQL statement processing (transaction).


- The alternative is to write code in external applications that performs the same functions.

In [8]:
def generate_uni(last_name, first_name):
    p1 = str(last_name[0:3]).upper()
    p2 = str(first_name[0:2]).upper()
    pref = p1+p2
    patt = p1+p2+'%'
    q = "select count(*) as prefix_count from university.person where uni like('" + patt + "')"
    result = run_q(q, debug=False)
    suff = result[0]['prefix_count']+1
    return pref + str(suff)

In [40]:
generate_uni('Washington', 'George')

'WASGE1'

- I have a function that computes the next valid ```uni```.


- I can use in a function that add a ```person```.

In [10]:
def add_person(last_name, first_name, email, role):

    uni = generate_uni(last_name, first_name)
    q = 'insert into university.person values(%s, %s, %s, %s, %s)'
    result = run_q(q, [uni, last_name, first_name, email, role], commit=True, fetch=False, debug=False)
    return result

In [12]:
add_person('Smith', 'Joeseph', 'joe_smith2@columbia.edu', 'F')

1

- And the resulting table is ...

In [13]:
%sql select * from university.person;

3 rows affected.

[('FERDO1', 'Ferguson', 'Douglas', 'dff9@columbia.edu', 'F'),
 ('SMIJO1', 'Smith', 'Joeseph', 'joe_smith@columbia.edu', 'F'),
 ('SMIJO2', 'Smith', 'Joeseph', 'joe_smith2@columbia.edu', 'F')]

- Well, if I can write the functions in Python or some language, why would I want to do it inside the database?


- __Reason 1: Performance__

In [41]:
# Clean out data for performance testing
%sql delete from university.person where uni like('BEAYO%')

1 rows affected.

[]

In [42]:
import time
start_time=time.time()
for i in range(0,10000):
    # Just make the email unique for testing.
    add_person('Bear', 'Yogi', 'yb' + str(i) + '@columbia.edu', 'F')
end_time = time.time()
print("Elapsed time = ", round(end_time-start_time,3))

Elapsed time =  26.892

- Compare to just calling an ```insert```.

In [43]:
# Clean out data for performance testing
%sql delete from university.person where uni like('BEAYO%')

10000 rows affected.

[]

In [44]:
import time
start_time=time.time()
for i in range(0,10000):
    # Just make the email unique for testing.
    email='yb'+str(i)+'@columbia.edu'
    q = """insert into university.person 
            values(university.generate_uni('Bear', 'Yogi'), 'Bear', 'Yogi', 
              %s, 'F')"""
    result = run_q(q, (email), debug=False)
end_time = time.time()
print("Elapsed time = ", round(end_time-start_time,3))

Elapsed time =  24.546

In [45]:
# Clean out data for performance testing
%sql delete from university.person where uni like('BEAYO%')

10000 rows affected.

[]

- You can see that there is some performance improvement.


- Elapsed time is not the nest way to measure. It measures:
    - CPU processing in Python and Jupyter.
    - Network transmission time.
    - etc.
    
    
- The main consideration is that executing the code outside of the database results in 2X as many query executions.

__Reason 2: Integrity:__

- There are two aspects.


- Implementing the ```uni``` generation outside of the database can result in errors.
    - Forget to change all of the implementations if the algorithm changes.
    - Some programmer makes a mistake in one of the implementations.
    - It is better to have a single implementation that is "with the data."
    
    
- There is a race condition:
    - P1 runs a query to get the count of prefixes for 'xxxyy'
    - P2 runs the same query.
    - P1 computes the next ```uni```
    - P2 computes the _same_ next ```uni```
    - P1 inserts.
    - P2's insert fails.
    
    
- Using a function inside the database called as part of SQL statement processing does not have this issue.

#### Computing Slugging Percentage

- Slugging Percentage: "In baseball statistics, slugging percentage (SLG) is a measure of the batting productivity of a hitter. It is calculated as total bases divided by at bats, ... Unlike batting average, slugging percentage gives more weight to extra-base hits such as doubles and home runs, relative to singles." (https://en.wikipedia.org/wiki/Slugging_percentage) 


- The formula is:
\begin{equation}
\frac{Singles + (2 x Doubles) + (3 x Triples) + (4 x Home Runs)}{at\_bats}
\end{equation}


- Relying on everyone getting this correct in every query is a bit risky. So, ...

```
CREATE DEFINER=`root`@`localhost` FUNCTION `compute_slp`(h int, b2 int, b3 int, hr int, ab int) RETURNS double
BEGIN

	DECLARE result DOUBLE;
    
    IF ab IS NULL OR ab <= 0 THEN
		SET result = NULL;
    ELSE
		SET result = ((h -b2 -b3 -hr) + 2*b2 + 3*b3 + 4*hr)/ab;
		SET result = ROUND(result, 3);
	END IF;
    

RETURN result;
END
```

In [48]:
%sql select playerid, h, ab, 2b, 3b, hr, compute_slp(h, 2b, 3b, hr, ab) as slg from \
    batting where playerid = 'willite01'

19 rows affected.

[('willite01', '185', '565', '44', '11', '31', 0.609),
 ('willite01', '193', '561', '43', '14', '23', 0.594),
 ('willite01', '185', '456', '33', '3', '37', 0.735),
 ('willite01', '186', '522', '34', '5', '36', 0.648),
 ('willite01', '176', '514', '37', '8', '38', 0.667),
 ('willite01', '181', '528', '40', '9', '32', 0.634),
 ('willite01', '188', '509', '44', '3', '25', 0.615),
 ('willite01', '194', '566', '39', '3', '43', 0.65),
 ('willite01', '106', '334', '24', '1', '28', 0.647),
 ('willite01', '169', '531', '28', '4', '30', 0.556),
 ('willite01', '4', '10', '0', '1', '1', 0.9),
 ('willite01', '37', '91', '6', '0', '13', 0.901),
 ('willite01', '133', '386', '23', '1', '29', 0.635),
 ('willite01', '114', '320', '21', '3', '28', 0.703),
 ('willite01', '138', '400', '28', '2', '24', 0.605),
 ('willite01', '163', '420', '28', '1', '38', 0.731),
 ('willite01', '135', '411', '23', '2', '26', 0.584),
 ('willite01', '69', '272', '15', '0', '10', 0.419),
 ('willite01', '98', '310', '15', '0', '29', 0.645)]

## Entity-Relationship Modeling/Diagrams

__Note:__ We are going to take a short diversion into E-R modeling/modeling before we cover stored procedures. You will see why in a minute.


__Note:__ Ramakrishana and Gehrke sections 2.1-2.7 cover E-R modeling and conceptual design a different, more powerful and complex notation. I am going to use a simple notation, "Crow's Foot Notation." There is a [good online, introductory tutorial.](http://www.vertabelo.com/blog/technical-articles/crow-s-foot-notation)


### Overview

"An entity–relationship model (ER model for short) describes interrelated things of interest in a specific domain of knowledge. A basic ER model is composed of entity types (which classify the things of interest) and specifies relationships that can exist between instances of those entity types.


An entity–relationship diagram for an MMORPG using Chen's notation.
In software engineering, an ER model is commonly formed to represent things that a business needs to remember in order to perform business processes. Consequently, the ER model becomes an abstract data model, that defines a data or information structure which can be implemented in a database, typically a relational database." (https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model)

| <img src="../../images/conceptuallogicalphysical.jpeg" width="90%"> |
| :---: |
| __Conceptual, Logical and Physical Design (Models)__ |

- There are some patterns or ways to think about entities:
    - A _Strong Entity_ is independent from other entities, and are often called parent entities, since they will often have weak entities that depend on them. They will also have a primary key, distinguishing each occurrence of the entity.
    - A _Weak Entity_ depend on some other entity type (for existence). They don't have (independent) primary keys, and have no meaning in the diagram without their parent entity.
    - An _Associative Entity_ relates the instances of several entity types. They also contain attributes specific to the association.

### Crow's Foot Notation Symbols

| <img src="../../images/crows_foot_notation.jpeg"> |
| :---: |
| [Crow's Foot Notation](https://www.vivekmchawla.com/erd-crows-foot-relationship-symbols-cheat-sheet/) |

- If you reverse engineer a MySQL database, you get a Crow's Foot physical model. This is an example from the MySQL Sakila sample database.

| <img src="../../images/sakila_full_database_schema_diagram.png" > |
| :---: |
| __Sakila Sample Database Diagram__ |

- In these diagrams, solid lines represent a Parent-Child (Weak Entity) relationship. For example, in the diagram,
    - _Inventory_ represents a file in the store's inventory.
    - _Film_\_ _Text_ is some text describing the file.
    - If you delete the inventory item, the text also disappears (or has no meaning).

### Inheritance

- E-R associations/relationships represent terms like:
    - A purchase order __has__ line items.
    - A shopping card __contains__ purchase items.
    - A course section __has__ enrolled students.
    - A course __has__ a prereqs.
    - MySQL installation __depends on__ the operating system.
    
    
- There is another type of association, __IsA.__
    - A __Batter__ is a __Person__
    - A __Pitcher__ is a __Person__
    - And this may not be exclusive, e.g. someone can be a Batter and Pitcher.
    
    
- Implementing _IsA_ is a design pattern in E-R diagrams and databases.


- The [Vertabelo blog](http://www.vertabelo.com/blog/technical-articles/inheritance-in-a-relational-database) has a good overview of inheritance modeling and implementation.


- (From the blog) Subclass/inheritance Constraints are described along two dimensions:
    - Incomplete/Complete
        - In an incomplete specialization only some instances of the parent class are specialized (have unique attributes). Other instances of the parent class have only the common attributes.
        -n In a complete specialization, every instance of the parent class has one or more unique attributes that are not common to the parent class.
    - Disjoint/Overlapping
        - In a disjoint specialization, an object could be a member of only one specialized subclass.
        - In an overlapping specialization, an object could be a member of more than one specialized subclass.
        
        
- (From Vertabelo blog) There are three core patterns for modeling inheritance/subclassing in relational data models.

| <img src="../../images/isa_1.jpeg"> |
| :---: |
| __Simple Model__ |

| <img src="../../images/isa_2.jpeg"> |
| :---: |
| __One Table__ |

| <img src="../../images/isa_3.jpeg"> |
| :---: |
| __Two Table__ |

| <img src="../../images/isa_4.jpeg"> |
| :---: |
| __Three Table__ |

### An Implementation Example: E-R Diagram, Entity Types, Association Types, Inheritance

- We are going to switch from Baseball to a simpler, more familiar domain. The examples are easier because there are many fewer columns and subtleties.

| <img src="../../images/university_er.jpeg" > |
| :---: |
| __Simple University/Course Model__ |

- In this model,
    - Student IsA Person and Faculty IsA Person. The inheritance relationship is in <span style="color:red;">red</span> for emphasis.
    - PersonSection is an Associative Entity, and so is Course. Course is also a Strong Entity for Section, which is a weak entity.

## Back to Stored Procedures

### Overview

- Consider the Course/Person data model. Creating a Student requires:
    - First creating a Person.
    - Then creating a Student.
    
    
- If a programmer makes a mistake, we may a problem.


- So, we are going to disallow operations on the tables directly and require use of stored procedures.


- But, FIRST, we are going to use a special kind of stored procedure known as a __trigger.__

### Data Model

- ```person_three``` (Person in a three table solution).

```
CREATE TABLE `person_three` (
  `uni` varchar(32) NOT NULL DEFAULT '',
  `last_name` varchar(45) NOT NULL DEFAULT '',
  `first_name` varchar(45) NOT NULL DEFAULT '',
  `type` varchar(1) NOT NULL DEFAULT '',
  `email` varchar(64) GENERATED ALWAYS AS (concat(`uni`,'@columbia.edu')) STORED,
  PRIMARY KEY (`uni`),
  KEY `p_lname_idx` (`last_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- ```student_three```

```
CREATE TABLE `student_three` (
  `uni` varchar(32) NOT NULL,
  `major` enum('CS','MATH','EE','IEOR','ECON','PHYS','CHEM') NOT NULL,
  `school` enum('CC','SEAS','BAR','GS','GSAS') NOT NULL,
  PRIMARY KEY (`uni`),
  CONSTRAINT `p_to_s` FOREIGN KEY (`uni`) REFERENCES `person_three` (`uni`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- ```faculty_three```

```
CREATE TABLE `faculty_three` (
  `uni` varchar(32) NOT NULL DEFAULT '',
  `title` varchar(45) NOT NULL,
  `department` enum('CS','EE') NOT NULL,
  `hire_date` datetime NOT NULL,
  KEY `f_to_s` (`uni`),
  CONSTRAINT `f_to_s` FOREIGN KEY (`uni`) REFERENCES `person_three` (`uni`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

### Creating a UNI

- Well, we know how to create a user function to generate a UNI.

```
CREATE DEFINER=`root`@`localhost` FUNCTION `generate_uni`(last_name VARCHAR(32), 
	first_name VARCHAR(32)) RETURNS varchar(16) CHARSET utf8
BEGIN

	# You have to/should dcelare variables before using
	DECLARE		c1				CHAR(3);
    DECLARE		c2				CHAR(2);
    DECLARE		prefix			CHAR(6);
    DECLARE		uniCount		INT;
    DECLARE		newUni		VARCHAR(8);
    
    # UNI will be first three characters from last_name +
    # first two characters from first name + a number.
    # The number will be one more than the number of existing
    # UNIs with the same first five characters. So, our query will
    # look for strings like "FERDO%"
    SET c1 		=		UPPER(SUBSTR(last_name, 1, 3));
    SET c2		=		UPPER(SUBSTR(first_name, 1, 2));
    SET prefix	=		CONCAT(c1, c2, "%");
    
    SET uniCount = 0;
    
    # Count the number of matching UNIs.
    SELECT COUNT(uni) INTO uniCount FROM person WHERE uni LIKE prefix;
	
	# New UNI is prefix + (count + 1)
	SET newUni = CONCAT(c1, c2,uniCount+1);

RETURN  newUni;
END
```

- And using it is pretty simple.


- But, how do we make sure that it is always called on every insert?


- We can use a __trigger.__

| <img src="../../images/slides-113-triggers.jpg" >|
| :---: |
| __Triggers__ |

"A database trigger is procedural code that is automatically executed in response to certain events on a particular table or view in a database. The trigger is mostly used for maintaining the integrity of the information on the database. For example, when a new record (representing a new worker) is added to the employees table, new records should also be created in the tables of the taxes, vacations and salaries. Triggers can also be used to log historical data, for example to keep track of employees' previous salaries." (https://en.wikipedia.org/wiki/Database_trigger)

- Two basic uses:
    - Implement _check constraints._
    - Side effects, e.g. logging, automatic update, ...
    
    
- Most RDBMs, and many other databases, support triggers. There is a lot of commonality, but also many differences and extensions.

| <img src="../../images/slides-109-triggers.jpg"> |
| :---: |
| __Triggers_ |

- Trigger to automatically generate UNI

```
CREATE DEFINER=`root`@`localhost` TRIGGER `NewUniversity`.`person_three_BEFORE_INSERT`
	BEFORE INSERT ON `person_three` FOR EACH ROW
BEGIN

	DECLARE	new_uni		VARCHAR(16);
    
    SET new_uni = NewUniversity.generate_uni(New.last_name, New.first_name);
    SET New.uni = new_uni;
    
    IF New.type = NULL OR new.type = "" THEN
		SET New.type = 'U';
	END IF;

END
```

- Trigger to prevent updating a UNI.

```
CREATE DEFINER=`root`@`localhost` TRIGGER `NewUniversity`.`person_three_BEFORE_UPDATE` 
	BEFORE UPDATE ON `person_three` FOR EACH ROW
BEGIN


	IF NOT New.uni = Old.uni THEN
		SIGNAL SQLSTATE '45000'
			SET MESSAGE_TEXT = 'You cannot change a UNI';
	END IF;
    
END
```

- The easiest way to add triggers is to use MySQL Workbench

| <img src="../../images/workbench_trigger.jpeg"> |
| :---: |
| __Alter Table Triggers__ |

In [49]:
%sql select * from newuniversity.person_three

2 rows affected.

[('DUCDO1', 'Duck', 'Donald', 'F', 'DUCDO1@columbia.edu'),
 ('FERDO1', 'Ferguson', 'Donald', 'F', 'FERDO1@columbia.edu')]

- Do an insert but do not pass a ```uni``` or call a function.

In [50]:
%sql insert into newuniversity.person_three (last_name, first_name) \
    values('Ferguson', 'Donald')

1 rows affected.

[]

In [51]:
%sql select * from newuniversity.person_three

3 rows affected.

[('DUCDO1', 'Duck', 'Donald', 'F', 'DUCDO1@columbia.edu'),
 ('FERDO1', 'Ferguson', 'Donald', 'F', 'FERDO1@columbia.edu'),
 ('FERDO2', 'Ferguson', 'Donald', 'U', 'FERDO2@columbia.edu')]

- Try changing a ```uni```

In [54]:
q = "update newuniversity.person_three set uni='cat' where last_name='Ferguson'"
try:
    result = run_q(q, None, False)
    print("Update worked.")
except Exception as e:
    print("Got exception = ", e)

Query =  update newuniversity.person_three set uni='cat' where last_name='Ferguson'
Args =  None
Query send to DB =  update newuniversity.person_three set uni='cat' where last_name='Ferguson'
Exception e =  (1644, 'You cannot change a UNI')
Got exception =  (1644, 'You cannot change a UNI')

### Implementing Inheritance

- We will use security to prevent non-administration users from
    - Direct use of Student or Faculty
    - INSERT, UPDATE or DELETE on Person
    
    
- Instead, non-administrators will:
    - Query through Person, StudentView or FacultyView
    - Use stored procedures to INSERT, UPDATE or DELETE the resources.
    - The admin makes sure that the stored procedure code is accurate and preserves integrity.
    
    
- Step 1 is to create the views:

```
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `safefaculty` AS
    SELECT 
        `person_three`.`uni` AS `uni`,
        `person_three`.`last_name` AS `last_name`,
        `person_three`.`first_name` AS `first_name`,
        `person_three`.`type` AS `type`,
        `person_three`.`email` AS `email`,
        `faculty_three`.`title` AS `title`,
        `faculty_three`.`department` AS `department`,
        `faculty_three`.`hire_date` AS `hire_date`
    FROM
        (`faculty_three`
        JOIN `person_three` ON ((`student_three`.`uni` = `faculty_three`.`uni`)))
        
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `safestudent` AS
    SELECT 
        `person_three`.`uni` AS `uni`,
        `person_three`.`last_name` AS `last_name`,
        `person_three`.`first_name` AS `first_name`,
        `person_three`.`type` AS `type`,
        `person_three`.`email` AS `email`,
        `student_three`.`major` AS `major`,
        `student_three`.`school` AS `school`
    FROM
        (`student_three`
        JOIN `person_three` ON ((`student_three`.`uni` = `person_three`.`uni`)))
```

- The __DEFINER =__ ````root`@`localhost```` __is critical!__
    - The view query executes with the authority of root.
    - Allowing a normal user to query a table to which they do not have direct access.

- Now restrict the access from an application that connects as "normal_user." This can be any user ID. There is nothing special about the name.


- Then grant access to query the base table and views.

```
REVOKE ALL ON *.* FROM 'normal_user';
GRANT SELECT ON NewUniversity.person_three TO 'normal_user';
GRANT SELECT ON NewUniversity.safefaculty TO 'normal_user';
GRANT SELECT ON NewUniversity.safestudent TO 'normal_user';
```

In [65]:
# Connect to the DB as non-root
# Connect to the database over the network. Use the connection
# to send commands to the DB.
cnx2 = pymysql.connect(host='localhost',
                             user='normal_user',
                             password='root',
                             db='newuniversity',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

- ```normal_user``` can read the view ```safefaculty``` because:
    - ```normal_user``` can access ```safe_faculty```
    - Despite ```normal_user``` not being able to access the underlying table, the view query runs as ```root.```

In [66]:
run_q("select * from newuniversity.safefaculty", fetch=True, cnx=cnx2)

Query =  select * from newuniversity.safefaculty
Args =  None
Query send to DB =  select * from newuniversity.safefaculty

[{'department': 'CS',
  'email': 'DUCDO1@columbia.edu',
  'first_name': 'Donald',
  'hire_date': datetime.datetime(2018, 10, 3, 15, 43, 6),
  'last_name': 'Duck',
  'title': 'Professor',
  'type': 'F',
  'uni': 'DUCDO1'},
 {'department': 'CS',
  'email': 'FERDO1@columbia.edu',
  'first_name': 'Donald',
  'hire_date': datetime.datetime(2018, 10, 3, 15, 44, 14),
  'last_name': 'Ferguson',
  'title': 'Professor',
  'type': 'F',
  'uni': 'FERDO1'}]

- But ```normal_user``` cannot directly access the base table.

In [70]:
try:
    run_q("select * from newuniversity.faculty_three", fetch=True, cnx=cnx2)
except Exception as e:
    print("Exception e = ", e)

Query =  select * from newuniversity.faculty_three
Args =  None
Query send to DB =  select * from newuniversity.faculty_three
Exception e =  (1142, "SELECT command denied to user 'normal_user'@'localhost' for table 'faculty_three'")
Exception e =  (1142, "SELECT command denied to user 'normal_user'@'localhost' for table 'faculty_three'")

- Root authors a stored procedure to insert faculty. Delete, update, etc. on the tables are similar.

```
CREATE DEFINER=`root`@`localhost` PROCEDURE `insert_safe_faculty`(l_name varchar(32), f_name varchar(32), f_title varchar(32), f_department varchar(2), h_date datetime)
BEGIN

	DECLARE new_uni varchar(32);
    DECLARE f_type CHAR(2);
    
    set new_uni = generate_uni(l_name, f_name);
    set f_type = "F";
    
    if h_date is NULL THEN
		set h_date = now();
	END IF;
    
    INSERT into person_three (uni, last_name, first_name, type) values(new_uni, l_name, f_name, f_type);
    INSERT into faculty_three (uni, title, department, hire_date) values(new_uni, f_title, f_department, h_date);
    

END
```
- Now (connected as root) allow a normal user to create faculty.

```
grant execute on procedure newuniversity.insert_safe_faculty to 'normal_user'
```

In [79]:
%sql select * from newuniversity.safefaculty;

2 rows affected.

[('DUCDO1', 'Duck', 'Donald', 'F', 'DUCDO1@columbia.edu', 'Professor', 'CS', datetime.datetime(2018, 10, 3, 15, 43, 6)),
 ('FERDO1', 'Ferguson', 'Donald', 'F', 'FERDO1@columbia.edu', 'Professor', 'CS', datetime.datetime(2018, 10, 3, 15, 44, 14))]

- ```normal_user``` cannot directly ```insert``` but can use the stored procedure.


- The stored procedure creates both rows, in the correct order for the integrity constraints.

In [84]:
q = "insert into person_three (last_name, first_name, type) values(%s, %s, %s)"
try:
    result = run_q(q, ['Duck', 'Drake', 'F'], cnx=cnx2)
    print("Result = ", result)
except Exception as e:
    print("Exception = ", e)

Query =  insert into person_three (last_name, first_name, type) values(%s, %s, %s)
Args =  ['Duck', 'Drake', 'F']
Query send to DB =  insert into person_three (last_name, first_name, type) values('Duck', 'Drake', 'F')
Exception e =  (1142, "INSERT command denied to user 'normal_user'@'localhost' for table 'person_three'")
Exception =  (1142, "INSERT command denied to user 'normal_user'@'localhost' for table 'person_three'")

In [85]:
q = "call NewUniversity.insert_safe_faculty('Duck', 'Drake', 'Professor', 'CS', now());"
run_q(q, cnx=cnx2, commit=True)

Query =  call NewUniversity.insert_safe_faculty('Duck', 'Drake', 'Professor', 'CS', now());
Args =  None
Query send to DB =  call NewUniversity.insert_safe_faculty('Duck', 'Drake', 'Professor', 'CS', now());

()

In [86]:
%sql select * from newuniversity.safefaculty;

3 rows affected.

[('DUCDO1', 'Duck', 'Donald', 'F', 'DUCDO1@columbia.edu', 'Professor', 'CS', datetime.datetime(2018, 10, 3, 15, 43, 6)),
 ('DUCDR1', 'Duck', 'Drake', 'F', 'DUCDR1@columbia.edu', 'Professor', 'CS', datetime.datetime(2019, 2, 18, 15, 1, 25)),
 ('FERDO1', 'Ferguson', 'Donald', 'F', 'FERDO1@columbia.edu', 'Professor', 'CS', datetime.datetime(2018, 10, 3, 15, 44, 14))]

### Summary

- We saw three things in this section:
    - An introduction to functions, triggers and stored procedures.
    - Design patterns for implementing subclassing/inheritance using views and stored procedures.
    - A simple example of security, including the use of views.
    

- This was a lot to consume. We will improve knowledge via small problems and questions on exams.