<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="line-height: 1.2">W4111 $-$ Introduction to Databases: <br>Web Applications and SQL Details</h1>

In [5]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(2002, 7, 5), datetime.date(1918, 8, 30))]

In [1]:
import pymysql
import json

_default_connect_info = {
        'host': 'localhost',
        'user': 'dbuser',
        'password': 'dbuser',
        'db': 'lahman2017',
        'port': 3306
    }
_default_cnx = pymysql.connect(
               _default_connect_info['host'],
                _default_connect_info['user'],
                _default_connect_info['password'],
                _default_connect_info['db'],
            charset='utf8mb4',
            cursorclass=pymysql.cursors.DictCursor)

In [2]:
def run_q(q, args=None, fields=None, fetch=True, cnx=None, commit=True, debug=True):
    """

    :param q: An SQL query string that may have %s slots for argument insertion. The string
        may also have {} after select for columns to choose.
    :param args: A tuple of values to insert in the %s slots.
    :param fetch: If true, return the result.
    :param cnx: A database connection. May be None
    :param commit: Do not worry about this for now. This is more wizard stuff.
    :return: A result set or None.
    """

    # Use the connection in the object if no connection provided.
    if cnx is None:
        cnx = _default_cnx

    # Convert the list of columns into the form "col1, col2, ..." for following SELECT.
    if fields:
        q = q.format(",".join(fields))

    cursor = cnx.cursor()  # Just ignore this for now.

    if debug:
        print("Query = ", q)
        print("Args = ", str(args))
        print("Query send to DB = ", cursor.mogrify(q, args))

    cnt = cursor.execute(q, args)  # Execute the query.

    # Technically, INSERT, UPDATE and DELETE do not return results.
    # Sometimes the connector libraries return the number of created/deleted rows.
    if fetch:
        r = cursor.fetchall()  # Return all elements of the result.
    else:
        r = cnt

    if commit:                  # Do not worry about this for now.
        cnx.commit()

    return r

In [29]:
run_q("select * from people where playerid = %s", args=('willite01'))

Query send to DB =  select * from people where playerid = 'willite01'

[{'DOB': datetime.date(1918, 8, 30),
  'DOD': datetime.date(2002, 7, 5),
  'bats': 'L',
  'bbrefID': 'willite01',
  'birthCity': 'San Diego',
  'birthCountry': 'USA',
  'birthDay': 30,
  'birthMonth': 8,
  'birthState': 'CA',
  'birthYear': 1918,
  'deathCity': 'Inverness',
  'deathCountry': 'USA',
  'deathDay': 5,
  'deathMonth': 7,
  'deathState': 'FL',
  'deathYear': 2002,
  'debut': '1939-04-20',
  'finalGame': '1960-09-28',
  'height': '75',
  'nameFirst': 'Ted',
  'nameGiven': 'Theodore Samuel',
  'nameLast': 'Williams',
  'playerID': 'willite01',
  'retroID': 'willt103',
  'throws': 'R',
  'weight': '205'}]

## Course Schedule

### Topics

## Questions or Comments?

### Piazza Questions

#### load()/save() versus __init__()


### Other Questions?

## Overview

- Web application overview:
    - Architecture concepts.
    - Simple demo.
    - Application we will enable.
    
    
- __Representational State Transfer (REST):__
    - Hypertext Transfer Protocol (HTTP).
    - (Web) resource concept.
    - REST overview and concepts.
    - REST and SQL.
    
    
- New relational operators: _CROSS-PRODUCT, UNION, INTERSECTION, MINUS_
    - Relational theory/algebra.
    - SQL
    - Application scenarios/user stories.
    
    
- Advanced _SELECT_ capabilities:
    - Aggregation
    - Sub-query
    - Application scenarios/user stories.
    
    
- Views: concept, uses, examples.


- Functions, Stored Procedures, Triggers:
    - Concepts
    - Application scenarios/user stories.
    
    
- HW2 Overview

## Web Application Overview

### The Big Picture

- There are several (too many) ways to classify applications and scenarios that use databases. Some examples
 

- One classification approach:
    - _Real-time (online) systems,_ where you submit requests to do a small amount of work that has to be done before some very early deadline, or interactively why the user waits.
    - _Batch processing systems,_ where you submit a a bunch of files, a "job" containing multiple subprograms, and later receive output in the form of a file.
    - _Data warehouse systems,_ where reporting programs and ad hoc queries access data that is integrated from multiple data sources.
    

- Real-time (online) system:
    - Most familiar is interactive web applications, e.g. CourseWorks, online banking.
    - Other examples: ATMs, airline check-in kiosks and boarding pass readers, ...

<br><br>

| <img src="../../images/simple_aws_web_app.jpeg" width="75%"> |
| :---: |
| Web Application Architecture |
 
<br><br>


- Big data/Batch processing:
    - These applications are usually in the backend and not directly seen by users.
    - The applications process and produce information used by other applications.
    - Examples: recommendation engines for commerce web sites, Google Analytics.

<br><br>

| <img src="../../images/google_analytics.jpeg"> |
| :---: |
| Google Analytics |

<br><br>
    
| <img src="../../images/batch_1.jpeg"> |
| :---: |
| [Batch Processing](https://www.datasciencecentral.com/profiles/blogs/batch-vs-real-time-data-processing) |

- Each stage in batch processing is multiple, smaller jobs/applications that have to run in specific orders.


- [MapReduce](https://en.wikipedia.org/wiki/MapReduce) and [Hadoop](https://en.wikipedia.org/wiki/Apache_Hadoop) are modern approaches to batch processing.


- I am going to try to find a way to do a little of this, but setting up all of the SW is complex.


| <img src="../../images/map_reduce_1.jpeg"> |
| :---: |
| __Map-Reduce__ |

- Data Warehouse Database:
    - Operational databases create-retrieve-update-delete data during on-line processing.
    - Data Warehouse is a transformed copy of the data for more complex, read only queries and reports.
    - We will do OLAP and analysis in the course, but on a small scale. The scenarios assume that ETL has already loaded the simple warehouse.
    
| <img src="../../images/data_warehouse_architecture.jpg"> |
| :---: |
| __Data Warehouse__ |

### Other Classifications and Models

- Another classification approach is to think of the _functions_ the databases support.


- A data processing system may involve some combination of the following functions
    - Conversion - converting data to another format.
    - Validation – Ensuring that supplied data is "clean, correct and useful."
    - Sorting – "arranging items in some sequence and/or in different sets."
    - Summarization – reducing detail data to its main points.
    - Aggregation – combining multiple pieces of data.
    - Analysis – the "collection, organization, analysis, interpretation and presentation of data.".
    - Reporting – list detail or summary data or computed information.
    
    
- Both SQL/online and batch/MapReduce/Hadoop have operators/steps implementing the functions. For example,
    - Summarization can be a Reducer in MapReduce and a GROUP BY operator in RDBs
    - Many batch systems use SQL and extensions as the language for programming mappers, shufflers, reducers, etc.
    
    
- A third classification approach
    - Operational Database: SSOL, CourseWorks, etc. are examples.
    - External Database: On-line banking, IMDB, etc. are examples.
    - End User Database: The local caches of data for mobile applications are an example.
    - Distributed Database
    - Data Warehouse Database:
        - Operational databases create-retrieve-update-delete data during on-line processing.
        - Data Warehouse is a transformed copy of the data for more complex, read only queries and reports.
    - Analytical Database
    - Hypermedia Database: Database for storing, retrieving, categorizing, searching, etc. linked, unstructured content like documents, images, recording, etc. You can consider the web itself to be a Hypermedia Database.

### Web Applications

#### Web Application Architecture

- Modern web application architectures are an evolution of the [N-tier/3-tier application model](https://en.wikipedia.org/wiki/Multitier_architecture#Three-tier_architecture)

"__Presentation tier__<br>
This is the topmost level of the application. The presentation tier displays information related to such services as browsing merchandise, purchasing and shopping cart contents. It communicates with other tiers by which it puts out the results to the browser/client tier and all other tiers in the network. In simple terms, it is a layer which users can access directly (such as a web page, or an operating system's GUI).<br><br>
__Application tier (business logic, logic tier, or middle tier)__ <br>
The logical tier is pulled out from the presentation tier and, as its own layer, it controls an application’s functionality by performing detailed processing.<br><br>
__Data tier__<br>
The data tier includes the data persistence mechanisms (database servers, file shares, etc.) and the data access layer that encapsulates the persistence mechanisms and exposes the data. The data access layer should provide an API to the application tier that exposes methods of managing the stored data without exposing or creating dependencies on the data storage mechanisms. Avoiding dependencies on the storage mechanisms allows for updates or changes without the application tier clients being affected by or even aware of the change. As with the separation of any tier, there are costs for implementation and often costs to performance in exchange for improved scalability and maintainability." (https://en.wikipedia.org/wiki/Multitier_architecture)


- Completely building just one of these tiers for simple scenarios is an entire semester project. So, we will do a simple subset, mostly focusing on data tier.


| <img src="../../images/web_app_layers.jpg"> |
| :---: |
| __Web Application Layers/Microservices__ |


- Even "simple" web applications are more complicated than the model above.

| <img src="../../images/simple_aws_web_app.jpeg"> |
| :---: |
| __Web Application Layers/Microservices__ |

| <img src="../../images/aws-reference-architecture-magento.png"> |
| :---: |
| [Reference Architecture for Magento](https://github.com/aws-quickstart/quickstart-magento) |



| <img src="../../images/complex_web_app.jpeg"> |
| :---: |
| [A Simple, but More Complex Web Application](https://www.slideshare.net/SEONGTAEKOH1/awsarchitectureecommerce/1) |

#### User Interface

| <img src="../../images/mvc_overview.jpeg"> |
| :---: |
| __Model View Controller__ |

"Model–view–controller is an architectural pattern commonly used for developing user interfaces that divides an application into three interconnected parts. This is done to separate internal representations of information from the ways information is presented to and accepted from the user ...


As with other software patterns, MVC expresses the "core of the solution" to a problem while allowing it to be adapted for each system. Particular MVC architectures can vary significantly from the traditional description here.

__Components__
- The _model_ is the central component of the pattern. It is the application's dynamic data structure, independent of the user interface. It directly manages the data, logic and rules of the application.
- A _view_ can be any output representation of information, such as a chart or a diagram. Multiple views of the same information are possible, such as a bar chart for management and a tabular view for accountants.
- The third part or section, the _controller,_ accepts input and converts it to commands for the model or view.[7]


__Interactions__
In addition to dividing the application into three kinds of components, the model–view–controller design defines the interactions between them.[8]
- The model is responsible for managing the data of the application. It receives user input from the controller.
- The view means presentation of the model in a particular format.
- The controller responds to the user input and performs interactions on the data model objects. The controller receives the input, optionally validates it and then passes the input to the model."(https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller)

| <img src="../../images/vmmv_overview.jpeg"> |
| :--: |
| __Viewmodel-Model-View__ |

- Viewmodel-Model-View (VMMV) is a similar UI architecture.


| <img src="../../images/ui_frameworks.jpeg"> |
| :---: |
| __UI Frameworks__ |

- There are many, many tools and frameworks for developing user interfaces for web browsers, mobile devices, ...
    - Angular JS, Angular 2
    - React, React Native
    - Bootstrap, Material
    - Semantic UI
    - Meteor
    - Ember
    - ... ...
    
    
| <img src="../../images/ui_frameworks_2.jpg"> |
| :---: |
| __UI Frameworks and Tools__ |

- UI summary
    - I have developed some complex UIs, but this is not my area of core expertise.
    - I will provide some simple, pretty bad code FYI.
    - User Interface and more importantly User Experience are very complex and very important areas.
    - The most important concepts and techniques are independent of the technology choice.
    - We have a course [COMS W4170: User Interface Design](http://coms4170.cs.columbia.edu/2019-spring/index.html) on the topic, taught by one of the most talented and brilliant professionals ([Lydia Chilton](https://engineering.columbia.edu/faculty/lydia-chilton))
    
#### Business Logic Layer and Data Access Layer

| <img src="../../images/web_app_layers.jpg"> |
| :---: |
| __Web Application Layers/Microservices__ |


- Our primary focus is the _resource model_ as a database/information concept, and implementation using relational/SQL. We will use a simple web application server to implement a simple microservice(s) implementing
    - REST API.
    - Very simple business logic layer.
    - Data logic layer.

| <img src="../../images/web_server_app_server.jpeg"> |
| :---: |
| __Web Servers and Applicatio Servers__ |

- The example codes and project template I provide will use [Flask.](http://flask.pocoo.org/)


- There are many, many microservice and application server frameworks, technologies and engines.


- You will __NOT__ have to install or configure anything. Flask is very well integrated with Python.


| <img src="../../images/flask_architecture.jpeg"> |
| :---: |
| __Flask Architecture__ |

#### Project Architecture and Application Functions 

| <img src="../../images/project_architecture.jpeg"> |
| :---: |
| __Project Architecture__ |

- We will build some very simple microservices, focusing primarily on data microservices.

"Microservices are a software development technique—a variant of the service-oriented architecture (SOA) architectural style that structures an application as a collection of loosely coupled services. In a microservices architecture, services are fine-grained and the protocols are lightweight. The benefit of decomposing an application into different smaller services is that it improves modularity. This makes the application easier to understand, develop, test, and become more resilient to architecture erosion. It parallelizes development by enabling small autonomous teams to develop, deploy and scale their respective services independently. It also allows the architecture of an individual service to emerge through continuous refactoring. Microservices-based architectures enable continuous delivery and deployment."

- _BaseballInfo Data Microservice:_ Allows users to query and explore data about players and their performance. Date comes from modified Lahman2017 schema and data.


- _Fantasy Baseball Data Microservice:_ Allows users to create an account, define a fantasy team, define a fantasy league, assign players to teams, etc. The database is a newly design database and data model.


- _Social Interaction Microservice:_ Allows users to follow, like, comment, etc. on teams, players, users, ...


- _Discussion/Comment Data Microservice:_ Stores comments, responses, discussion threads, etc.


- _Analytics/Machine Learning Data Microservice:_ A database of analyzed and processed baseball performance interface that enables analysis and prediction using machine learning.


- _Application Business/Logic Microservice:_ Implement business logic and rules, primarily governing correct operation of the fantasy league and rules.


- _Caching Microservice:_ REST API and data access response cache to optimize performance.


- _Static Content Web Server:_ Delivers HTML, CSS, images, JavaScript, etc. to web browser UI.


- _User Interface:_ Browser application using AngularJS.


__This is a massive undertaking. We will only cover small pieces here and there.__


- HW2 will be implementing the basics of:
    - BaseballInfo Data Microservice
    - Fantasy Baseball Data Microservice
    - Application/Business Logic Microservice
    
    
- HW4 will add NoSQL databases:
    - Neo4J
    - Redis
    - DynamoDB
    
    
| <img src="../../images/hw2_intro.jpeg"> |
| :---: |
| __HW2 Architecture__ |

## Representational State Transfer

### Concepts

#### Resource

| <img src="../../images/rest_concepts.png"> |
| :---: |
| [Resource Concept](https://restful-api-design.readthedocs.io/en/latest/resources.html) |

"The fundamental concept in any RESTful API is the resource. A resource is an object with a type, associated data, relationships to other resources, and a set of methods that operate on it. It is similar to an object instance in an object-oriented programming language, with the important difference that only a few standard methods are defined for the resource (corresponding to the standard HTTP GET, POST, PUT and DELETE methods), while an object instance typically has many methods.

Resources can be grouped into collections. Each collection is homogeneous so that it contains only one type of resource, and unordered. Resources can also exist outside any collection. In this case, we refer to these resources as singleton resources. Collections are themselves resources as well.

Collections can exist globally, at the top level of an API, but can also be contained inside a single resource. In the latter case, we refer to these collections as sub-collections. Sub-collections are usually used to express some kind of “contained in” relationship. We go into more detail on this in Relationships." (https://restful-api-design.readthedocs.io/en/latest/resources.html)

- Simplistic mapping to relational/SQL
    - Collection is a table.
    - Resource is a row/tuple.
    - Sub-resource is a _dependent entity_ (aka _weak entity._)
    - Sub-resource collection is the set of dependent entities that are dependent on/contained by the containing resource.
    
"In a relational database, a weak entity is an entity that cannot be uniquely identified by its attributes alone; therefore, it must use a foreign key in conjunction with its attributes to create a primary key. The foreign key is typically a primary key of an entity it is related to." (https://en.wikipedia.org/wiki/Weak_entity)

| <img src="../../images/orders_weak.jpeg"> |
| :---: |
| __Relationships__ |

- In the [classic cars database example:](http://www.mysqltutorial.org/mysql-sample-database.aspx)
    - _orderdetails_ is a dependent/weak entity/sub-resource that _orders_ logically contains.
    - The relationship is different than the relationship between _customers_ and _orders_ or _orderdetails_ and _products._

| <img src="../../images/order_form.jpeg"> |
| :---: |
| __Sub-Resources and Linked Resources__ |

- Simple way to think about it:
    - If I delete the _order,_ the _orderdetails_ is also deleted.
    - I can find the _customer_ and _product_ from _orders_ and _ordersdetails,_ but deleting the _order_ does not effect their existence.

#### Application Structure

| <img src="../../images/rest_app.jpeg"> |
| :---: |
| __REST Application__ 

In HW2:

- Application is an evolution of the HW1 RDBDataTable


- API is a new, simple application.

#### API and Protocol

##### Concept

| <img src="../../images/http_rest_protocol.jpeg" > |
| :---: |
| __HTTP and REST__ |

- The CRUD verbs are:
    - ```CREATE```
    - ```GET```
    - ```PUT``` (some designs use ```PATCH``` instead of ```PUT.```)
    - ```DELETE```

- The CRUD verbs occur on resources that a ```URL``` (```PATH```) identify.


- - "A Uniform Resource Locator (URL), colloquially termed a web address, is a reference to a web resource that specifies its location on a computer network and a mechanism for retrieving it. A URL is a specific type of Uniform Resource Identifier (URI), although many people use the two terms interchangeably. URLs occur most commonly to reference web pages (http), but are also used for file transfer (ftp), email (mailto), database access (JDBC), and many other applications." (https://en.wikipedia.org/wiki/URL)


- A URL has the format


```URI = scheme:[//authority]path[?query][#fragment]```


- The components are:
    1. Scheme: Information about the protocol, connector library, ...
    2. Authority: Usually ```userid:password```.
    3. Path: File system like folder path to the resource.
    4. We will cover query string later.
    5. Fragment: A location or subset of the resource, e.g. a section with heading.

- URL paths have a pattern in most applications

| Path | Mapping |
| :---: | :--- |
| /api	| The API entry point |
| /api/:coll	| A top-level collection named “coll” |
| /api/:coll/:id	| The resource “id” inside/related to collection “coll” |
| /api/:coll/:id/:subcoll	| Sub-collection “subcoll” under resource “id” |
| /api/:coll/:id/:subcoll/:subid	| The resource “subid” inside “subcoll” |


- Path examples:
    - ```/api/people/willite01```
    - ```/api/people/willite01/batting```
    - ```/api/people/willite01/batting/BOS_1960_1```
    
    
- Query string:

"On the internet, a query string is the part of a uniform resource locator (URL) which assigns values to specified parameters. The query string commonly includes fields added to a base URL by a Web browser or other client application, for example as part of an HTML form.

A web server can handle a Hypertext Transfer Protocol request either by reading a file from its file system based on the URL path or by handling the request using logic that is specific to the type of resource. In cases where special logic is invoked, the query string will be available to that logic for use in its processing, along with the path component of the URL." (https://en.wikipedia.org/wiki/Query_string)


- Query string example:
    - ```http://127.0.0.1/api/people?nameLast=Williams&nameFirst=Ted
    - maps to
    - ```SELECT * FROM people where nameLast='Williams' and nameFirst='Ted'```
    
    
- There is no standard way to specify _project._ A common convent is ```fields=f1,f2,...```


- Full example:
    - ```http://127.0.0.1/api/people?nameLast=Williams&nameFirst=Ted&fields=playerID,nameLast,nameFirst,throws, bats``` 
    - maps to
    - ```SELECT playerID,nameLast,nameFirst,throws,bats FROM people where nameLast='Williams' and nameFirst='Ted'```
    
    
- These are very common conventions, which we will use for HW2. Applications and frameworks also use other conventions.

##### Examples

- ```GET /api/people/willite01&fields=playerID,nameLast,nameFirst,bats,throws``` would return

```
{
    "data": {
        "playerID": {
            "value": "willite01",
            "link": {
                "rel": "people",
                "href": "/api/people/willite01"
            }
        },
        "nameLast": "Williams",
        "nameFirst": "Ted",
        "bats": "L",
        "throws": "R",
    }
    "links": {
        "appearances": { "href": "/api/people/willite01/appearances", "rel": "Appearances" },
        "batting": { "href": "/api/people/willite01/batting", "rel": "Batting" },
        "self": { "href": "/api/people/willite01", "rel": "Self" },
        
    }
}```


- ```GET /api/people/nameLast=Williams&fields=playerID,nameLast,nameFirst``` would return

```
"data": [
            {
                data: {
                    "playerID": {
                    "value": "williac01",
                    "link": {
                        "rel": "people",
                        "href": "/api/people/williac01"
                    },
                    "nameFirst": "Ace",
                    "nameLast": "Williams"
                },
                "links": {
                    "appearances": { "href": "/api/people/williac01/appearances", "rel": "Appearances" },
                    "batting": { "href": "/api/people/williac01/batting", "rel": "Batting" },
                    "self": { "href": "/api/people/williac01", "rel": "Self" }
                }
            },
            {
                data: {
                    "playerID": {
                    "value": "willial02",
                    "link": {
                        "rel": "people",
                        "href": "/api/people/willial02"
                    },
                    "nameFirst": "Al",
                    "nameLast": "Williams"
                },
                "links": {
                    "appearances": { "href": "/api/people/willial02/appearances", "rel": "Appearances" },
                    "batting": { "href": "/api/people/willial02/batting", "rel": "Batting" },
                    "self": { "href": "/api/people/willial02", "rel": "Self" }
                }
                    
            }
        ],
    "links": {
        "next": { "href": "/api/people/nameLast=Williams&fields=playerID,nameLast,nameFirst&limit=2&offset=2,
            "rel": "next"},
        "self": { "href": "/api/people/nameLast=Williams&fields=playerID,nameLast,nameFirst&limit=0&offset=2,
            "current": "next"}
    }
}
```

- ```limit``` and ```offset``` implement _pagination._

"Currently, when an HTTP GET request is issued on ... route, all of the table's rows are returned. This may not be a big deal with only 107 rows in ... table, but imagine what would happen if the table contained thousands or millions of rows. Clients such as mobile and web apps generally consume and display only a fraction of the rows available in the database and then fetch more rows when needed — perhaps when a user scrolls down or clicks the "next" button on some pagination control in the UI.

To allow for this, REST APIs need to support a means of paginating the results returned. Once pagination is supported, sorting capabilities become important as data usually needs to be sorted prior to pagination being applied. Additionally, a means of filtering data is very important for performance. Why send data from the database, through the mid-tier, and all the way to the client if it's not needed?" (https://dzone.com/articles/creating-a-rest-api-manual-pagination-sorting-and)


- You have seen that I have to do pagination when submitting queries to MySQL from Jupyter notebooks. If I do not use ```LIMIT,``` the amount of returned data causes the Jupyter notebook/browser to freeze/lock-up.

__Before we can start implementing this application, we must learn some more relational/SQL/database concepts!__

## More Relational Concepts

### Overview

- We will learn some of the more advanced relational concepts in the context of defining queries for the BaseballInfo Data Microservice.


- How do we know which queries to enable? Web application and most projects define _use cases_ and/or _user stories._ 
    - [Use case:](https://en.wikipedia.org/wiki/Use_case) "In software and systems engineering, a use case is a list of actions or event steps typically defining the interactions between a role (known in the Unified Modeling Language as an actor) and a system to achieve a goal." 
    - [User story:](https://en.wikipedia.org/wiki/User_story) "In software development and product management, a user story is an informal, natural language description of one or more features of a software system. User stories are often written from the perspective of an end user or user of a system."
    
    
- Identifying and prioritizing use cases/user stories is a complex part of [software product management](https://en.wikipedia.org/wiki/Software_product_management).


- I will provide some user stories, and you can also define your own. The user stories yield common queries, which in turn identify indexes and keys to optimize performance.


- Where am I going to get the initial user stories? People used to/still do collect [baseball cards](https://en.wikipedia.org/wiki/Baseball_card).


| <img src="../../images/baseball_cards.jpeg"> |
| :---: |
| __Baseball Card Collections__ |


- Why did kids collect baseball cards?
    - We did not have XBox, PlayStation, etc.
    - There was no Internet or web.
    - We had five television channels.
    - Baseball cards came with bubblegum.


- We had a lot of time. I used catch bees in the summer and falling leaves in the fall, for example.


- [Topps Company, Inc.:](https://en.wikipedia.org/wiki/Topps)
    - "The Topps Company, Inc., manufactures chewing gum, candy, and collectibles. Based in New York City,[1] Topps is best known as a leading producer of basketball cards, American football cards, baseball cards, hockey cards, association football cards, and other sports and non-sports themed trading cards. It is currently the only baseball card manufacturer with a contract with Major League Baseball."
    - 2006 revenue was \$317 million.

### U01: Player Information

- Displaying a player's info starts with the basics: name, bats, throws, position, ... 

| <img src="../../images/baseball_card_back.jpeg"> |
| :---: |
| __Player Person Information__ |


- We already know how to query for some of this information.

In [3]:
%sql select playerid, nameLast, nameFirst, DOB, height, weight, throws, bats from people \
    where nameLast='Robinson' and nameFirst='Frank'

1 rows affected.

[('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R')]

- The player summary also includes a table of annual summary information. We will start with batting information.

In [4]:
%sql select * from batting where playerid='robinfr02'

22 rows affected.

[('robinfr02', '1966', '1', 'BAL', 'AL', '155', '576', '122', '182', '34', '2', '49', '122', '8', '5', '87', '90', '11', '10', '0', '7', '24'),
 ('robinfr02', '1967', '1', 'BAL', 'AL', '129', '479', '83', '149', '23', '7', '30', '94', '2', '3', '71', '84', '14', '7', '0', '6', '10'),
 ('robinfr02', '1968', '1', 'BAL', 'AL', '130', '421', '69', '113', '27', '1', '15', '52', '11', '2', '73', '84', '4', '12', '0', '2', '15'),
 ('robinfr02', '1969', '1', 'BAL', 'AL', '148', '539', '111', '166', '19', '5', '32', '100', '9', '3', '88', '62', '11', '13', '0', '3', '12'),
 ('robinfr02', '1970', '1', 'BAL', 'AL', '132', '471', '88', '144', '24', '1', '25', '78', '2', '1', '69', '70', '9', '7', '0', '6', '13'),
 ('robinfr02', '1971', '1', 'BAL', 'AL', '133', '455', '82', '128', '16', '2', '28', '99', '3', '0', '72', '62', '11', '9', '1', '8', '22'),
 ('robinfr02', '1973', '1', 'CAL', 'AL', '147', '534', '85', '142', '29', '0', '30', '97', '1', '1', '82', '93', '12', '10', '1', '3', '13'),
 ('robinfr02', '1974', '1', 'CAL', 'AL', '129', '427', '75', '107', '26', '2', '20', '63', '5', '1', '75', '85', '14', '10', '1', '5', '10'),
 ('robinfr02', '1956', '1', 'CIN', 'NL', '152', '572', '122', '166', '27', '6', '38', '83', '8', '4', '64', '95', '7', '20', '8', '4', '14'),
 ('robinfr02', '1957', '1', 'CIN', 'NL', '150', '611', '97', '197', '29', '5', '29', '75', '10', '2', '44', '92', '5', '12', '5', '5', '13'),
 ('robinfr02', '1958', '1', 'CIN', 'NL', '148', '554', '90', '149', '25', '6', '31', '83', '10', '1', '62', '80', '5', '7', '0', '0', '13'),
 ('robinfr02', '1959', '1', 'CIN', 'NL', '146', '540', '106', '168', '31', '4', '36', '125', '18', '8', '69', '93', '9', '8', '0', '9', '16'),
 ('robinfr02', '1960', '1', 'CIN', 'NL', '139', '464', '86', '138', '33', '6', '31', '83', '13', '6', '82', '67', '6', '9', '0', '7', '18'),
 ('robinfr02', '1961', '1', 'CIN', 'NL', '153', '545', '117', '176', '32', '7', '37', '124', '22', '3', '71', '64', '23', '10', '0', '10', '15'),
 ('robinfr02', '1962', '1', 'CIN', 'NL', '162', '609', '134', '208', '51', '2', '39', '136', '18', '9', '76', '62', '16', '11', '0', '5', '13'),
 ('robinfr02', '1963', '1', 'CIN', 'NL', '140', '482', '79', '125', '19', '3', '21', '91', '26', '10', '81', '69', '20', '14', '0', '3', '7'),
 ('robinfr02', '1964', '1', 'CIN', 'NL', '156', '568', '103', '174', '38', '6', '29', '96', '23', '5', '79', '67', '20', '9', '0', '6', '13'),
 ('robinfr02', '1965', '1', 'CIN', 'NL', '156', '582', '109', '172', '33', '5', '33', '113', '13', '9', '70', '100', '18', '18', '0', '4', '14'),
 ('robinfr02', '1974', '2', 'CLE', 'AL', '15', '50', '6', '10', '1', '1', '2', '5', '0', '1', '10', '10', '0', '0', '0', '1', '1'),
 ('robinfr02', '1975', '1', 'CLE', 'AL', '49', '118', '19', '28', '5', '0', '9', '24', '0', '0', '29', '15', '3', '0', '1', '1', '2'),
 ('robinfr02', '1976', '1', 'CLE', 'AL', '36', '67', '5', '15', '0', '0', '3', '10', '0', '0', '11', '12', '0', '0', '0', '1', '3'),
 ('robinfr02', '1972', '1', 'LAN', 'NL', '103', '342', '41', '86', '6', '1', '19', '59', '2', '3', '55', '76', '0', '2', '0', '6', '9')]

- We will summarize the information.


- Columns:
    - Base columns
        - yearID, stint, teamID
        - G: games played
        - AB: at-bats
        - R: runs scored
        - H: hits
        - 2B: doubles 
        - 3B: triples
        - HR: homeruns
        - RBI: runs batted in
        - BB: walks
    - Computed columns:
        - BA: batting average = $(H / AB)$
        - OBG: on-base percentage = $(H + BB)/AB$

In [15]:
%%sql
    select yearID as year, stint as Stint, teamID as Team,
    G, AB, R, 2B, 3B, HR, RBI, BB,
    round(H/NULLIF(AB,0),3) as OBP,
    round(
        (((H - 2B - 3B - HR) + (2B * 2) + (3B * 3) + (HR * 4))
        /
        NULLIF(AB,0)),3) as SLG
    from batting
    where playerid='robinfr02'

22 rows affected.

[('1966', '1', 'BAL', '155', '576', '122', '34', '2', '49', '122', '87', 0.316, 0.637),
 ('1967', '1', 'BAL', '129', '479', '83', '23', '7', '30', '94', '71', 0.311, 0.576),
 ('1968', '1', 'BAL', '130', '421', '69', '27', '1', '15', '52', '73', 0.268, 0.444),
 ('1969', '1', 'BAL', '148', '539', '111', '19', '5', '32', '100', '88', 0.308, 0.54),
 ('1970', '1', 'BAL', '132', '471', '88', '24', '1', '25', '78', '69', 0.306, 0.52),
 ('1971', '1', 'BAL', '133', '455', '82', '16', '2', '28', '99', '72', 0.281, 0.51),
 ('1973', '1', 'CAL', '147', '534', '85', '29', '0', '30', '97', '82', 0.266, 0.489),
 ('1974', '1', 'CAL', '129', '427', '75', '26', '2', '20', '63', '75', 0.251, 0.461),
 ('1956', '1', 'CIN', '152', '572', '122', '27', '6', '38', '83', '64', 0.29, 0.558),
 ('1957', '1', 'CIN', '150', '611', '97', '29', '5', '29', '75', '44', 0.322, 0.529),
 ('1958', '1', 'CIN', '148', '554', '90', '25', '6', '31', '83', '62', 0.269, 0.504),
 ('1959', '1', 'CIN', '146', '540', '106', '31', '4', '36', '125', '69', 0.311, 0.583),
 ('1960', '1', 'CIN', '139', '464', '86', '33', '6', '31', '83', '82', 0.297, 0.595),
 ('1961', '1', 'CIN', '153', '545', '117', '32', '7', '37', '124', '71', 0.323, 0.611),
 ('1962', '1', 'CIN', '162', '609', '134', '51', '2', '39', '136', '76', 0.342, 0.624),
 ('1963', '1', 'CIN', '140', '482', '79', '19', '3', '21', '91', '81', 0.259, 0.442),
 ('1964', '1', 'CIN', '156', '568', '103', '38', '6', '29', '96', '79', 0.306, 0.548),
 ('1965', '1', 'CIN', '156', '582', '109', '33', '5', '33', '113', '70', 0.296, 0.54),
 ('1974', '2', 'CLE', '15', '50', '6', '1', '1', '2', '5', '10', 0.2, 0.38),
 ('1975', '1', 'CLE', '49', '118', '19', '5', '0', '9', '24', '29', 0.237, 0.508),
 ('1976', '1', 'CLE', '36', '67', '5', '0', '0', '3', '10', '11', 0.224, 0.358),
 ('1972', '1', 'LAN', '103', '342', '41', '6', '1', '19', '59', '55', 0.251, 0.442)]

- Some observations:
    - Do not worry about the details of computing [on base percentage](https://en.wikipedia.org/wiki/On-base_percentage) and [batting average.](https://en.wikipedia.org/wiki/Slugging_percentage) I will provide formulas any time I ask you to compute something.
    - The expression ```(((H - 2B - 3B - HR) + (`2B` * 2) + (`3B` * 3) + (HR * 4))``` is the formula for slugging percentage.
    - ```ROUND(x,n)``` rounds a number to ```n``` decimal places.
    - ```NULLIF(x,y)``` evaluates to ```NULL``` if ```x == y```.
    
    
- The SQL standard defines a set of [built-in functions](https://www.w3schools.com/sql/sql_ref_sqlserver.asp) that operate on strings, numbers, dates, types.


- Specific relational database engines add additional, non-standard functions.


- Usually, ```NULL op value``` evaluates to ```NULL```.

In [18]:
%sql select 4/NULL, 4+NULL, concat("canary", NULL)

1 rows affected.

[(None, None, None)]

- We could obviously retrieve the personal information and batting information using two queries.

In [49]:
def get_card_info(player_id):
    
    q1 = "select playerid, nameLast, nameFirst, DOB, height, weight, throws, bats from people where playerid=%s"
    c1 = run_q(q1,(player_id), debug=False)
    c1 = c1[0]
    c1['DOB'] = str(c1['DOB'])
    
    
    q2 = """
    select yearID as year, stint as Stint, teamID as Team,
    G, AB, R, 2B, 3B, HR, RBI, BB,
    round(H/NULLIF(AB,0),3) as OBP,
    round(
        (((H - 2B - 3B - HR) + (2B * 2) + (3B * 3) + (HR * 4))
        /
        NULLIF(AB,0)),3) as SLG
    from batting
    where playerid=%s"""
    c2 = run_q(q2,(player_id), debug=False)
    
    card_info = { "PersonalInfo": c1, "BattingInfo": c2}
    return card_info

In [50]:
print("\n\n",json.dumps(get_card_info('robinfr02'), indent=2))

 {
  "PersonalInfo": {
    "playerid": "robinfr02",
    "nameLast": "Robinson",
    "nameFirst": "Frank",
    "DOB": "1935-08-31",
    "height": "73",
    "weight": "183",
    "throws": "R",
    "bats": "R"
  },
  "BattingInfo": [
    {
      "year": "1966",
      "Stint": "1",
      "Team": "BAL",
      "G": "155",
      "AB": "576",
      "R": "122",
      "2B": "34",
      "3B": "2",
      "HR": "49",
      "RBI": "122",
      "BB": "87",
      "OBP": 0.316,
      "SLG": 0.637
    },
    {
      "year": "1967",
      "Stint": "1",
      "Team": "BAL",
      "G": "129",
      "AB": "479",
      "R": "83",
      "2B": "23",
      "3B": "7",
      "HR": "30",
      "RBI": "94",
      "BB": "71",
      "OBP": 0.311,
      "SLG": 0.576
    },
    {
      "year": "1968",
      "Stint": "1",
      "Team": "BAL",
      "G": "130",
      "AB": "421",
      "R": "69",
      "2B": "27",
      "3B": "1",
      "HR": "15",
      "RBI": "52",
      "BB": "73",
      "OBP": 0.268,
      "SLG": 0.444
    },
    {
      "year": "1969",
      "Stint": "1",
      "Team": "BAL",
      "G": "148",
      "AB": "539",
      "R": "111",
      "2B": "19",
      "3B": "5",
      "HR": "32",
      "RBI": "100",
      "BB": "88",
      "OBP": 0.308,
      "SLG": 0.54
    },
    {
      "year": "1970",
      "Stint": "1",
      "Team": "BAL",
      "G": "132",
      "AB": "471",
      "R": "88",
      "2B": "24",
      "3B": "1",
      "HR": "25",
      "RBI": "78",
      "BB": "69",
      "OBP": 0.306,
      "SLG": 0.52
    },
    {
      "year": "1971",
      "Stint": "1",
      "Team": "BAL",
      "G": "133",
      "AB": "455",
      "R": "82",
      "2B": "16",
      "3B": "2",
      "HR": "28",
      "RBI": "99",
      "BB": "72",
      "OBP": 0.281,
      "SLG": 0.51
    },
    {
      "year": "1973",
      "Stint": "1",
      "Team": "CAL",
      "G": "147",
      "AB": "534",
      "R": "85",
      "2B": "29",
      "3B": "0",
      "HR": "30",
      "RBI": "97",
      "BB": "82",
      "OBP": 0.266,
      "SLG": 0.489
    },
    {
      "year": "1974",
      "Stint": "1",
      "Team": "CAL",
      "G": "129",
      "AB": "427",
      "R": "75",
      "2B": "26",
      "3B": "2",
      "HR": "20",
      "RBI": "63",
      "BB": "75",
      "OBP": 0.251,
      "SLG": 0.461
    },
    {
      "year": "1956",
      "Stint": "1",
      "Team": "CIN",
      "G": "152",
      "AB": "572",
      "R": "122",
      "2B": "27",
      "3B": "6",
      "HR": "38",
      "RBI": "83",
      "BB": "64",
      "OBP": 0.29,
      "SLG": 0.558
    },
    {
      "year": "1957",
      "Stint": "1",
      "Team": "CIN",
      "G": "150",
      "AB": "611",
      "R": "97",
      "2B": "29",
      "3B": "5",
      "HR": "29",
      "RBI": "75",
      "BB": "44",
      "OBP": 0.322,
      "SLG": 0.529
    },
    {
      "year": "1958",
      "Stint": "1",
      "Team": "CIN",
      "G": "148",
      "AB": "554",
      "R": "90",
      "2B": "25",
      "3B": "6",
      "HR": "31",
      "RBI": "83",
      "BB": "62",
      "OBP": 0.269,
      "SLG": 0.504
    },
    {
      "year": "1959",
      "Stint": "1",
      "Team": "CIN",
      "G": "146",
      "AB": "540",
      "R": "106",
      "2B": "31",
      "3B": "4",
      "HR": "36",
      "RBI": "125",
      "BB": "69",
      "OBP": 0.311,
      "SLG": 0.583
    },
    {
      "year": "1960",
      "Stint": "1",
      "Team": "CIN",
      "G": "139",
      "AB": "464",
      "R": "86",
      "2B": "33",
      "3B": "6",
      "HR": "31",
      "RBI": "83",
      "BB": "82",
      "OBP": 0.297,
      "SLG": 0.595
    },
    {
      "year": "1961",
      "Stint": "1",
      "Team": "CIN",
      "G": "153",
      "AB": "545",
      "R": "117",
      "2B": "32",
      "3B": "7",
      "HR": "37",
      "RBI": "124",
      "BB": "71",
      "OBP": 0.323,
      "SLG": 0.611
    },
    {
      "year": "1962",
      "Stint": "1",
      "Team": "CIN",
      "G": "162",
      "AB": "609",
      "R": "134",
      "2B": "51",
      "3B": "2",
      "HR": "39",
      "RBI": "136",
      "BB": "76",
      "OBP": 0.342,
      "SLG": 0.624
    },
    {
      "year": "1963",
      "Stint": "1",
      "Team": "CIN",
      "G": "140",
      "AB": "482",
      "R": "79",
      "2B": "19",
      "3B": "3",
      "HR": "21",
      "RBI": "91",
      "BB": "81",
      "OBP": 0.259,
      "SLG": 0.442
    },
    {
      "year": "1964",
      "Stint": "1",
      "Team": "CIN",
      "G": "156",
      "AB": "568",
      "R": "103",
      "2B": "38",
      "3B": "6",
      "HR": "29",
      "RBI": "96",
      "BB": "79",
      "OBP": 0.306,
      "SLG": 0.548
    },
    {
      "year": "1965",
      "Stint": "1",
      "Team": "CIN",
      "G": "156",
      "AB": "582",
      "R": "109",
      "2B": "33",
      "3B": "5",
      "HR": "33",
      "RBI": "113",
      "BB": "70",
      "OBP": 0.296,
      "SLG": 0.54
    },
    {
      "year": "1974",
      "Stint": "2",
      "Team": "CLE",
      "G": "15",
      "AB": "50",
      "R": "6",
      "2B": "1",
      "3B": "1",
      "HR": "2",
      "RBI": "5",
      "BB": "10",
      "OBP": 0.2,
      "SLG": 0.38
    },
    {
      "year": "1975",
      "Stint": "1",
      "Team": "CLE",
      "G": "49",
      "AB": "118",
      "R": "19",
      "2B": "5",
      "3B": "0",
      "HR": "9",
      "RBI": "24",
      "BB": "29",
      "OBP": 0.237,
      "SLG": 0.508
    },
    {
      "year": "1976",
      "Stint": "1",
      "Team": "CLE",
      "G": "36",
      "AB": "67",
      "R": "5",
      "2B": "0",
      "3B": "0",
      "HR": "3",
      "RBI": "10",
      "BB": "11",
      "OBP": 0.224,
      "SLG": 0.358
    },
    {
      "year": "1972",
      "Stint": "1",
      "Team": "LAN",
      "G": "103",
      "AB": "342",
      "R": "41",
      "2B": "6",
      "3B": "1",
      "HR": "19",
      "RBI": "59",
      "BB": "55",
      "OBP": 0.251,
      "SLG": 0.442
    }
  ]
}

- Notes:
    - Queries always return a list (table of data). If we know there is a single row, we get ```c1[0]```.
    - The query returns ```DOB``` as an object, but we convert to a string.
    
    
- Providing the requested data accesses two tables and uses two queries.


- There are relational operators and SQL statements that operate on multiple tables.

## Some More Relational Stuff $-$ Operations on Multiple Tables

### Reminder

- There are two notations or representations of the algebra:
    - The original, formal theory.
    - SQL
    
    
- We previously covered _select_ and _project._ We also saw examples of _aliasing_ aka _renaming._


- This lecture will cover:
    - __Cartesian Product/Cross Product__
    - __Union__
    - __Intersection__
    - __Difference__
    - __Join__
    
### Original, Formal Notation

- The "set" in the relational algebra is the set of _relations_.


- The operations are:
    - Common set operations:
        - <b><span style="color:red;">Union: $\cup$</span></b>
        - <b><span style="color:red;">Intersection: $\cap$</span></b>
        - <b><span style="color:red;">Difference: $-$</span></b>
    - Projection: $\pi$
    - Selection: $\sigma$
    - <b><span style="color:red;">Cartesian Product: $\times$</span></b>
    - <b><span style="color:red;">Join: $\bowtie$</span></b>
    - Rename/Alias
    

- The formal notation does not support create, update or delete. You could emulate the operations by
    - Defining new relations containing the created, updated or delete tuples.
    - Using $\cup$, $\cap$, $-$ on the original relation and created/deleted/updated tuple relation.
    
    
### SQL Notation

- The "set" in the relational algebra is the catalog of _tables_.


- The operations are:
    - Common set operations:
        - Union: UNION
        - Intersection: INTERSECT
        - Difference: EXCEPT
    - Selection, Projection, Cartesian Product, Rename/Alias and Join are clauses within a SELECT statement.
    
    ```SELECT <project clause> FROM <table> [JOIN <table> [ON <join condition]] WHERE <select condition>```
    <br><br>
    
    
- SQL supports additional operations, e.g
    - GROUP BY
    - ORDER BY

### Cross Product/Cartesian Product


- In set theory (and, usually, in other parts of mathematics), a Cartesian product is a mathematical operation that returns a set (or product set or simply product) from multiple sets. That is, for sets A and B, the Cartesian product A $\times$ B is the set of all ordered pairs $(a, b)$ where $a \in A$ and $b \in B$. 


- Cross-product/Cartesian product ($\times$) combines two relations.
    - If
        - Appetizers(dish)
        - Entrees(dish)
        - Desserts(dish)<br><br>
    - We could say that $Meal(dish1, dish2, dish3)= Appetizers \times Entrees \times Desserts$
    
| A1 | Egg Roll  | e1 | chicken | d1 | ice cream |
|----|-----------|----|---------|----|-----------|
| A2 | Dumplings | e1 | chicken | d1 | ice cream |
| A1 | Egg Roll  | e1 | chicken | d2 | cookies   |
| A2 | Dumplings | e1 | chicken | d2 | cookies   |
| A1 | Egg Roll  | e2 | fish    | d1 | ice cream |
| A2 | Dumplings | e2 | fish    | d1 | ice cream |
| A1 | Egg Roll  | e2 | fish    | d2 | cookies   |
| A2 | Dumplings | e2 | fish    | d2 | cookies   |
| A1 | Egg Roll  | e3 | pork    | d1 | ice cream |
| A2 | Dumplings | e3 | pork    | d1 | ice cream |
| A1 | Egg Roll  | e3 | pork    | d2 | cookies   |
| A2 | Dumplings | e3 | pork    | d2 | cookies   |
   
<br>
- The SQL syntaxt for Cartesian product is ```SELECT ... FROM A JOIN B```

In [8]:
%sql select * from w4111.appetizers;

2 rows affected.

[('A1', 'Egg Roll'), ('A2', 'Dumplings')]

In [9]:
%sql select * from w4111.entrees;

3 rows affected.

[('e1', 'chicken'), ('e2', 'fish'), ('e3', 'pork')]

In [10]:
%sql select * from w4111.appetizers;

2 rows affected.

[('A1', 'Egg Roll'), ('A2', 'Dumplings')]

In [11]:
%sql use w4111;
%sql select * from appetizers join entrees join desserts;

0 rows affected.
12 rows affected.

[('A1', 'Egg Roll', 'e1', 'chicken', 'd1', 'ice cream'),
 ('A2', 'Dumplings', 'e1', 'chicken', 'd1', 'ice cream'),
 ('A1', 'Egg Roll', 'e1', 'chicken', 'd2', 'cookies'),
 ('A2', 'Dumplings', 'e1', 'chicken', 'd2', 'cookies'),
 ('A1', 'Egg Roll', 'e2', 'fish', 'd1', 'ice cream'),
 ('A2', 'Dumplings', 'e2', 'fish', 'd1', 'ice cream'),
 ('A1', 'Egg Roll', 'e2', 'fish', 'd2', 'cookies'),
 ('A2', 'Dumplings', 'e2', 'fish', 'd2', 'cookies'),
 ('A1', 'Egg Roll', 'e3', 'pork', 'd1', 'ice cream'),
 ('A2', 'Dumplings', 'e3', 'pork', 'd1', 'ice cream'),
 ('A1', 'Egg Roll', 'e3', 'pork', 'd2', 'cookies'),
 ('A2', 'Dumplings', 'e3', 'pork', 'd2', 'cookies')]

- I cannot create the appearance because the person does not exist.


- I can create similar errors for ```Batting``` relative to ```People``` and ```Teams``` and ```Appearances``` and ```Teams.```

### Aliasing/Renaming

- I have shown examples of aliasing and renaming columns and tables.


- The SQL syntax often requires aliases for derived tables in complex queries.


- You can see that columns names can overlap between tables or the default column names are confusing.


- An improvement on the query above could be:

In [12]:
%sql use w4111;
%sql select \
    appetizers.code as appetizer_code, appetizers.name as appetizer_name, \
    entrees.code as main_dish_code, entrees.name as main_dish_name, \
    desserts.code as stuff_I_came_for_code, desserts.name as stuff_I_came_for_name \
from appetizers join entrees join desserts;

0 rows affected.
12 rows affected.

[('A1', 'Egg Roll', 'e1', 'chicken', 'd1', 'ice cream'),
 ('A2', 'Dumplings', 'e1', 'chicken', 'd1', 'ice cream'),
 ('A1', 'Egg Roll', 'e1', 'chicken', 'd2', 'cookies'),
 ('A2', 'Dumplings', 'e1', 'chicken', 'd2', 'cookies'),
 ('A1', 'Egg Roll', 'e2', 'fish', 'd1', 'ice cream'),
 ('A2', 'Dumplings', 'e2', 'fish', 'd1', 'ice cream'),
 ('A1', 'Egg Roll', 'e2', 'fish', 'd2', 'cookies'),
 ('A2', 'Dumplings', 'e2', 'fish', 'd2', 'cookies'),
 ('A1', 'Egg Roll', 'e3', 'pork', 'd1', 'ice cream'),
 ('A2', 'Dumplings', 'e3', 'pork', 'd1', 'ice cream'),
 ('A1', 'Egg Roll', 'e3', 'pork', 'd2', 'cookies'),
 ('A2', 'Dumplings', 'e3', 'pork', 'd2', 'cookies')]

### UNION

- The Union relational operator is $\cup$.


- We should all be familiar with the concept.


- $appetizers \cup entrees \cup desserts = all\_dishes = $

| Code | Name |
|------|------|
| A1 | Egg Roll  |
| A2 | Dumplings |
| e1 | chicken   |
| e2 | fish      |
| e3 | pork      |
| d1 | ice cream |
| d2 | cookies   |


- The SQL operator is ```UNION```.

In [13]:
%sql select * from \
    w4111.appetizers  \
union \
    select * from w4111.entrees \
union \
    select * from w4111.desserts;

7 rows affected.

[('A1', 'Egg Roll'),
 ('A2', 'Dumplings'),
 ('e1', 'chicken'),
 ('e2', 'fish'),
 ('e3', 'pork'),
 ('d1', 'ice cream'),
 ('d2', 'cookies')]

- Derived tables often have duplicate rows/tuples.


- ```select playerid, team from appearances``` produces one row for each entry in the base table, despite the fact that a player may have appeared for a team in many seasons.

In [14]:
%sql use `lahman2017`;
%sql select count(*) from appearances;

0 rows affected.
1 rows affected.

[(104256,)]

- There are 104,256 appearances records, e.g. info about player's appearances in a game for a season in a year.

In [16]:
%sql select count(*) from \
    (select playerid, teamid from appearances) as a;

1 rows affected.

[(104256,)]

- If every row were unique in the derived table ```a```, it would mean no player never played more than one season with a team.


- This is unlikely.

In [19]:
%sql select playerid, teamid from appearances where playerid='willite01' \
    order by playerid limit 10;

10 rows affected.

[('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS'),
 ('willite01', 'BOS')]

- SQL and the relational model have operators that manipulate tables and always produce tables. 
    - Just because the base tables have primary or unique keys
    - Does not mean the derived tables do.


- We saw the use of the `DISTINCT` operator, which eliminates duplicates in derived tables.

In [20]:
%sql select count(*) from \
    (select distinct playerid, teamid from appearances) as a;

1 rows affected.

[(45137,)]

In [21]:
%sql select distinct playerid, teamid from appearances where playerid='willite01' \
    order by playerid limit 10;

1 rows affected.

[('willite01', 'BOS')]

- Annoyingly, ```UNION``` behaves differently. $A \cup B$ will NOT contain duplicates.

In [22]:
%sql (select * from w4111.appetizers) UNION (select * from w4111.appetizers);

2 rows affected.

[('A1', 'Egg Roll'), ('A2', 'Dumplings')]

- If you want duplicates, add ```ALL```.

In [23]:
%sql (select * from w4111.appetizers) UNION ALL (select * from w4111.appetizers);

4 rows affected.

[('A1', 'Egg Roll'),
 ('A2', 'Dumplings'),
 ('A1', 'Egg Roll'),
 ('A2', 'Dumplings')]

- An example:
    - ```Appearances``` lists players who appeared based on ```playerID, teamId, yearID.```
    - ```Managers``` lists information about people who managed (coached) a team.
    - ```UNION``` products a list of people who played and/or managed a team.

In [21]:
%sql select * from appearances where teamid='BOS' and yearid='1960'

42 rows affected.

[('1960', 'BOS', 'AL', 'boonera01', '34', '19', '34', '22', '0', '0', '22', '0', '0', '0', '0', '0', '0', '0', '0', '13', '0'),
 ('1960', 'BOS', 'AL', 'borlato01', '26', '4', '26', '26', '26', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'bowsfte01', '17', '2', '17', '17', '17', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'breweto01', '45', '29', '45', '34', '34', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11'),
 ('1960', 'BOS', 'AL', 'buddido01', '124', '121', '124', '124', '0', '0', '0', '0', '0', '124', '0', '0', '0', '0', '0', '0', '2'),
 ('1960', 'BOS', 'AL', 'busbyji01', '1', '0', '1', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'casalje01', '29', '14', '29', '29', '29', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'chittne01', '6', '0', '6', '6', '6', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'clintlo01', '96', '81', '96', '89', '0', '0', '0', '0', '0', '0', '0', '0', '89', '89', '0', '6', '6'),
 ('1960', 'BOS', 'AL', 'coughma01', '15', '4', '15', '14', '0', '0', '0', '13', '1', '0', '0', '0', '0', '0', '0', '2', '4'),
 ('1960', 'BOS', 'AL', 'delocik01', '24', '23', '24', '24', '24', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'earlear01', '2', '0', '2', '2', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'fornimi01', '70', '0', '70', '70', '70', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'geigega01', '77', '63', '77', '66', '0', '0', '0', '0', '0', '0', '5', '7', '59', '66', '0', '14', '0'),
 ('1960', 'BOS', 'AL', 'giledo01', '29', '11', '29', '26', '0', '15', '11', '0', '0', '0', '0', '0', '0', '0', '0', '5', '1'),
 ('1960', 'BOS', 'AL', 'greenpu01', '133', '57', '133', '106', '0', '0', '0', '69', '0', '41', '0', '0', '0', '0', '0', '31', '10'),
 ('1960', 'BOS', 'AL', 'hardyca01', '73', '35', '73', '59', '0', '0', '0', '0', '0', '0', '41', '12', '14', '59', '0', '8', '18'),
 ('1960', 'BOS', 'AL', 'hillmda01', '16', '3', '16', '16', '16', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'jacksro01', '10', '8', '10', '9', '0', '0', '9', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0'),
 ('1960', 'BOS', 'AL', 'keougma01', '38', '24', '38', '29', '0', '0', '0', '0', '0', '0', '1', '28', '0', '29', '0', '10', '0'),
 ('1960', 'BOS', 'AL', 'malzofr01', '152', '150', '152', '151', '0', '0', '0', '0', '151', '0', '0', '0', '0', '0', '0', '1', '0'),
 ('1960', 'BOS', 'AL', 'monbobi01', '38', '30', '38', '35', '35', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '3'),
 ('1960', 'BOS', 'AL', 'muffebi01', '23', '14', '23', '23', '23', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'nichoch02', '6', '1', '6', '6', '6', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'nixonru01', '80', '67', '80', '74', '0', '74', '0', '0', '0', '0', '0', '0', '0', '0', '0', '10', '0'),
 ('1960', 'BOS', 'AL', 'pagliji01', '28', '15', '28', '17', '0', '17', '0', '0', '0', '0', '0', '0', '0', '0', '0', '12', '0'),
 ('1960', 'BOS', 'AL', 'repulri01', '73', '22', '73', '33', '0', '0', '0', '0', '0', '0', '33', '0', '0', '33', '0', '42', '3'),
 ('1960', 'BOS', 'AL', 'runnepe01', '143', '137', '143', '142', '0', '0', '57', '129', '3', '0', '0', '0', '0', '0', '0', '2', '0'),
 ('1960', 'BOS', 'AL', 'sadowed01', '38', '29', '38', '36', '0', '36', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '2'),
 ('1960', 'BOS', 'AL', 'stalltr01', '4', '0', '4', '4', '4', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'stephge01', '35', '29', '35', '31', '0', '0', '0', '0', '0', '0', '21', '5', '8', '31', '0', '4', '1'),
 ('1960', 'BOS', 'AL', 'sturdto01', '40', '3', '40', '40', '40', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'sullifr01', '40', '22', '40', '40', '40', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1960', 'BOS', 'AL', 'sulliha02', '52', '41', '52', '50', '0', '50', '0', '0', '0', '0', '0', '0', '0', '0', '0', '2', '0'),
 ('1960', 'BOS', 'AL', 'tasbywi01', '105', '96', '105', '102', '0', '0', '0', '0', '0', '0', '0', '102', '0', '102', '0', '5', '2'),
 ('1960', 'BOS', 'AL', 'thomsbo01', '40', '26', '40', '28', '0', '0', '1', '0', '0', '0', '12', '13', '2', '27', '0', '14', '0'),
 ('1960', 'BOS', 'AL', 'webstra01', '7', '0', '7', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '4', '2'),
 ('1960', 'BOS', 'AL', 'wertzvi01', '131', '110', '131', '117', '0', '0', '117', '0', '0', '0', '0', '0', '0', '0', '0', '20', '0'),
 ('1960', 'BOS', 'AL', 'willite01', '113', '87', '113', '86', '0', '0', '0', '0', '0', '0', '86', '0', '0', '86', '0', '26', '0'),
 ('1960', 'BOS', 'AL', 'willste01', '16', '0', '16', '15', '15', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0'),
 ('1960', 'BOS', 'AL', 'wilsoea01', '15', '9', '15', '13', '13', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '2'),
 ('1960', 'BOS', 'AL', 'worthal01', '6', '0', '6', '6', '6', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0')]

In [20]:
%sql select * from managers where teamid='BOS' and yearid='1960' limit 10;

3 rows affected.

[('bakerde01', '1960', 'BOS', 'AL', '2', '7', '2', '5', '7', 'N'),
 ('higgipi01', '1960', 'BOS', 'AL', '3', '105', '48', '57', '7', 'N'),
 ('jurgebi01', '1960', 'BOS', 'AL', '1', '42', '15', '27', '7', 'N')]

- Form one list ...


- Note, we have to make sure that both operands of ```UNION``` have the same format.

In [25]:
%%%sql
    select playerid, teamid, yearid, g_all as games, 'player' as role from appearances 
        where teamid='BOS' and yearid='1960'
    union
    select playerid, teamid, yearid, g as games, 'manager' from managers
        where teamid='BOS' and yearid='1960'

45 rows affected.

[('boonera01', 'BOS', '1960', '34', 'player'),
 ('borlato01', 'BOS', '1960', '26', 'player'),
 ('bowsfte01', 'BOS', '1960', '17', 'player'),
 ('breweto01', 'BOS', '1960', '45', 'player'),
 ('buddido01', 'BOS', '1960', '124', 'player'),
 ('busbyji01', 'BOS', '1960', '1', 'player'),
 ('casalje01', 'BOS', '1960', '29', 'player'),
 ('chittne01', 'BOS', '1960', '6', 'player'),
 ('clintlo01', 'BOS', '1960', '96', 'player'),
 ('coughma01', 'BOS', '1960', '15', 'player'),
 ('delocik01', 'BOS', '1960', '24', 'player'),
 ('earlear01', 'BOS', '1960', '2', 'player'),
 ('fornimi01', 'BOS', '1960', '70', 'player'),
 ('geigega01', 'BOS', '1960', '77', 'player'),
 ('giledo01', 'BOS', '1960', '29', 'player'),
 ('greenpu01', 'BOS', '1960', '133', 'player'),
 ('hardyca01', 'BOS', '1960', '73', 'player'),
 ('hillmda01', 'BOS', '1960', '16', 'player'),
 ('jacksro01', 'BOS', '1960', '10', 'player'),
 ('keougma01', 'BOS', '1960', '38', 'player'),
 ('malzofr01', 'BOS', '1960', '152', 'player'),
 ('monbobi01', 'BOS', '1960', '38', 'player'),
 ('muffebi01', 'BOS', '1960', '23', 'player'),
 ('nichoch02', 'BOS', '1960', '6', 'player'),
 ('nixonru01', 'BOS', '1960', '80', 'player'),
 ('pagliji01', 'BOS', '1960', '28', 'player'),
 ('repulri01', 'BOS', '1960', '73', 'player'),
 ('runnepe01', 'BOS', '1960', '143', 'player'),
 ('sadowed01', 'BOS', '1960', '38', 'player'),
 ('stalltr01', 'BOS', '1960', '4', 'player'),
 ('stephge01', 'BOS', '1960', '35', 'player'),
 ('sturdto01', 'BOS', '1960', '40', 'player'),
 ('sullifr01', 'BOS', '1960', '40', 'player'),
 ('sulliha02', 'BOS', '1960', '52', 'player'),
 ('tasbywi01', 'BOS', '1960', '105', 'player'),
 ('thomsbo01', 'BOS', '1960', '40', 'player'),
 ('webstra01', 'BOS', '1960', '7', 'player'),
 ('wertzvi01', 'BOS', '1960', '131', 'player'),
 ('willite01', 'BOS', '1960', '113', 'player'),
 ('willste01', 'BOS', '1960', '16', 'player'),
 ('wilsoea01', 'BOS', '1960', '15', 'player'),
 ('worthal01', 'BOS', '1960', '6', 'player'),
 ('bakerde01', 'BOS', '1960', '7', 'manager'),
 ('higgipi01', 'BOS', '1960', '105', 'manager'),
 ('jurgebi01', 'BOS', '1960', '42', 'manager')]

### INTERSECTION/DIFFERENCE

- The set operators have the standard definition:
    - Intersection: $\cap$
    - Difference: $-$
    
    
- Some tables:


- ```Places_in_Massachusetts``` 

| id | name              |
|----|-------------------|
| 1  | boston            |
| 2  | cambridge         |
| 3  | Chaubunagungamaug |

- ```Places_in_England```

| id | name          |
|----|---------------|
| 1  | boston        |
| 2  | cambridge     |
| 3  | Great Snoring |

- Intersection: $Places\_ in \_ Massachusetts \cap Places\_in\_England = $

| id | name          |
|----|---------------|
| 1  | boston        |
| 2  | cambridge     |


- (Set) Difference: $Places\_in\_Massachusetts - Places\_in\_England = $

| id | name              |
|----|-------------------|
| 3  | Chaubunagungamaug |


- The corresponding SQL operators are ```INTERSECT``` and ```MINUS```.


- Sone databases, including MySQL, do not support these operators because you can implement them with the magical ```JOIN``` operator.


- We will cover the implementation of ```INTERSECT``` and ```MINUS``` when we cover ```JOIN,``` which is next.

### JOIN

#### Relational Algebra

- The join operator is $\bowtie$.

- Join and Cartesian Product are closely related. Let $c$ be some condition
<br><br>
\begin{equation}
A \ {\bowtie}_{c} \ B = \sigma_c(A \times B) = \sigma_c(A) \times \sigma_c(B) 
\end{equation}


- Without a condition $A\  \times  B = A \bowtie B$.

<img src="../../images/join_slide.jpg">
<img src="../../images/join_slide_2.jpg">

- Nested loop is the easiest way to thinks about a join.


- $A \ {\bowtie}_{c} \ B$ implementation is

```
foreach tuple r in A do
	foreach tuple s in B do
        if c(r,s) do
		add <r, s> to result
```

#### SQL JOIN Operator

##### Overview

- MySQL Syntax

```
table_references:
    escaped_table_reference [, escaped_table_reference] ...

escaped_table_reference:
    table_reference
  | { OJ table_reference }

table_reference:
    table_factor
  | join_table

table_factor:
    tbl_name [PARTITION (partition_names)]
        [[AS] alias] [index_hint_list]
  | table_subquery [AS] alias [(col_list)]
  | ( table_references )

join_table:
    table_reference [INNER | CROSS] JOIN table_factor [join_condition]
  | table_reference STRAIGHT_JOIN table_factor
  | table_reference STRAIGHT_JOIN table_factor ON conditional_expr
  | table_reference {LEFT|RIGHT} [OUTER] JOIN table_reference join_condition
  | table_reference NATURAL [INNER | {LEFT|RIGHT} [OUTER]] JOIN table_factor

join_condition:
    ON conditional_expr
  | USING (column_list)

index_hint_list:
    index_hint [, index_hint] ...

index_hint:
    USE {INDEX|KEY}
      [FOR {JOIN|ORDER BY|GROUP BY}] ([index_list])
  | IGNORE {INDEX|KEY}
      [FOR {JOIN|ORDER BY|GROUP BY}] (index_list)
  | FORCE {INDEX|KEY}
      [FOR {JOIN|ORDER BY|GROUP BY}] (index_list)

index_list:
    index_name [, index_name] ...
```

- OK. That was not helpful.


- As an aside, the definition above was an example of a [formal grammar.](https://en.wikipedia.org/wiki/Formal_grammar) "In formal language theory, a grammar (when the context is not given, often called a formal grammar for clarity) is a set of production rules for strings in a formal language."


- You will cover this concept if you take _COMS W3261: Computer Science Theory_ or _COMS W4115: Programming Languages and Translators._


- If you take W4115 you mean learn about ["Yet another compiler compiler (Yacc)."](https://en.wikipedia.org/wiki/Yacc)

##### Simpler Definition

```
SELECT <fields from A>, <fields from B>
FROM A JOIN B
WHERE condition(A, B)
```

- Again, the only way you figure this out is examples and practice.

#### Example: Player and Appearances Info

- I want a table of the form: ```playerID, lastName, firstName, yearID, teamID, no of appearances.```


- The ```LIMIT 20``` is just to keep the output small.

In [26]:
%sql select \
    people.playerID as playerid, people.nameLast as nameLast, nameFirst, \
    appearances.teamID, yearID, G_all from \
people join appearances \
on people.playerid = appearances.playerid \
limit 20;

20 rows affected.

[('aardsda01', 'Aardsma', 'David', 'ATL', '2015', '33'),
 ('aardsda01', 'Aardsma', 'David', 'BOS', '2008', '47'),
 ('aardsda01', 'Aardsma', 'David', 'CHA', '2007', '25'),
 ('aardsda01', 'Aardsma', 'David', 'CHN', '2006', '45'),
 ('aardsda01', 'Aardsma', 'David', 'NYA', '2012', '1'),
 ('aardsda01', 'Aardsma', 'David', 'NYN', '2013', '43'),
 ('aardsda01', 'Aardsma', 'David', 'SEA', '2009', '73'),
 ('aardsda01', 'Aardsma', 'David', 'SEA', '2010', '53'),
 ('aardsda01', 'Aardsma', 'David', 'SFN', '2004', '11'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1966', '158'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1967', '155'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1968', '160'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1969', '147'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1970', '150'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1971', '139'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1972', '129'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1973', '120'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1974', '112'),
 ('aaronha01', 'Aaron', 'Hank', 'ML1', '1954', '122'),
 ('aaronha01', 'Aaron', 'Hank', 'ML1', '1955', '153')]

- You must use the form ```table_name.column_name``` if ```column_name``` is ambiguous.


- I used the table name prefixes above just to demonstrate the syntax and concept.


- Conceptually, you can think of an equi-join on a single common columns to be like the following Python algorithm.

In [32]:
from DerivedDataTable import DerivedDataTable

def equi_join(t_left, t_right, fields, on_field, debug=False):
    '''
    A simple Python program that explains the basics of JOIN by doing an Equi-Join.
    :param t_left: Left table
    :param t_right: Right table
    :param fields: The Project clause to apply to the JOIN result.
    :param on_field: The single, common column name to JOIN on.
    :return:
    '''

    cnt = 0

    # Create an empty table to hold the result.
    result_rows = []

    # Get all of the rows from the left table.
    left_rows = t_left.get_rows()

    # For every row in the left table ...
    for r_l in left_rows:

        cnt += 1
        # Get the value of the "on" field for the join.
        key = r_l[on_field]

        if debug and cnt % 100 == 0:
            print("Current on_field = ", key, "and count = ", cnt)

        # Do a select on the right table to find all rows with the
        # corresponding row having the column = current value.
        tmp = t_right.find_by_template({on_field: key})
        if tmp is not None:
            r_rows = tmp.get_rows()

        # If we managed to get some rows from the right table.
        if r_rows:

            if debug and cnt % 100 == 0:
                print("Matching rows = ", json.dumps(r_rows, indent=2, default=str))

            # For every matching row.
            for r_r in r_rows:
                # This is Python stuff. Basically, we are merging the left row and
                # right row into a single row. We then insert into the result.
                t = dict(r_l)
                t.update(r_r)
                result_rows.append(t)
                # print("Inserted ", str(t))

    if fields is not None:
        final_rows = []
        for r in result_rows:
            new_r = { f:r[f] for f in fields }
            final_rows.append(new_r)
    else:
        final_rows = result_rows

    result = DerivedDataTable("JOIN(" + t_left._table_name + "," + t_right._table_name + ")", final_rows)

    # Return the result table.
    return result

In [33]:

def test_equi_join():
    r_tbl = CSVDataTable(table_name="Appearances", key_columns=['playerID', 'teamID', 'yearID'],
                       connect_info={'file_name': 'Appearances.csv'})
    r_tbl.load()

    l_tbl = CSVDataTable(table_name="PeopleSmall", key_columns=['playerID'],
                         connect_info={'file_name': 'PeopleSmall.csv'})
    l_tbl.load()

    result = equi_join(l_tbl, r_tbl, ['playerID', 'nameLast', 'nameFirst', 'teamID', 'yearID', 'G_all'], 'playerID',
                       debug=False)

    print("Resulting join table = ", result)
    
    tmp = {"playerID": 'aaronha01'}
    print("\n Query joined table, template = ", tmp)
    result2 = result.find_by_template(tmp, None, None, None, None)
    print("Result 2 = ", result2)

In [11]:
test_equi_join()

Resulting join table =  Table name = JOIN(PeopleSmall,Appearances)
Table type = <class 'DerivedDataTable.DerivedDataTable'>
Key fields: None	No. of rows: 558
First 5 rows:
  G_all nameFirst nameLast   playerID teamID yearID
0    11     David  Aardsma  aardsda01    SFN   2004
1    45     David  Aardsma  aardsda01    CHN   2006
2    25     David  Aardsma  aardsda01    CHA   2007
3    47     David  Aardsma  aardsda01    BOS   2008
4    73     David  Aardsma  aardsda01    SEA   2009

 Query joined table, template =  {'playerID': 'aaronha01'}
Result 2 =  Table name = FBT:JOIN(PeopleSmall,Appearances)
Table type = <class 'DerivedDataTable.DerivedDataTable'>
Key fields: None	No. of rows: 23
First 5 rows:
  G_all nameFirst nameLast   playerID teamID yearID
0   122      Hank    Aaron  aaronha01    ML1   1954
1   153      Hank    Aaron  aaronha01    ML1   1955
2   153      Hank    Aaron  aaronha01    ML1   1956
3   151      Hank    Aaron  aaronha01    ML1   1957
4   153      Hank    Aaron  aaronha01    ML1   1958

##### Example: Players, Appearances, Batting and Salaries

- I loaded an additional table: ```Salaries```.


- Contains information about ```playerID, yearID, teamID, salary.```

In [4]:
%sql select * from salaries limit 10;

10 rows affected.

[('1997', 'ANA', 'AL', 'alicelu01', '650000'),
 ('1997', 'ANA', 'AL', 'anderga01', '600000'),
 ('1997', 'ANA', 'AL', 'dicksja01', '162000'),
 ('1997', 'ANA', 'AL', 'disarga01', '2700000'),
 ('1997', 'ANA', 'AL', 'edmonji01', '2025000'),
 ('1997', 'ANA', 'AL', 'encaran01', '175000'),
 ('1997', 'ANA', 'AL', 'erstada01', '175000'),
 ('1997', 'ANA', 'AL', 'fabrejo01', '275000'),
 ('1997', 'ANA', 'AL', 'finlech01', '4000000'),
 ('1997', 'ANA', 'AL', 'grebecr01', '400000')]

- We have seen how to ```JOIN``` player information and appearances information.

In [8]:
%%sql
    select people.playerID, nameLast, nameFirst, teamID, yearID, G_all from
        people join appearances
    on
        people.playerid=appearances.playerid
    limit 20;

20 rows affected.

[('aardsda01', 'Aardsma', 'David', 'ATL', '2015', '33'),
 ('aardsda01', 'Aardsma', 'David', 'BOS', '2008', '47'),
 ('aardsda01', 'Aardsma', 'David', 'CHA', '2007', '25'),
 ('aardsda01', 'Aardsma', 'David', 'CHN', '2006', '45'),
 ('aardsda01', 'Aardsma', 'David', 'NYA', '2012', '1'),
 ('aardsda01', 'Aardsma', 'David', 'NYN', '2013', '43'),
 ('aardsda01', 'Aardsma', 'David', 'SEA', '2009', '73'),
 ('aardsda01', 'Aardsma', 'David', 'SEA', '2010', '53'),
 ('aardsda01', 'Aardsma', 'David', 'SFN', '2004', '11'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1966', '158'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1967', '155'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1968', '160'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1969', '147'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1970', '150'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1971', '139'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1972', '129'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1973', '120'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1974', '112'),
 ('aaronha01', 'Aaron', 'Hank', 'ML1', '1954', '122'),
 ('aaronha01', 'Aaron', 'Hank', 'ML1', '1955', '153')]

- Now, we want to add batting information.

In [11]:
%%sql select a.playerid, nameLast, nameFirst, a.teamid, a.yearid, stint, G_all, h, ab from
    (select people.playerID, nameLast, nameFirst, teamID, yearID, G_all from
        people join appearances
    on
        people.playerid=appearances.playerid) as a
    join
        (select playerid, teamid, yearid, stint, h, ab from batting) as b
    on
        a.playerid = b.playerid and a.teamid=b.teamid and a.yearid=b.yearid
    limit 20;

20 rows affected.

[('aardsda01', 'Aardsma', 'David', 'ATL', '2015', '1', '33', '0', '1'),
 ('aardsda01', 'Aardsma', 'David', 'BOS', '2008', '1', '47', '0', '1'),
 ('aardsda01', 'Aardsma', 'David', 'CHA', '2007', '1', '25', '0', '0'),
 ('aardsda01', 'Aardsma', 'David', 'CHN', '2006', '1', '45', '0', '2'),
 ('aardsda01', 'Aardsma', 'David', 'NYA', '2012', '1', '1', '0', '0'),
 ('aardsda01', 'Aardsma', 'David', 'NYN', '2013', '1', '43', '0', '0'),
 ('aardsda01', 'Aardsma', 'David', 'SEA', '2009', '1', '73', '0', '0'),
 ('aardsda01', 'Aardsma', 'David', 'SEA', '2010', '1', '53', '0', '0'),
 ('aardsda01', 'Aardsma', 'David', 'SFN', '2004', '1', '11', '0', '0'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1966', '1', '158', '168', '603'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1967', '1', '155', '184', '600'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1968', '1', '160', '174', '606'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1969', '1', '147', '164', '547'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1970', '1', '150', '154', '516'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1971', '1', '139', '162', '495'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1972', '1', '129', '119', '449'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1973', '1', '120', '118', '392'),
 ('aaronha01', 'Aaron', 'Hank', 'ATL', '1974', '1', '112', '91', '340'),
 ('aaronha01', 'Aaron', 'Hank', 'ML1', '1954', '1', '122', '131', '468'),
 ('aaronha01', 'Aaron', 'Hank', 'ML1', '1955', '1', '153', '189', '602')]

- Now, let's add salary ...

In [13]:
%%sql select c.*, d.salary from 
    (select a.playerid, nameLast, nameFirst, a.teamid, a.yearid, stint, G_all, h, ab from
        (select people.playerID, nameLast, nameFirst, teamID, yearID, G_all from
            people join appearances
        on
            people.playerid=appearances.playerid) as a
        join
            (select playerid, teamid, yearid, stint, h, ab from batting) as b
        on
            a.playerid = b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
    join
        (select playerid, teamid, yearid, salary from salaries) as d
    on
        d.playerid=c.playerid and d.teamid=c.teamid and c.yearid=d.yearid
    limit 20;

20 rows affected.

[('alicelu01', 'Alicea', 'Luis', 'ANA', '1997', '1', '128', '98', '388', '650000'),
 ('anderga01', 'Anderson', 'Garret', 'ANA', '1997', '1', '154', '189', '624', '600000'),
 ('dicksja01', 'Dickson', 'Jason', 'ANA', '1997', '1', '33', '0', '2', '162000'),
 ('disarga01', 'Disarcina', 'Gary', 'ANA', '1997', '1', '154', '135', '549', '2700000'),
 ('edmonji01', 'Edmonds', 'Jim', 'ANA', '1997', '1', '133', '146', '502', '2025000'),
 ('encaran01', 'Encarnacion', 'Angelo', 'ANA', '1997', '1', '11', '7', '17', '175000'),
 ('erstada01', 'Erstad', 'Darin', 'ANA', '1997', '1', '139', '161', '539', '175000'),
 ('fabrejo01', 'Fabregas', 'Jorge', 'ANA', '1997', '1', '21', '3', '38', '275000'),
 ('finlech01', 'Finley', 'Chuck', 'ANA', '1997', '1', '25', '0', '6', '4000000'),
 ('grebecr01', 'Grebeck', 'Craig', 'ANA', '1997', '1', '63', '34', '126', '400000'),
 ('greento02', 'Greene', 'Todd', 'ANA', '1997', '1', '34', '36', '124', '153000'),
 ('gubicma01', 'Gubicza', 'Mark', 'ANA', '1997', '1', '2', '0', '0', '1600000'),
 ('harripe01', 'Harris', 'Pep', 'ANA', '1997', '1', '61', '0', '0', '157500'),
 ('hasegsh01', 'Hasegawa', 'Shigetoshi', 'ANA', '1997', '1', '50', '0', '0', '575000'),
 ('hollida01', 'Hollins', 'Dave', 'ANA', '1997', '1', '149', '165', '572', '2050000'),
 ('holtzmi01', 'Holtz', 'Mike', 'ANA', '1997', '1', '66', '0', '1', '160000'),
 ('howelja02', 'Howell', 'Jack', 'ANA', '1997', '1', '77', '45', '174', '400000'),
 ('jamesmi01', 'James', 'Mike', 'ANA', '1997', '1', '58', '0', '0', '330000'),
 ('langsma01', 'Langston', 'Mark', 'ANA', '1997', '1', '9', '0', '0', '4000000'),
 ('leyriji01', 'Leyritz', 'Jim', 'ANA', '1997', '1', '84', '81', '294', '1916972')]

- How about for just Boston in 2004? Oh, and from highest to lowest paid.

In [19]:
%%sql
    select c.*, concat('$',format(d.salary,0)) as salary from 
    (select a.playerid, nameLast, nameFirst, a.teamid, a.yearid, stint, G_all, h, ab from
        (select people.playerID, nameLast, nameFirst, teamID, yearID, G_all from
            people join appearances
        on
            people.playerid=appearances.playerid) as a
        join
            (select playerid, teamid, yearid, stint, h, ab from batting) as b
        on
            a.playerid = b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
    join
        (select playerid, teamid, yearid, cast(salary as unsigned) as salary from salaries) as d
    on
        d.playerid=c.playerid and d.teamid=c.teamid and c.yearid=d.yearid
    where
        d.teamID='BOS' and d.yearID='2004'
order by d.salary desc

28 rows affected.

[('ramirma02', 'Ramirez', 'Manny', 'BOS', '2004', '1', '152', '175', '568', '$22,500,000'),
 ('martipe02', 'Martinez', 'Pedro', 'BOS', '2004', '1', '33', '0', '2', '$17,500,000'),
 ('schilcu01', 'Schilling', 'Curt', 'BOS', '2004', '1', '32', '1', '7', '$12,000,000'),
 ('garcino01', 'Garciaparra', 'Nomar', 'BOS', '2004', '1', '38', '50', '156', '$11,500,000'),
 ('damonjo01', 'Damon', 'Johnny', 'BOS', '2004', '1', '150', '189', '621', '$8,000,000'),
 ('varitja01', 'Varitek', 'Jason', 'BOS', '2004', '1', '137', '137', '463', '$6,900,000'),
 ('ortizda01', 'Ortiz', 'David', 'BOS', '2004', '1', '150', '175', '582', '$4,587,500'),
 ('lowede01', 'Lowe', 'Derek', 'BOS', '2004', '1', '33', '1', '4', '$4,500,000'),
 ('nixontr01', 'Nixon', 'Trot', 'BOS', '2004', '1', '48', '47', '149', '$4,500,000'),
 ('wakefti01', 'Wakefield', 'Tim', 'BOS', '2004', '1', '32', '0', '2', '$4,350,000'),
 ('mendora01', 'Mendoza', 'Ramiro', 'BOS', '2004', '1', '27', '0', '0', '$3,600,000'),
 ('foulkke01', 'Foulke', 'Keith', 'BOS', '2004', '1', '72', '0', '0', '$3,500,000'),
 ('kimby01', 'Kim', 'Byung-Hyun', 'BOS', '2004', '1', '7', '0', '0', '$3,425,000'),
 ('millake01', 'Millar', 'Kevin', 'BOS', '2004', '1', '150', '151', '508', '$3,300,000'),
 ('willisc01', 'Williamson', 'Scott', 'BOS', '2004', '1', '28', '0', '0', '$3,175,000'),
 ('embreal01', 'Embree', 'Alan', 'BOS', '2004', '1', '71', '0', '0', '$3,000,000'),
 ('timlimi01', 'Timlin', 'Mike', 'BOS', '2004', '1', '76', '0', '0', '$2,500,000'),
 ('muellbi02', 'Mueller', 'Bill', 'BOS', '2004', '1', '110', '113', '399', '$2,100,000'),
 ('reesepo01', 'Reese', 'Pokey', 'BOS', '2004', '1', '96', '54', '244', '$1,000,000'),
 ('mirabdo01', 'Mirabelli', 'Doug', 'BOS', '2004', '1', '59', '45', '160', '$825,000'),
 ('burksel01', 'Burks', 'Ellis', 'BOS', '2004', '1', '11', '6', '33', '$750,000'),
 ('kaplega01', 'Kapler', 'Gabe', 'BOS', '2004', '1', '136', '79', '290', '$750,000'),
 ('daubabr01', 'Daubach', 'Brian', 'BOS', '2004', '1', '30', '17', '75', '$500,000'),
 ('mccarda01', 'McCarty', 'Dave', 'BOS', '2004', '1', '91', '39', '151', '$500,000'),
 ('bellhma01', 'Bellhorn', 'Mark', 'BOS', '2004', '1', '138', '138', '523', '$490,000'),
 ('arroybr01', 'Arroyo', 'Bronson', 'BOS', '2004', '1', '32', '0', '6', '$332,500'),
 ('crespce01', 'Crespo', 'Cesar', 'BOS', '2004', '1', '52', '13', '79', '$309,000'),
 ('dinarle01', 'DiNardo', 'Lenny', 'BOS', '2004', '1', '22', '0', '0', '$300,000')]

### U01:  Player Information using JOIN

- We can use a single query to produce the player info summary.

In [55]:
%%%sql
    select
        people.playerid as playerid, nameLast, nameFirst, DOB, height, weight, throws, bats, 
        yearID as year, stint as Stint, teamID as Team,
        G, AB, R, 2B, 3B, HR, RBI, BB,
        round(H/NULLIF(AB,0),3) as OBP,
        round(
            (((H - 2B - 3B - HR) + (2B * 2) + (3B * 3) + (HR * 4))
            /
            NULLIF(AB,0)),3) as SLG
        from
    people join batting
    on people.playerid = batting.playerid   
    where people.playerid='robinfr02'

22 rows affected.

[('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1966', '1', 'BAL', '155', '576', '122', '34', '2', '49', '122', '87', 0.316, 0.637),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1967', '1', 'BAL', '129', '479', '83', '23', '7', '30', '94', '71', 0.311, 0.576),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1968', '1', 'BAL', '130', '421', '69', '27', '1', '15', '52', '73', 0.268, 0.444),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1969', '1', 'BAL', '148', '539', '111', '19', '5', '32', '100', '88', 0.308, 0.54),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1970', '1', 'BAL', '132', '471', '88', '24', '1', '25', '78', '69', 0.306, 0.52),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1971', '1', 'BAL', '133', '455', '82', '16', '2', '28', '99', '72', 0.281, 0.51),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1973', '1', 'CAL', '147', '534', '85', '29', '0', '30', '97', '82', 0.266, 0.489),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1974', '1', 'CAL', '129', '427', '75', '26', '2', '20', '63', '75', 0.251, 0.461),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1956', '1', 'CIN', '152', '572', '122', '27', '6', '38', '83', '64', 0.29, 0.558),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1957', '1', 'CIN', '150', '611', '97', '29', '5', '29', '75', '44', 0.322, 0.529),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1958', '1', 'CIN', '148', '554', '90', '25', '6', '31', '83', '62', 0.269, 0.504),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1959', '1', 'CIN', '146', '540', '106', '31', '4', '36', '125', '69', 0.311, 0.583),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1960', '1', 'CIN', '139', '464', '86', '33', '6', '31', '83', '82', 0.297, 0.595),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1961', '1', 'CIN', '153', '545', '117', '32', '7', '37', '124', '71', 0.323, 0.611),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1962', '1', 'CIN', '162', '609', '134', '51', '2', '39', '136', '76', 0.342, 0.624),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1963', '1', 'CIN', '140', '482', '79', '19', '3', '21', '91', '81', 0.259, 0.442),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1964', '1', 'CIN', '156', '568', '103', '38', '6', '29', '96', '79', 0.306, 0.548),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1965', '1', 'CIN', '156', '582', '109', '33', '5', '33', '113', '70', 0.296, 0.54),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1974', '2', 'CLE', '15', '50', '6', '1', '1', '2', '5', '10', 0.2, 0.38),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1975', '1', 'CLE', '49', '118', '19', '5', '0', '9', '24', '29', 0.237, 0.508),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1976', '1', 'CLE', '36', '67', '5', '0', '0', '3', '10', '11', 0.224, 0.358),
 ('robinfr02', 'Robinson', 'Frank', datetime.date(1935, 8, 31), '73', '183', 'R', 'R', '1972', '1', 'LAN', '103', '342', '41', '6', '1', '19', '59', '55', 0.251, 0.442)]

- Notes:
    - ```playerID``` occurs in both tables, which means using just ```playerID``` is ambiguous and the query must specify the table.
    - The good news is that we get the data in a single query. The bad news is that we get redundant data. This is a version of [space/time tradeoff](https://en.wikipedia.org/wiki/Space%E2%80%93time_tradeoff).

In [62]:
import time

def time_query(q, n):
    
    start_time = time.time()
    for i in range(0, n):
        r = run_q(q, debug=False)
    end_time = time.time()
    elapsed_time = end_time - start_time
    return round(elapsed_time, 100)

In [68]:
q1 = "select playerid, nameLast, nameFirst, DOB, height, weight, throws, bats from people where playerid='robinfr02'"
q2 = """
select yearID as year, stint as Stint, teamID as Team,
G, AB, R, 2B, 3B, HR, RBI, BB,
round(H/NULLIF(AB,0),3) as OBP,
round(
    (((H - 2B - 3B - HR) + (2B * 2) + (3B * 3) + (HR * 4))
    /
    NULLIF(AB,0)),3) as SLG
from batting
where playerid='robinfr02'"""

- Execution time of running two queries.

In [73]:
t1 = time_query(q1, 1)
t2 = time_query(q2, 1)
total_time = t1 + t2
print("Total execution time for two queries = ", total_time)

Total execution time for two queries =  0.003041982650756836

- Execution time for running one query.

In [70]:
q3 = """select
        people.playerid as playerid, nameLast, nameFirst, DOB, height, weight, throws, bats, 
        yearID as year, stint as Stint, teamID as Team,
        G, AB, R, 2B, 3B, HR, RBI, BB,
        round(H/NULLIF(AB,0),3) as OBP,
        round(
            (((H - 2B - 3B - HR) + (2B * 2) + (3B * 3) + (HR * 4))
            /
            NULLIF(AB,0)),3) as SLG
        from
    people join batting
    on people.playerid = batting.playerid   
    where people.playerid='robinfr02'"""

In [74]:
t3 = time_query(q3, 1)
print("Total execution time for one query = ", t3)

Total execution time for one query =  0.0030241012573242188

In [76]:
print("Relative overhead of two queries versus one = ", (total_time)/t3)
print("Which is not a HUGE difference.")

Relative overhead of two queries versus one =  1.0059129612109745
Which is not a HUGE difference.

- General rule: Use one query if you can.


- Our example is a little misleading. Applications typically do not leave connections open for a long time. DB servers do time out idle, open connections.


- There could be millions of clients, and DB servers (or any server) does not handle millions of open connections.

In [77]:
def time_query(q, n, run_f):
    
    start_time = time.time()
    for i in range(0, n):
        r = run_f(q, debug=False)
    end_time = time.time()
    elapsed_time = end_time - start_time
    return round(elapsed_time, 100)

In [79]:
def run_q_connect(q, args=None, fields=None, fetch=True, cnx=None, commit=True, debug=True):
    """

    :param q: An SQL query string that may have %s slots for argument insertion. The string
        may also have {} after select for columns to choose.
    :param args: A tuple of values to insert in the %s slots.
    :param fetch: If true, return the result.
    :param cnx: A database connection. May be None
    :param commit: Do not worry about this for now. This is more wizard stuff.
    :return: A result set or None.
    """

    # Use the connection in the object if no connection provided.
    if cnx is None:
        cnx_to_use = pymysql.connect(
               _default_connect_info['host'],
                _default_connect_info['user'],
                _default_connect_info['password'],
                _default_connect_info['db'],
                charset='utf8mb4',
                cursorclass=pymysql.cursors.DictCursor)
        cnx_opened = True
    else:
        cnx_opened = False
        cnx_to_use = cnx

    # Convert the list of columns into the form "col1, col2, ..." for following SELECT.
    if fields:
        q = q.format(",".join(fields))

    cursor = cnx_to_use.cursor()  # Just ignore this for now.

    if debug:
        print("Query send to DB = ", cursor.mogrify(q, args))

    cnt = cursor.execute(q, args)  # Execute the query.

    # Technically, INSERT, UPDATE and DELETE do not return results.
    # Sometimes the connector libraries return the number of created/deleted rows.
    if fetch:
        r = cursor.fetchall()  # Return all elements of the result.
    else:
        r = cnt

    if commit:                  # Do not worry about this for now.
        cnx_to_use.commit()
        
    if cnx_opened:
        cursor.close()
        cnx_to_use.close()

    return r

In [83]:
t1 = time_query(q1, 100, run_q_connect)
t2 = time_query(q2, 100, run_q_connect)
total_time = t1 + t2
print("Total execution time for two queries = ", total_time)

Total execution time for two queries =  0.41945767402648926

In [84]:
t3 = time_query(q3, 100, run_q_connect)
print("Total execution time for one query = ", t3)

Total execution time for one query =  0.33710813522338867

In [85]:
print("Relative overhead of two queries versus one = ", (total_time)/t3)
print("Which is not a significant difference.")

Relative overhead of two queries versus one =  1.2442822649430596
Which is not a HUGE difference.

- Connecting is expensive. This is why applications and application servers often use [connection pools](https://en.wikipedia.org/wiki/Connection_pool)


- And our final baseball card info function is ...

In [113]:
def get_card_info(player_id):
    
    q3 = """select
        people.playerid as playerid, nameLast, nameFirst, DOB, height, weight, throws, bats, 
        yearID as year, stint as Stint, teamID as Team,
        G, AB, R, H, 2B, 3B, HR, RBI, BB,
        round(H/NULLIF(AB,0),3) as OBP,
        round(
            (((H - 2B - 3B - HR) + (2B * 2) + (3B * 3) + (HR * 4))
            /
            NULLIF(AB,0)),3) as SLG
        from
            people join batting
        on people.playerid = batting.playerid   
        where people.playerid=%s"""
    result = run_q(q3, (player_id), debug=False)
    
    c1 = {f:result[0][f] for f in ['playerid', 'nameLast', 'nameFirst', \
                                   'DOB', 'height', 'weight', 'throws', 'bats']}
    c1['DOB']=str(c1['DOB'])
    c2 = []
    for r in result:
        tmp = {f:r[f] for f in ['year', 'Stint', 'Team', \
            'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'OBP', 'SLG']}
        c2.append(tmp)
   
    card_info = { "PersonalInfo": c1, "BattingInfo": c2}
    return card_info

In [114]:
result = get_card_info('robinfr02')
print("Card info = \n", json.dumps(result, indent=2))

Card info =
 {
  "PersonalInfo": {
    "playerid": "robinfr02",
    "nameLast": "Robinson",
    "nameFirst": "Frank",
    "DOB": "1935-08-31",
    "height": "73",
    "weight": "183",
    "throws": "R",
    "bats": "R"
  },
  "BattingInfo": [
    {
      "year": "1966",
      "Stint": "1",
      "Team": "BAL",
      "G": "155",
      "AB": "576",
      "R": "122",
      "H": "182",
      "2B": "34",
      "3B": "2",
      "HR": "49",
      "RBI": "122",
      "BB": "87",
      "OBP": 0.316,
      "SLG": 0.637
    },
    {
      "year": "1967",
      "Stint": "1",
      "Team": "BAL",
      "G": "129",
      "AB": "479",
      "R": "83",
      "H": "149",
      "2B": "23",
      "3B": "7",
      "HR": "30",
      "RBI": "94",
      "BB": "71",
      "OBP": 0.311,
      "SLG": 0.576
    },
    {
      "year": "1968",
      "Stint": "1",
      "Team": "BAL",
      "G": "130",
      "AB": "421",
      "R": "69",
      "H": "113",
      "2B": "27",
      "3B": "1",
      "HR": "15",
      "RBI": "52",
      "BB": "73",
      "OBP": 0.268,
      "SLG": 0.444
    },
    {
      "year": "1969",
      "Stint": "1",
      "Team": "BAL",
      "G": "148",
      "AB": "539",
      "R": "111",
      "H": "166",
      "2B": "19",
      "3B": "5",
      "HR": "32",
      "RBI": "100",
      "BB": "88",
      "OBP": 0.308,
      "SLG": 0.54
    },
    {
      "year": "1970",
      "Stint": "1",
      "Team": "BAL",
      "G": "132",
      "AB": "471",
      "R": "88",
      "H": "144",
      "2B": "24",
      "3B": "1",
      "HR": "25",
      "RBI": "78",
      "BB": "69",
      "OBP": 0.306,
      "SLG": 0.52
    },
    {
      "year": "1971",
      "Stint": "1",
      "Team": "BAL",
      "G": "133",
      "AB": "455",
      "R": "82",
      "H": "128",
      "2B": "16",
      "3B": "2",
      "HR": "28",
      "RBI": "99",
      "BB": "72",
      "OBP": 0.281,
      "SLG": 0.51
    },
    {
      "year": "1973",
      "Stint": "1",
      "Team": "CAL",
      "G": "147",
      "AB": "534",
      "R": "85",
      "H": "142",
      "2B": "29",
      "3B": "0",
      "HR": "30",
      "RBI": "97",
      "BB": "82",
      "OBP": 0.266,
      "SLG": 0.489
    },
    {
      "year": "1974",
      "Stint": "1",
      "Team": "CAL",
      "G": "129",
      "AB": "427",
      "R": "75",
      "H": "107",
      "2B": "26",
      "3B": "2",
      "HR": "20",
      "RBI": "63",
      "BB": "75",
      "OBP": 0.251,
      "SLG": 0.461
    },
    {
      "year": "1956",
      "Stint": "1",
      "Team": "CIN",
      "G": "152",
      "AB": "572",
      "R": "122",
      "H": "166",
      "2B": "27",
      "3B": "6",
      "HR": "38",
      "RBI": "83",
      "BB": "64",
      "OBP": 0.29,
      "SLG": 0.558
    },
    {
      "year": "1957",
      "Stint": "1",
      "Team": "CIN",
      "G": "150",
      "AB": "611",
      "R": "97",
      "H": "197",
      "2B": "29",
      "3B": "5",
      "HR": "29",
      "RBI": "75",
      "BB": "44",
      "OBP": 0.322,
      "SLG": 0.529
    },
    {
      "year": "1958",
      "Stint": "1",
      "Team": "CIN",
      "G": "148",
      "AB": "554",
      "R": "90",
      "H": "149",
      "2B": "25",
      "3B": "6",
      "HR": "31",
      "RBI": "83",
      "BB": "62",
      "OBP": 0.269,
      "SLG": 0.504
    },
    {
      "year": "1959",
      "Stint": "1",
      "Team": "CIN",
      "G": "146",
      "AB": "540",
      "R": "106",
      "H": "168",
      "2B": "31",
      "3B": "4",
      "HR": "36",
      "RBI": "125",
      "BB": "69",
      "OBP": 0.311,
      "SLG": 0.583
    },
    {
      "year": "1960",
      "Stint": "1",
      "Team": "CIN",
      "G": "139",
      "AB": "464",
      "R": "86",
      "H": "138",
      "2B": "33",
      "3B": "6",
      "HR": "31",
      "RBI": "83",
      "BB": "82",
      "OBP": 0.297,
      "SLG": 0.595
    },
    {
      "year": "1961",
      "Stint": "1",
      "Team": "CIN",
      "G": "153",
      "AB": "545",
      "R": "117",
      "H": "176",
      "2B": "32",
      "3B": "7",
      "HR": "37",
      "RBI": "124",
      "BB": "71",
      "OBP": 0.323,
      "SLG": 0.611
    },
    {
      "year": "1962",
      "Stint": "1",
      "Team": "CIN",
      "G": "162",
      "AB": "609",
      "R": "134",
      "H": "208",
      "2B": "51",
      "3B": "2",
      "HR": "39",
      "RBI": "136",
      "BB": "76",
      "OBP": 0.342,
      "SLG": 0.624
    },
    {
      "year": "1963",
      "Stint": "1",
      "Team": "CIN",
      "G": "140",
      "AB": "482",
      "R": "79",
      "H": "125",
      "2B": "19",
      "3B": "3",
      "HR": "21",
      "RBI": "91",
      "BB": "81",
      "OBP": 0.259,
      "SLG": 0.442
    },
    {
      "year": "1964",
      "Stint": "1",
      "Team": "CIN",
      "G": "156",
      "AB": "568",
      "R": "103",
      "H": "174",
      "2B": "38",
      "3B": "6",
      "HR": "29",
      "RBI": "96",
      "BB": "79",
      "OBP": 0.306,
      "SLG": 0.548
    },
    {
      "year": "1965",
      "Stint": "1",
      "Team": "CIN",
      "G": "156",
      "AB": "582",
      "R": "109",
      "H": "172",
      "2B": "33",
      "3B": "5",
      "HR": "33",
      "RBI": "113",
      "BB": "70",
      "OBP": 0.296,
      "SLG": 0.54
    },
    {
      "year": "1974",
      "Stint": "2",
      "Team": "CLE",
      "G": "15",
      "AB": "50",
      "R": "6",
      "H": "10",
      "2B": "1",
      "3B": "1",
      "HR": "2",
      "RBI": "5",
      "BB": "10",
      "OBP": 0.2,
      "SLG": 0.38
    },
    {
      "year": "1975",
      "Stint": "1",
      "Team": "CLE",
      "G": "49",
      "AB": "118",
      "R": "19",
      "H": "28",
      "2B": "5",
      "3B": "0",
      "HR": "9",
      "RBI": "24",
      "BB": "29",
      "OBP": 0.237,
      "SLG": 0.508
    },
    {
      "year": "1976",
      "Stint": "1",
      "Team": "CLE",
      "G": "36",
      "AB": "67",
      "R": "5",
      "H": "15",
      "2B": "0",
      "3B": "0",
      "HR": "3",
      "RBI": "10",
      "BB": "11",
      "OBP": 0.224,
      "SLG": 0.358
    },
    {
      "year": "1972",
      "Stint": "1",
      "Team": "LAN",
      "G": "103",
      "AB": "342",
      "R": "41",
      "H": "86",
      "2B": "6",
      "3B": "1",
      "HR": "19",
      "RBI": "59",
      "BB": "55",
      "OBP": 0.251,
      "SLG": 0.442
    }
  ]
}

## Types of JOIN

### Overview

| <img src="../../images/various_joins.png"> |
| :---: |
| [Types of JOIN](https://imgur.com/gallery/8u7fc) |

- Standard set operators, e.g. UNION, apply to individual elements as a whole. All of $A$ must be in set $S_1$ and in set $S_2$ for $A$ to be in $S_1 \cap S_2.$


- ```JOIN``` defines set membership based on the columns in the ```ON``` clause.

#### Some Complex JOIN Examples

##### UI012: Given a Team ID and Year Range, Find Hall of Fame Members

"The National Baseball Hall of Fame and Museum is an American history museum and hall of fame, located in Cooperstown, New York, and operated by private interests. It serves as the central point for the study of the history of baseball in the United States and beyond, displays baseball-related artifacts and exhibits, and honors those who have excelled in playing, managing, and serving the sport. The Hall's motto is 'Preserving History, Honoring Excellence, Connecting Generations. 
... ...
Among baseball fans, 'Hall of Fame' means not only the museum and facility in Cooperstown, New York, but the pantheon of players, managers, umpires, executives, and pioneers who have been enshrined in the Hall." (https://en.wikipedia.org/wiki/National_Baseball_Hall_of_Fame_and_Museum#Selection_process)


- I imported ```Halloffame.csv.```

In [20]:
%sql select * from halloffame where inducted = 'Y' limit 10;

10 rows affected.

[('aaronha01', '1982', 'BBWAA', '415', '312', '406', 'Y', 'Player', '', 1),
 ('alexape01', '1938', 'BBWAA', '262', '197', '212', 'Y', 'Player', '', 1),
 ('alomaro01', '2011', 'BBWAA', '581', '436', '523', 'Y', 'Player', '', 1),
 ('alstowa01', '1983', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('andersp01', '2000', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('ansonca01', '1939', 'Old Timers', '', '', '', 'Y', 'Player', '', 1),
 ('aparilu01', '1984', 'BBWAA', '403', '303', '341', 'Y', 'Player', '', 1),
 ('applilu01', '1964', 'Run Off', '201', '', '189', 'Y', 'Player', '1st', 1),
 ('ashburi01', '1995', 'Veterans', '', '', '', 'Y', 'Player', '', 1),
 ('averiea01', '1975', 'Veterans', '', '', '', 'Y', 'Player', '', 1)]

- Players for the _Boston Red Sox_ since 2000.

In [21]:
%sql select distinct playerid from appearances where teamid='BOS' and yearid between 2000 and 2017 limit 10;

10 rows affected.

[('alcanis01',),
 ('alexama02',),
 ('arrojro01',),
 ('beckro01',),
 ('berryse01',),
 ('bicheda01',),
 ('brognri01',),
 ('burkhmo01',),
 ('carrahe01',),
 ('cormirh01',)]

- Find the Red Sox players who played between 2000 and 2017, and who are in the Hall of Fame.


- Answering the question is an ```INNER JOIN``` on the two derived tables.

In [22]:
%sql select a.playerid from \
    (select playerid, yearid, inducted from halloffame where inducted='Y') as a \
join \
   (select distinct playerid from appearances where teamid='BOS' and yearid between 2000 and 2017) as b \
on a.playerid = b.playerid;

3 rows affected.

[('martipe02',), ('henderi01',), ('smoltjo01',)]

- What is a right join? Well, I want to see all playerids for players in the range and know if they are in the hall of fame? That is a right join.
    - Things that are in both sets (the join condition matches)
    - And also everything in the right set

In [25]:
%sql select b.playerid, a.inducted, a.yearid from \
    (select playerid, yearid, inducted from halloffame where inducted='Y') as a \
right join \
   (select distinct playerid from appearances where teamid='BOS' and yearid between 2000 and 2017) as b \
on a.playerid = b.playerid \
order by inducted desc;

454 rows affected.

[('martipe02', 'Y', '2015'),
 ('smoltjo01', 'Y', '2015'),
 ('henderi01', 'Y', '2009'),
 ('berryse01', None, None),
 ('pichahi01', None, None),
 ('pulsibi01', None, None),
 ('foxch02', None, None),
 ('cabreor01', None, None),
 ('machaal01', None, None),
 ('jarvike01', None, None),
 ('pineijo01', None, None),
 ('pennybr01', None, None),
 ('sanchan02', None, None),
 ('gomezma01', None, None),
 ('peavyja01', None, None),
 ('roberry01', None, None),
 ('eliasro01', None, None),
 ('travisa01', None, None),
 ('hillesh02', None, None),
 ('oliveda02', None, None),
 ('willisc01', None, None),
 ('clemema01', None, None),
 ('coreybr01', None, None),
 ('donnebr01', None, None),
 ('browndu01', None, None),
 ('lopezfe01', None, None),
 ('willira01', None, None),
 ('delatjo01', None, None),
 ('hembrhe01', None, None),
 ('rossro01', None, None),
 ('lintz01', None, None),
 ('gaettga01', None, None),
 ('wasdijo01', None, None),
 ('embreal01', None, None),
 ('rupery01', None, None),
 ('nelsojo01', None, None),
 ('stantmi02', None, None),
 ('riskeda01', None, None),
 ('smithch07', None, None),
 ('camermi01', None, None),
 ('lavarry01', None, None),
 ('sweenry01', None, None),
 ('brownco01', None, None),
 ('marrede01', None, None),
 ('smithca02', None, None),
 ('cormirh01', None, None),
 ('sheetan01', None, None),
 ('urbinug01', None, None),
 ('kaplega01', None, None),
 ('gutieri01', None, None),
 ('olerujo01', None, None),
 ('loretma01', None, None),
 ('byrdpa01', None, None),
 ('alberma01', None, None),
 ('middlwi01', None, None),
 ('villabr02', None, None),
 ('biancje01', None, None),
 ('lamarry01', None, None),
 ('alcanis01', None, None),
 ('ohkato01', None, None),
 ('mirabdo01', None, None),
 ('arroybr01', None, None),
 ('astacpe01', None, None),
 ('graffto01', None, None),
 ('harriwi01', None, None),
 ('lugoju01', None, None),
 ('joneshu01', None, None),
 ('navarya01', None, None),
 ('ciriape01', None, None),
 ('hanrajo01', None, None),
 ('mujiced01', None, None),
 ('varvaan01', None, None),
 ('reedad01', None, None),
 ('lansimi01', None, None),
 ('coneda01', None, None),
 ('timlimi01', None, None),
 ('snydeea01', None, None),
 ('bardjo01', None, None),
 ('baileje01', None, None),
 ('anderbr03', None, None),
 ('hermije01', None, None),
 ('spearna01', None, None),
 ('bradlja02', None, None),
 ('cespeyo01', None, None),
 ('pegueca01', None, None),
 ('davisra01', None, None),
 ('evereca01', None, None),
 ('valenjo02', None, None),
 ('burkejo03', None, None),
 ('millake01', None, None),
 ('martian01', None, None),
 ('ramirha01', None, None),
 ('pauleda01', None, None),
 ('kottage01', None, None),
 ('anderla03', None, None),
 ('hottoto01', None, None),
 ('quirogu01', None, None),
 ('badenbu01', None, None),
 ('jimenlu02', None, None),
 ('osullse01', None, None),
 ('bicheda01', None, None),
 ('pridecu01', None, None),
 ('ramirma02', None, None),
 ('giambje01', None, None),
 ('crespce01', None, None),
 ('mantema01', None, None),
 ('johnsja02', None, None),
 ('romerjc01', None, None),
 ('ramirra02', None, None),
 ('schoesc01', None, None),
 ('lillibr01', None, None),
 ('snydebr03', None, None),
 ('sizemgr01', None, None),
 ('hernama02', None, None),
 ('velazhe01', None, None),
 ('martira02', None, None),
 ('jensema01', None, None),
 ('sanchfr01', None, None),
 ('woodast01', None, None),
 ('coraal01', None, None),
 ('crispco01', None, None),
 ('drewjd01', None, None),
 ('cabrefe01', None, None),
 ('manuero01', None, None),
 ('bailean01', None, None),
 ('dempsry01', None, None),
 ('herrejo03', None, None),
 ('rutlejo01', None, None),
 ('maddoau01', None, None),
 ('garceri01', None, None),
 ('youngti01', None, None),
 ('floydcl01', None, None),
 ('sauersc01', None, None),
 ('reesepo01', None, None),
 ('sternad01', None, None),
 ('snowjt01', None, None),
 ('thursjo01', None, None),
 ('coellro01', None, None),
 ('millean01', None, None),
 ('thomaju01', None, None),
 ('butleda01', None, None),
 ('mendero01', None, None),
 ('youngch04', None, None),
 ('crawfpa02', None, None),
 ('smithda06', None, None),
 ('agbaybe01', None, None),
 ('kimby01', None, None),
 ('hyzduad01', None, None),
 ('papeljo01', None, None),
 ('lowelmi01', None, None),
 ('cartech01', None, None),
 ('tazawju01', None, None),
 ('avilemi01', None, None),
 ('mortecl01', None, None),
 ('webstal01', None, None),
 ('cookry01', None, None),
 ('lightpa01', None, None),
 ('alexama02', None, None),
 ('oleartr01', None, None),
 ('nomohi01', None, None),
 ('brownad01', None, None),
 ('bellhma01', None, None),
 ('halamjo01', None, None),
 ('hinsker01', None, None),
 ('matsuda01', None, None),
 ('kotchca01', None, None),
 ('patteer01', None, None),
 ('cookaa01', None, None),
 ('holtbr01', None, None),
 ('pierzaj01', None, None),
 ('abadfe01', None, None),
 ('salech01', None, None),
 ('leesa01', None, None),
 ('erdosto01', None, None),
 ('hermadu01', None, None),
 ('tolarke01', None, None),
 ('youklke01', None, None),
 ('beckejo02', None, None),
 ('buchhcl01', None, None),
 ('baldero01', None, None),
 ('hillri01', None, None),
 ('suttodr01', None, None),
 ('brittdr01', None, None),
 ('craigal01', None, None),
 ('porceri01', None, None),
 ('deverra01', None, None),
 ('fasseje01', None, None),
 ('varitja01', None, None),
 ('clarkto02', None, None),
 ('muellbi02', None, None),
 ('martisa01', None, None),
 ('remlimi01', None, None),
 ('pedrodu01', None, None),
 ('lowrije01', None, None),
 ('atchisc01', None, None),
 ('iglesjo01', None, None),
 ('repkoja01', None, None),
 ('barnema01', None, None),
 ('johnsbr02', None, None),
 ('pomerdr01', None, None),
 ('brognri01', None, None),
 ('rosebr01', None, None),
 ('saberbr01', None, None),
 ('haselbi01', None, None),
 ('dinarle01', None, None),
 ('meredcl01', None, None),
 ('lestejo01', None, None),
 ('aardsda01', None, None),
 ('reddijo01', None, None),
 ('scutama01', None, None),
 ('linch01', None, None),
 ('thornma01', None, None),
 ('vazquch01', None, None),
 ('hillaa01', None, None),
 ('merlolo01', None, None),
 ('kimsu01', None, None),
 ('sanchre01', None, None),
 ('adamste01', None, None),
 ('cruzjo02', None, None),
 ('gabbaka01', None, None),
 ('ellsbja01', None, None),
 ('gathrjo01', None, None),
 ('mcdonda02', None, None),
 ('beatope01', None, None),
 ('diazjo02', None, None),
 ('johnske05', None, None),
 ('sandopa01', None, None),
 ('martiky01', None, None),
 ('garcino01', None, None),
 ('bankswi01', None, None),
 ('gomeswa01', None, None),
 ('seaneru01', None, None),
 ('roberda07', None, None),
 ('vazqura01', None, None),
 ('snydeky01', None, None),
 ('vanevjo01', None, None),
 ('doubrfe01', None, None),
 ('milletr02', None, None),
 ('valenda01', None, None),
 ('capuach01', None, None),
 ('mileywa01', None, None),
 ('zieglbr01', None, None),
 ('crousri01', None, None),
 ('spraged02', None, None),
 ('andresh01', None, None),
 ('lyonbr01', None, None),
 ('jonesbo04', None, None),
 ('paytoja01', None, None),
 ('milleco01', None, None),
 ('caseyse01', None, None),
 ('trabebi01', None, None),
 ('bedarer01', None, None),
 ('padilvi01', None, None),
 ('wilsoal01', None, None),
 ('deazaal01', None, None),
 ('martimi02', None, None),
 ('arrojro01', None, None),
 ('ontivst02', None, None),
 ('olivejo01', None, None),
 ('chenbr01', None, None),
 ('brownja04', None, None),
 ('hansecr01', None, None),
 ('holtzmi01', None, None),
 ('mossbr01', None, None),
 ('larocad01', None, None),
 ('romerni01', None, None),
 ('dejesiv02', None, None),
 ('mcdonjo03', None, None),
 ('ranauan01', None, None),
 ('beninan01', None, None),
 ('selskst01', None, None),
 ('lewisda01', None, None),
 ('fossuca01', None, None),
 ('howrybo01', None, None),
 ('walketo04', None, None),
 ('bradfch01', None, None),
 ('breslcr01', None, None),
 ('cashke01', None, None),
 ('bardda01', None, None),
 ('kalisry01', None, None),
 ('weilaky01', None, None),
 ('carpmi01', None, None),
 ('escobed02', None, None),
 ('ramirno01', None, None),
 ('fistedo01', None, None),
 ('floribr01', None, None),
 ('veraswi01', None, None),
 ('damonjo01', None, None),
 ('ortizda01', None, None),
 ('mientdo01', None, None),
 ('renteed01', None, None),
 ('penaca01', None, None),
 ('masteju01', None, None),
 ('beltrad01', None, None),
 ('jacksco01', None, None),
 ('rossco01', None, None),
 ('bettsmo01', None, None),
 ('leonsa01', None, None),
 ('priceda01', None, None),
 ('burkhmo01', None, None),
 ('sadledo01', None, None),
 ('santoan01', None, None),
 ('jacksda04', None, None),
 ('dominan01', None, None),
 ('millewa04', None, None),
 ('lopezja01', None, None),
 ('bayja01', None, None),
 ('richadu02', None, None),
 ('shealry01', None, None),
 ('loneyja01', None, None),
 ('ueharko01', None, None),
 ('weeksje01', None, None),
 ('holadbr01', None, None),
 ('nixontr01', None, None),
 ('loftoja01', None, None),
 ('abadan01', None, None),
 ('alvarab01', None, None),
 ('delcama01', None, None),
 ('gonzaal02', None, None),
 ('gagneer01', None, None),
 ('gonzaen01', None, None),
 ('molingu01', None, None),
 ('byrdma01', None, None),
 ('drewst01', None, None),
 ('kellyjo05', None, None),
 ('shawtr01', None, None),
 ('morelmi01', None, None),
 ('gilkebe01', None, None),
 ('castica02', None, None),
 ('hancojo01', None, None),
 ('shielja01', None, None),
 ('schilcu01', None, None),
 ('wellsda01', None, None),
 ('tavarju01', None, None),
 ('velazgi01', None, None),
 ('foxma01', None, None),
 ('moralfr01', None, None),
 ('berryqu01', None, None),
 ('castiru01', None, None),
 ('ogandal01', None, None),
 ('boyerbl01', None, None),
 ('cummimi01', None, None),
 ('staniro01', None, None),
 ('baergca01', None, None),
 ('mccarda01', None, None),
 ('leskacu01', None, None),
 ('perisma01', None, None),
 ('mohrdu01', None, None),
 ('colonba01', None, None),
 ('wagnebi02', None, None),
 ('crawfca02', None, None),
 ('podsesc01', None, None),
 ('workmbr01', None, None),
 ('hanigry01', None, None),
 ('millemi01', None, None),
 ('beckro01', None, None),
 ('penaje01', None, None),
 ('pickeca01', None, None),
 ('collilo01', None, None),
 ('burksel01', None, None),
 ('harvich01', None, None),
 ('huckake01', None, None),
 ('okajihi01', None, None),
 ('martivi01', None, None),
 ('saltaja01', None, None),
 ('germaju01', None, None),
 ('napolmi01', None, None),
 ('riverca02', None, None),
 ('cuevawi01', None, None),
 ('taylobe03', None, None),
 ('lowede01', None, None),
 ('grebecr01', None, None),
 ('nelsobr01', None, None),
 ('whitema03', None, None),
 ('cassisc01', None, None),
 ('burnsmi01', None, None),
 ('claytro01', None, None),
 ('batesaa01', None, None),
 ('lackejo01', None, None),
 ('wheelda01', None, None),
 ('delarru01', None, None),
 ('hassaal01', None, None),
 ('rodried05', None, None),
 ('kendrky01', None, None),
 ('fryeje01', None, None),
 ('wakefti01', None, None),
 ('diazju01', None, None),
 ('persoro01', None, None),
 ('myersmi01', None, None),
 ('shoppke01', None, None),
 ('penawi01', None, None),
 ('rossda01', None, None),
 ('bonsebo01', None, None),
 ('jenksbo01', None, None),
 ('stewaza01', None, None),
 ('brentbr01', None, None),
 ('machije01', None, None),
 ('scottro02', None, None),
 ('carrahe01', None, None),
 ('schoupe01', None, None),
 ('stynech01', None, None),
 ('jonesto02', None, None),
 ('foulkke01', None, None),
 ('nealbl01', None, None),
 ('lopezja02', None, None),
 ('bowdemi01', None, None),
 ('saitota01', None, None),
 ('aceveal01', None, None),
 ('melanma01', None, None),
 ('victosh01', None, None),
 ('arojo01', None, None),
 ('kimbrcr01', None, None),
 ('offerjo01', None, None),
 ('mcdilal01', None, None),
 ('almonhe01', None, None),
 ('anderji02', None, None),
 ('gonzaje01', None, None),
 ('hansade01', None, None),
 ('kieltbo01', None, None),
 ('greenni01', None, None),
 ('navada01', None, None),
 ('carpech02', None, None),
 ('gomesjo01', None, None),
 ('layneto01', None, None),
 ('swihabl01', None, None),
 ('nunezed02', None, None),
 ('hattesc01', None, None),
 ('castifr01', None, None),
 ('haneych01', None, None),
 ('suppaje01', None, None),
 ('seibeph01', None, None),
 ('wootesh01', None, None),
 ('vanbuje01', None, None),
 ('zinkch01', None, None),
 ('hallbi03', None, None),
 ('reyesde01', None, None),
 ('bogaexa01', None, None),
 ('cecchga01', None, None),
 ('owenshe02', None, None),
 ('darnach01', None, None),
 ('daubabr01', None, None),
 ('stanlmi02', None, None),
 ('brownke04', None, None),
 ('mendora01', None, None),
 ('malasma01', None, None),
 ('petagro01', None, None),
 ('murphda07', None, None),
 ('kotsama01', None, None),
 ('woodwch01', None, None),
 ('gonzaad01', None, None),
 ('puntoni01', None, None),
 ('wrighst01', None, None),
 ('hinojda01', None, None),
 ('moncayo01', None, None)]

##### UI01: Find Traitors

- "Rivalries in the Major League Baseball have occurred between many teams and cities. Rivalries have arisen for many different reasons, the primary ones including geographic proximity, familiarity with opponents, various incidents, and cultural, linguistic, or national pride." (https://en.wikipedia.org/wiki/Major_League_Baseball_rivalries)


- Write a function/query supporting an input form.
    - The input form has the following fields:
        - Your favorite team.
        - Your arch rival team.
        - A range of years.
    - The out is the list of arch-traitors who played for your favorite team and the arch rival during the time period.
    
    
- The first step is a query that finds playerID based on team and a year range.

In [26]:
%sql select playerid from appearances where teamid='BOS' and yearid between '2000' and '2017' limit 10;

10 rows affected.

[('alcanis01',),
 ('alexama02',),
 ('arrojro01',),
 ('beckro01',),
 ('berryse01',),
 ('bicheda01',),
 ('brognri01',),
 ('burkhmo01',),
 ('carrahe01',),
 ('cormirh01',)]

- We are doing a _self join_ after applying a select to ```Appearances.```

In [27]:
%sql \
    select distinct a.playerid from \
        (select playerid from appearances where teamid='BOS' and yearid between '2000' and '2017') as a \
        join \
        (select playerid from appearances where teamid='NYA' and yearid between '2000' and '2017') as b \
    on \
        a.playerid = b.playerid;

40 rows affected.

[('coneda01',),
 ('erdosto01',),
 ('mendora01',),
 ('stantmi02',),
 ('olivejo01',),
 ('wellsda01',),
 ('pridecu01',),
 ('clarkto02',),
 ('olerujo01',),
 ('bellhma01',),
 ('embreal01',),
 ('sanchre01',),
 ('damonjo01',),
 ('greenni01',),
 ('myersmi01',),
 ('mientdo01',),
 ('aceveal01',),
 ('trabebi01',),
 ('cashke01',),
 ('hinsker01',),
 ('melanma01',),
 ('nunezed02',),
 ('colonba01',),
 ('molingu01',),
 ('aardsda01',),
 ('lowede01',),
 ('mcdonda02',),
 ('thomaju01',),
 ('lillibr01',),
 ('youklke01',),
 ('capuach01',),
 ('drewst01',),
 ('ellsbja01',),
 ('hillri01',),
 ('johnske05',),
 ('thornma01',),
 ('youngch04',),
 ('bailean01',),
 ('millean01',),
 ('layneto01',)]

- Now add in the names of the traitors.

In [28]:
%sql \
    select c.playerid, d.nameLast, d.nameFirst from \
        (select distinct a.playerid from \
            (select playerid from appearances where teamid='BOS' and yearid between '2000' and '2017') as a \
            join \
            (select playerid from appearances where teamid='NYA' and yearid between '2000' and '2017') as b \
        on \
            a.playerid = b.playerid) as c \
     join \
         people as d \
     on d.playerid = c.playerid

40 rows affected.

[('coneda01', 'Cone', 'David'),
 ('erdosto01', 'Erdos', 'Todd'),
 ('mendora01', 'Mendoza', 'Ramiro'),
 ('stantmi02', 'Stanton', 'Mike'),
 ('olivejo01', 'Oliver', 'Joe'),
 ('wellsda01', 'Wells', 'David'),
 ('pridecu01', 'Pride', 'Curtis'),
 ('clarkto02', 'Clark', 'Tony'),
 ('olerujo01', 'Olerud', 'John'),
 ('bellhma01', 'Bellhorn', 'Mark'),
 ('embreal01', 'Embree', 'Alan'),
 ('sanchre01', 'Sanchez', 'Rey'),
 ('damonjo01', 'Damon', 'Johnny'),
 ('greenni01', 'Green', 'Nick'),
 ('myersmi01', 'Myers', 'Mike'),
 ('mientdo01', 'Mientkiewicz', 'Doug'),
 ('aceveal01', 'Aceves', 'Alfredo'),
 ('trabebi01', 'Traber', 'Billy'),
 ('cashke01', 'Cash', 'Kevin'),
 ('hinsker01', 'Hinske', 'Eric'),
 ('melanma01', 'Melancon', 'Mark'),
 ('nunezed02', 'Nunez', 'Eduardo'),
 ('colonba01', 'Colon', 'Bartolo'),
 ('molingu01', 'Molina', 'Gustavo'),
 ('aardsda01', 'Aardsma', 'David'),
 ('lowede01', 'Lowe', 'Derek'),
 ('mcdonda02', 'McDonald', 'Darnell'),
 ('thomaju01', 'Thomas', 'Justin'),
 ('lillibr01', 'Lillibridge', 'Brent'),
 ('youklke01', 'Youkilis', 'Kevin'),
 ('capuach01', 'Capuano', 'Chris'),
 ('drewst01', 'Drew', 'Stephen'),
 ('ellsbja01', 'Ellsbury', 'Jacoby'),
 ('hillri01', 'Hill', 'Rich'),
 ('johnske05', 'Johnson', 'Kelly'),
 ('thornma01', 'Thornton', 'Matt'),
 ('youngch04', 'Young', 'Chris'),
 ('bailean01', 'Bailey', 'Andrew'),
 ('millean01', 'Miller', 'Andrew'),
 ('layneto01', 'Layne', 'Tommy')]

### JOIN Summary

- You get good a joins the way you get good at everything else:
    - Practice
    - Asks the TAs, me or Stack Overflow if you have a problem.
    
    
- We will continue to see and learn from examples as we progress.


- We will extensively use joins in HW2 and HW5.


- One approach is to think in terms of the Venn Diagrams and ask what you want from the LEFT and RIGHT tables.

## Advanced ```SELECT``` Concept

### Aggregation/Group By

#### Use Case $-$ Career Batting Statistics

| <img src="../../images/career_batting.jpeg"> |
| :---: |
| __Career Batting Statistics__ |

- Produce a batting career summary for a player with ```playerID=`willite01` ```. The fields are:
    - AB
    - H
    - 2B
    - 3B
    - HR
    - RBI
    - BA (batting average)
    
    
- The query:

In [11]:
%sql select sum(AB) as AB, sum(H) as H, sum(2B) as 2B, sum(3B) as 3B, \
    sum(HR) as HR, sum(RBI) as RBI, round(sum(H)/nullif(sum(ab), 0), 3) as AVG \
    from batting where playerID='willite01' \
    group by playerID, teamID, yearID, stint

19 rows affected.

[(565.0, 185.0, 44.0, 11.0, 31.0, 145.0, 0.327),
 (561.0, 193.0, 43.0, 14.0, 23.0, 113.0, 0.344),
 (456.0, 185.0, 33.0, 3.0, 37.0, 120.0, 0.406),
 (522.0, 186.0, 34.0, 5.0, 36.0, 137.0, 0.356),
 (514.0, 176.0, 37.0, 8.0, 38.0, 123.0, 0.342),
 (528.0, 181.0, 40.0, 9.0, 32.0, 114.0, 0.343),
 (509.0, 188.0, 44.0, 3.0, 25.0, 127.0, 0.369),
 (566.0, 194.0, 39.0, 3.0, 43.0, 159.0, 0.343),
 (334.0, 106.0, 24.0, 1.0, 28.0, 97.0, 0.317),
 (531.0, 169.0, 28.0, 4.0, 30.0, 126.0, 0.318),
 (10.0, 4.0, 0.0, 1.0, 1.0, 3.0, 0.4),
 (91.0, 37.0, 6.0, 0.0, 13.0, 34.0, 0.407),
 (386.0, 133.0, 23.0, 1.0, 29.0, 89.0, 0.345),
 (320.0, 114.0, 21.0, 3.0, 28.0, 83.0, 0.356),
 (400.0, 138.0, 28.0, 2.0, 24.0, 82.0, 0.345),
 (420.0, 163.0, 28.0, 1.0, 38.0, 87.0, 0.388),
 (411.0, 135.0, 23.0, 2.0, 26.0, 85.0, 0.328),
 (272.0, 69.0, 15.0, 0.0, 10.0, 43.0, 0.254),
 (310.0, 98.0, 15.0, 0.0, 29.0, 72.0, 0.316)]

#### Aggregation/Group By

- Basic syntax

| <img src="../../images/L5_group_by.jpeg"> |
| :---: |
| __Group By Concept__ |


```
SELECT func1(c1) [as col1], func2(c2) [as col2], ...
FROM table_name
WHERE condition
GROUP BY result_column_name
HAVING having_condition
```

- The ```func1(), func2(), ...``` are [aggregate functions](https://dev.mysql.com/doc/refman/8.0/en/group-by-functions.html). The common aggregate functions are:

| Name             | Description                                      |
|------------------|--------------------------------------------------|
| AVG()            | Return the average value of the argument         |
| COUNT()          | Return a count of the number of rows returned    |
| COUNT(DISTINCT)  | Return the count of a number of different values |
| GROUP_CONCAT()   | Return a concatenated string                     |
| MAX()            | Return the maximum value                         |
| MIN()            | Return the minimum value                         |
| STD()            | Return the population standard deviation         |
| SUM()            | Return the sum                                   |
| VARIANCE()       | Return the population standard variance          |

- The "algorithm:"
    - Perform the ```SELECT``` using the ```WHERE``` clause to determine initial result.
    - ```GROUP BY``` columns are ```g1, g2, ..., gn``` $\Rightarrow$ 
        - Put all rows with the same values for ```g1, g2, ..., gn```
        - In a set. This results in sets of rows ```S1, ..., SK```
    - For every set ```S```,
        - Compute a single row. 
        - The resulting row's column are the the result of applying an aggregation function to the individual row's values.
        - Put the resulting row in a new set ```A```
    - The result set contains the rows in ```A``` matching the ```HAVING``` condition.
    

- This is a little confusing at first, but clear with examples and practice.

#### Examples

##### Individual Season Maximums

- Compute the maximum season value for each performance metric over all seasons.


- The first ```Group By``` aggregates for the season. The player may have played with multiple teams during the season.


- The data for the individual player is

In [15]:
%%sql
    select playerID, sum(ab) as total_ab, sum(h) as total_hits, sum(ab) as total_ab,
        sum(2b) as total_2b, sum(3b) as total_3b, sum(hr) as total_hr, sum(rbi) as total_rbi, 
        round(sum(h)/nullif(sum(ab),0),3) as avg from batting
        where playerid='willite01'
        group by playerid, yearid

19 rows affected.

[('willite01', 565.0, 185.0, 565.0, 44.0, 11.0, 31.0, 145.0, 0.327),
 ('willite01', 561.0, 193.0, 561.0, 43.0, 14.0, 23.0, 113.0, 0.344),
 ('willite01', 456.0, 185.0, 456.0, 33.0, 3.0, 37.0, 120.0, 0.406),
 ('willite01', 522.0, 186.0, 522.0, 34.0, 5.0, 36.0, 137.0, 0.356),
 ('willite01', 514.0, 176.0, 514.0, 37.0, 8.0, 38.0, 123.0, 0.342),
 ('willite01', 528.0, 181.0, 528.0, 40.0, 9.0, 32.0, 114.0, 0.343),
 ('willite01', 509.0, 188.0, 509.0, 44.0, 3.0, 25.0, 127.0, 0.369),
 ('willite01', 566.0, 194.0, 566.0, 39.0, 3.0, 43.0, 159.0, 0.343),
 ('willite01', 334.0, 106.0, 334.0, 24.0, 1.0, 28.0, 97.0, 0.317),
 ('willite01', 531.0, 169.0, 531.0, 28.0, 4.0, 30.0, 126.0, 0.318),
 ('willite01', 10.0, 4.0, 10.0, 0.0, 1.0, 1.0, 3.0, 0.4),
 ('willite01', 91.0, 37.0, 91.0, 6.0, 0.0, 13.0, 34.0, 0.407),
 ('willite01', 386.0, 133.0, 386.0, 23.0, 1.0, 29.0, 89.0, 0.345),
 ('willite01', 320.0, 114.0, 320.0, 21.0, 3.0, 28.0, 83.0, 0.356),
 ('willite01', 400.0, 138.0, 400.0, 28.0, 2.0, 24.0, 82.0, 0.345),
 ('willite01', 420.0, 163.0, 420.0, 28.0, 1.0, 38.0, 87.0, 0.388),
 ('willite01', 411.0, 135.0, 411.0, 23.0, 2.0, 26.0, 85.0, 0.328),
 ('willite01', 272.0, 69.0, 272.0, 15.0, 0.0, 10.0, 43.0, 0.254),
 ('willite01', 310.0, 98.0, 310.0, 15.0, 0.0, 29.0, 72.0, 0.316)]

- Now compute the maximum over all seasons.

In [17]:
%%sql
    select playerid, max(total_ab) as max_ab, max(total_hits) as max_hits, 
		max(total_2b) as max_2b, max(total_3b) as max_3b, max(total_hr) as max_hr, max(total_rbi) as max_rbi,
        max(avg) as max_avg
        from
			(select playerID, sum(ab) as total_ab, sum(h) as total_hits, 
				sum(2b) as total_2b, sum(3b) as total_3b, sum(hr) as total_hr, sum(rbi) as total_rbi, 
				round(sum(h)/nullif(sum(ab),0),3) as avg from batting
				where playerid='willite01'
				group by playerid, yearid) as a_derived_table_example;

1 rows affected.

[(566.0, 194.0, 44.0, 14.0, 43.0, 159.0, 0.407)]

##### Most Homeruns per Franchise

- For each time, find the ```playerID, nameLast, nameFirst``` and ```total_hrs``` of the player with the most total homeruns while playing for a franchise.


- __NOTE:__ Franchises periodically change their team name.

In [26]:
%%sql
drop table if exists player_team_total;
drop table if exists team_max;

create temporary table player_team_total as 
	SELECT
		playerID, 
        (select franchID FROM teams where
			teams.teamid=batting.teamid and teams.yearid=batting.yearid) as franchid,
		sum(hr) as total_hrs
        from batting
		group by playerID, franchid;
        
create temporary table team_max as
	SELECT
		franchid, max(total_hrs) as max_hrs FROM player_team_total
		group by franchid;

0 rows affected.
0 rows affected.
44541 rows affected.
120 rows affected.

[]

In [27]:
%%sql
    select playerid, 
	(select nameLast from people where people.playerid=player_team_total.playerid) as nameLast,
    (select nameFirst from people where people.playerid=player_team_total.playerid) as nameFirst,
    franchid, total_hrs from
	player_team_total
    where
		total_hrs = (select max_hrs from team_max where player_team_total.franchid=team_max.franchid)
	order by total_hrs desc;

311 rows affected.

[('aaronha01', 'Aaron', 'Hank', 'ATL', 733.0),
 ('ruthba01', 'Ruth', 'Babe', 'NYY', 659.0),
 ('mayswi01', 'Mays', 'Willie', 'SFG', 646.0),
 ('killeha01', 'Killebrew', 'Harmon', 'MIN', 559.0),
 ('schmimi01', 'Schmidt', 'Mike', 'PHI', 548.0),
 ('sosasa01', 'Sosa', 'Sammy', 'CHC', 545.0),
 ('willite01', 'Williams', 'Ted', 'BOS', 521.0),
 ('musiast01', 'Musial', 'Stan', 'STL', 475.0),
 ('stargwi01', 'Stargell', 'Willie', 'PIT', 475.0),
 ('bagweje01', 'Bagwell', 'Jeff', 'HOU', 449.0),
 ('thomafr04', 'Thomas', 'Frank', 'CHW', 448.0),
 ('ripkeca01', 'Ripken', 'Cal', 'BAL', 431.0),
 ('griffke02', 'Griffey', 'Ken', 'SEA', 417.0),
 ('kalinal01', 'Kaline', 'Al', 'DET', 399.0),
 ('benchjo01', 'Bench', 'Johnny', 'CIN', 389.0),
 ('snidedu01', 'Snider', 'Duke', 'LAD', 389.0),
 ('gonzaju03', 'Gonzalez', 'Juan', 'TEX', 372.0),
 ('heltoto01', 'Helton', 'Todd', 'COL', 369.0),
 ('mcgwima01', 'McGwire', 'Mark', 'OAK', 363.0),
 ('thomeji01', 'Thome', 'Jim', 'CLE', 337.0),
 ('delgaca01', 'Delgado', 'Carlos', 'TOR', 336.0),
 ('brettge01', 'Brett', 'George', 'KCR', 317.0),
 ('braunry02', 'Braun', 'Ryan', 'MIL', 302.0),
 ('salmoti01', 'Salmon', 'Tim', 'ANA', 299.0),
 ('stantmi03', 'Stanton', 'Giancarlo', 'FLA', 267.0),
 ('longoev01', 'Longoria', 'Evan', 'TBD', 261.0),
 ('strawda01', 'Strawberry', 'Darryl', 'NYM', 252.0),
 ('zimmery01', 'Zimmerman', 'Ryan', 'WSN', 251.0),
 ('gonzalu01', 'Gonzalez', 'Luis', 'ARI', 224.0),
 ('colbena01', 'Colbert', 'Nate', 'SDP', 163.0),
 ('stoveha01', 'Stovey', 'Harry', 'PHA', 76.0),
 ('mckeaed01', 'McKean', 'Ed', 'CLV', 64.0),
 ('joycebi01', 'Joyce', 'Bill', 'WAS', 42.0),
 ('dennyje01', 'Denny', 'Jerry', 'IND', 41.0),
 ('kellejo01', 'Kelley', 'Joe', 'BLO', 40.0),
 ('broutda01', 'Brouthers', 'Dan', 'BUF', 38.0),
 ('bennech01', 'Bennett', 'Charlie', 'DTN', 37.0),
 ('brownpe01', 'Browning', 'Pete', 'LOU', 34.0),
 ('clarkfr01', 'Clarke', 'Fred', 'LOU', 34.0),
 ('zwilldu01', 'Zwilling', 'Dutch', 'CHH', 29.0),
 ('obriebi01', "O'Brien", 'Billy', 'WNL', 28.0),
 ('orrda01', 'Orr', 'Dave', 'NYP', 26.0),
 ('hinespa01', 'Hines', 'Paul', 'PRO', 23.0),
 ('richaha01', 'Richardson', 'Hardy', 'BRS', 23.0),
 ('chaseha01', 'Chase', 'Hal', 'BFL', 20.0),
 ('walshji01', 'Walsh', 'Jimmy', 'BLT', 19.0),
 ('dunlafr01', 'Dunlap', 'Fred', 'SLM', 18.0),
 ('kenwobi01', 'Kenworthy', 'Duke', 'KCP', 18.0),
 ('evansst01', 'Evans', 'Steve', 'BTT', 15.0),
 ('connoro01', 'Connor', 'Roger', 'NYI', 14.0),
 ('millijo01', 'Milligan', 'Jocko', 'PHQ', 14.0),
 ('stoveha01', 'Stovey', 'Harry', 'WOR', 13.0),
 ('tobinja01', 'Tobin', 'Jack', 'SLI', 13.0),
 ('craneed01', 'Crane', 'Ed', 'BRD', 12.0),
 ('lennoed01', 'Lennox', 'Ed', 'PBS', 12.0),
 ('orourji01', "O'Rourke", 'Jim', 'BNA', 12.0),
 ('dunlafr01', 'Dunlap', 'Fred', 'CBL', 11.0),
 ('phillbi01', 'Phillips', 'Bill', 'CBL', 11.0),
 ('pikeli01', 'Pike', 'Lip', 'BLC', 11.0),
 ('brownto01', 'Brown', 'Tom', 'CBK', 10.0),
 ('duffech01', 'Duffee', 'Charlie', 'CLS', 10.0),
 ('smithpo01', 'Smith', 'Pop', 'CBK', 10.0),
 ('becklja01', 'Beckley', 'Jake', 'PBB', 9.0),
 ('connoro01', 'Connor', 'Roger', 'TRT', 9.0),
 ('fieldjo01', 'Fields', 'Jocko', 'PBB', 9.0),
 ('jonesch01', 'Jones', 'Charley', 'CNR', 9.0),
 ('campbvi01', 'Campbell', 'Vin', 'NEW', 8.0),
 ('kauffbe01', 'Kauff', 'Benny', 'NEW', 8.0),
 ('startjo01', 'Start', 'Joe', 'NNA', 8.0),
 ('bierblo01', 'Bierbauer', 'Lou', 'BWW', 7.0),
 ('canavji01', 'Canavan', 'Jim', 'CKK', 7.0),
 ('duffyhu01', 'Duffy', 'Hugh', 'CHP', 7.0),
 ('kerinjo01', 'Kerins', 'John', 'IHO', 6.0),
 ('werdepe01', 'Werden', 'Perry', 'TLM', 6.0),
 ('brownpe01', 'Browning', 'Pete', 'CLI', 5.0),
 ('burnsji01', 'Burns', 'Jim', 'KCC', 5.0),
 ('griffsa01', 'Griffin', 'Sandy', 'ROC', 5.0),
 ('hallge01', 'Hall', 'George', 'ATH', 5.0),
 ('knowlji01', 'Knowles', 'Jimmy', 'ROC', 5.0),
 ('larkihe01', 'Larkin', 'Henry', 'CLI', 5.0),
 ('levisch01', 'Levis', 'Charlie', 'BLU', 5.0),
 ('meyerle01', 'Meyerle', 'Levi', 'PNA', 5.0),
 ('tebeapa01', 'Tebeau', 'Patsy', 'CLI', 5.0),
 ('wisesa01', 'Wise', 'Sam', 'BFB', 5.0),
 ('burnsdi01', 'Burns', 'Dick', 'COR', 4.0),
 ('flynnjo01', 'Flynn', 'Joe', 'PHK', 4.0),
 ('grossem01', 'Gross', 'Emil', 'CPI', 4.0),
 ('hawesbi01', 'Hawes', 'Bill', 'COR', 4.0),
 ('mcquemo01', 'McQuery', 'Mox', 'KCN', 4.0),
 ('meyerle01', 'Meyerle', 'Levi', 'PWS', 4.0),
 ('myersal01', 'Myers', 'Al', 'KCN', 4.0),
 ('obriebi01', "O'Brien", 'Billy', 'BRG', 4.0),
 ('pikeli01', 'Pike', 'Lip', 'TRO', 4.0),
 ('treacfr01', 'Treacey', 'Fred', 'CNA', 4.0),
 ('bassjo01', 'Bass', 'John', 'CFC', 3.0),
 ('canavji01', 'Canavan', 'Jim', 'MLA', 3.0),
 ('carnejo01', 'Carney', 'Jack', 'MLA', 3.0),
 ('frielpa01', 'Friel', 'Pat', 'SYS', 3.0),
 ('gerhajo01', 'Gerhardt', 'Joe', 'LGR', 3.0),
 ('mullato01', 'Mullane', 'Tony', 'TOL', 3.0),
 ('schenbi01', 'Schenck', 'Bill', 'RIC', 3.0),
 ('shaffor01', 'Shafer', 'Orator', 'LGR', 3.0),
 ('snydepo01', 'Snyder', 'Pop', 'LGR', 3.0),
 ('suttoez01', 'Sutton', 'Ezra', 'CFC', 3.0),
 ('allisdo01', 'Allison', 'Doug', 'OLY', 2.0),
 ('barrbo01', 'Barr', 'Bob', 'WST', 2.0),
 ('bastich01', 'Bastian', 'Charlie', 'WIL', 2.0),
 ('boydbi01', 'Boyd', 'Bill', 'BRA', 2.0),
 ('burdoja01', 'Burdock', 'Jack', 'BRA', 2.0),
 ('fennefr01', 'Fennelly', 'Frank', 'WST', 2.0),
 ('hallge01', 'Hall', 'George', 'OLY', 2.0),
 ('halliji01', 'Hallinan', 'Jimmy', 'NYU', 2.0),
 ('luffhe01', 'Luff', 'Henry', 'NHV', 2.0),
 ('mckelru01', 'McKelvy', 'Russ', 'IBL', 2.0),
 ('remseja01', 'Remsen', 'Jack', 'BRA', 2.0),
 ('stirega01', 'Stires', 'Gat', 'ROK', 2.0),
 ('wisebi01', 'Wise', 'Bill', 'WNA', 2.0),
 ('yorkto01', 'York', 'Tom', 'HAR', 2.0),
 ('allisar01', 'Allison', 'Art', 'HNA', 1.0),
 ('bastich01', 'Bastian', 'Charlie', 'KCU', 1.0),
 ('battijo01', 'Battin', 'Joe', 'SBS', 1.0),
 ('bennech01', 'Bennett', 'Charlie', 'MLG', 1.0),
 ('bentlcy01', 'Bentley', 'Cy', 'MAN', 1.0),
 ('berrych01', 'Berry', 'Charlie', 'KCU', 1.0),
 ('blackbo01', 'Black', 'Bob', 'KCU', 1.0),
 ('brownji01', 'Brown', 'Jim', 'ALT', 1.0),
 ('clappjo01', 'Clapp', 'John', 'MAN', 1.0),
 ('dorgami01', 'Dorgan', 'Mike', 'SYR', 1.0),
 ('farreja02', 'Farrell', 'Jack', 'SYR', 1.0),
 ('foranji01', 'Foran', 'Jim', 'KEK', 1.0),
 ('glennjo01', 'Glenn', 'John', 'WBL', 1.0),
 ('goodmja01', 'Goodman', 'Jake', 'MLG', 1.0),
 ('hinespa01', 'Hines', 'Paul', 'WBL', 1.0),
 ('mackde01', 'Mack', 'Denny', 'SBS', 1.0),
 ('mansemi01', 'Mansell', 'Mike', 'SYR', 1.0),
 ('mccorha01', 'McCormick', 'Harry', 'SYR', 1.0),
 ('mclaufr01', 'McLaughlin', 'Frank', 'KCU', 1.0),
 ('millsev01', 'Mills', 'Everett', 'HNA', 1.0),
 ('mooreje01', 'Moore', 'Jerry', 'ALT', 1.0),
 ('pikeli01', 'Pike', 'Lip', 'HNA', 1.0),
 ('pikeli01', 'Pike', 'Lip', 'SBS', 1.0),
 ('richmjo01', 'Richmond', 'John', 'SYR', 1.0),
 ('saylo01', 'Say', 'Lou', 'KCU', 1.0),
 ('selmafr01', 'Sellman', 'Frank', 'KEK', 1.0),
 ('shaffor01', 'Shafer', 'Orator', 'HNA', 1.0),
 ('veachpe01', 'Veach', 'Peek-A-Boo', 'KCU', 1.0),
 ('abadijo01', 'Abadie', 'John', 'CEN', 0.0),
 ('allisan01', 'Allison', 'Andy', 'ECK', 0.0),
 ('allisar01', 'Allison', 'Art', 'RES', 0.0),
 ('allisar01', 'Allison', 'Art', 'WNT', 0.0),
 ('allisbi01', 'Allison', 'Bill', 'ECK', 0.0),
 ('allisdo01', 'Allison', 'Doug', 'ECK', 0.0),
 ('allisdo01', 'Allison', 'Doug', 'RES', 0.0),
 ('austihe01', 'Austin', 'Henry', 'RES', 0.0),
 ('baldwla01', 'Baldwin', 'Lady', 'MLU', 0.0),
 ('barnebi01', 'Barnes', 'Bill', 'STP', 0.0),
 ('barnibi01', 'Barnie', 'Billy', 'WES', 0.0),
 ('battijo01', 'Battin', 'Joe', 'SNA', 0.0),
 ('bechtge01', 'Bechtel', 'George', 'CEN', 0.0),
 ('behelst01', 'Behel', 'Steve', 'MLU', 0.0),
 ('besti01', 'Bestick', 'William', 'ECK', 0.0),
 ('bielaos01', 'Bielaski', 'Oscar', 'NAT', 0.0),
 ('bignege01', 'Bignell', 'George', 'MLU', 0.0),
 ('blongjo01', 'Blong', 'Joe', 'SLR', 0.0),
 ('boothed01', 'Booth', 'Eddie', 'RES', 0.0),
 ('bradlge01', 'Bradley', 'George', 'SNA', 0.0),
 ('bradyst01', 'Brady', 'Steve', 'WNT', 0.0),
 ('brougca01', 'Broughton', 'Cal', 'MLU', 0.0),
 ('brownji01', 'Brown', 'Jim', 'STP', 0.0),
 ('campbhu01', 'Campbell', 'Hugh', 'RES', 0.0),
 ('campbmi02', 'Campbell', 'Michael', 'RES', 0.0),
 ('carbijo01', 'Carbine', 'John', 'WES', 0.0),
 ('carrosc01', 'Carroll', 'Scrappy', 'STP', 0.0),
 ('chapmja01', 'Chapman', 'Jack', 'SNA', 0.0),
 ('clintji01', 'Clinton', 'Jim', 'ECK', 0.0),
 ('clintji01', 'Clinton', 'Jim', 'RES', 0.0),
 ('coughde01', 'Coughlin', 'Dennis', 'NAT', 0.0),
 ('cranefr01', 'Crane', 'Fred', 'RES', 0.0),
 ('cravebi01', 'Craver', 'Bill', 'CEN', 0.0),
 ('croftar01', 'Croft', 'Art', 'SLR', 0.0),
 ('cushmed01', 'Cushman', 'Ed', 'MLU', 0.0),
 ('cuthbne01', 'Cuthbert', 'Ned', 'SNA', 0.0),
 ('dailejo01', 'Dailey', 'John', 'WNT', 0.0),
 ('dealypa01', 'Dealy', 'Pat', 'STP', 0.0),
 ('dehlmhe01', 'Dehlman', 'Herman', 'SNA', 0.0),
 ('dillojo01', 'Dillon', 'John', 'SLR', 0.0),
 ('dillopa01', 'Dillon', 'Packy', 'SLR', 0.0),
 ('doschhe01', 'Doscher', 'Herm', 'WNT', 0.0),
 ('doylejo01', 'Doyle', 'Jacob', 'NAT', 0.0),
 ('dunnst01', 'Dunn', 'Steve', 'STP', 0.0),
 ('eland01', 'Ehlen', 'Frederick', 'MAR', 0.0),
 ('ellicjo01', 'Ellick', 'Joe', 'SLR', 0.0),
 ('falchan01', 'Falch', 'Anton', 'MLU', 0.0),
 ('farrojo01', 'Farrow', 'John', 'RES', 0.0),
 ('fieldsa01', 'Field', 'Sam', 'CEN', 0.0),
 ('fieldsa01', 'Field', 'Sam', 'WNT', 0.0),
 ('fleetfr01', 'Fleet', 'Frank', 'ECK', 0.0),
 ('fleetfr01', 'Fleet', 'Frank', 'RES', 0.0),
 ('fleetfr01', 'Fleet', 'Frank', 'SNA', 0.0),
 ('fletcge01', 'Fletcher', 'George', 'ECK', 0.0),
 ('flintsi01', 'Flint', 'Silver', 'SLR', 0.0),
 ('frencbi01', 'French', 'Bill', 'MAR', 0.0),
 ('galvilo01', 'Galvin', 'Lou', 'STP', 0.0),
 ('galvipu01', 'Galvin', 'Pud', 'SNA', 0.0),
 ('ganzech01', 'Ganzel', 'Charlie', 'STP', 0.0),
 ('gedneco01', 'Gedney', 'Count', 'ECK', 0.0),
 ('gilmoji01', 'Gilmore', 'Thomas', 'WNT', 0.0),
 ('glennjo01', 'Glenn', 'John', 'NAT', 0.0),
 ('goldemi01', 'Golden', 'Mike', 'WES', 0.0),
 ('goldswa01', 'Goldsmith', 'Wally', 'MAR', 0.0),
 ('goldswa01', 'Goldsmith', 'Wally', 'WES', 0.0),
 ('griffth01', 'Griffin', 'Thomas', 'MLU', 0.0),
 ('haguebi01', 'Hague', 'Bill', 'SNA', 0.0),
 ('halliji01', 'Hallinan', 'Jimmy', 'WES', 0.0),
 ('hallji01', 'Hall', 'Jim', 'WES', 0.0),
 ('hautzch01', 'Hautz', 'Charlie', 'SLR', 0.0),
 ('henglmo01', 'Hengel', 'Moxie', 'STP', 0.0),
 ('hinespa01', 'Hines', 'Paul', 'NAT', 0.0),
 ('hoganed02', 'Hogan', 'Mortimer', 'MLU', 0.0),
 ('holdsji01', 'Holdsworth', 'Jim', 'ECK', 0.0),
 ('holliho01', 'Hollingshead', 'Holly', 'NAT', 0.0),
 ('holliho01', 'Hollingshead', 'Holly', 'WNT', 0.0),
 ('hoopemi01', 'Hooper', 'Mike', 'MAR', 0.0),
 ('huntdi01', 'Hunt', 'Dick', 'ECK', 0.0),
 ('jewetna01', 'Jewett', 'Nat', 'ECK', 0.0),
 ('johnsto01', 'Johns', 'Tommy', 'MAR', 0.0),
 ('jones01', 'Jones', 'Levin', 'MAR', 0.0),
 ('jonesch01', 'Jones', 'Charley', 'WES', 0.0),
 ('kavan01', 'Cavanagh', 'James', 'ECK', 0.0),
 ('kernajo01', 'Kernan', 'Joe', 'MAR', 0.0),
 ('kohlehe01', 'Kohler', 'Henry', 'MAR', 0.0),
 ('laughbe01', 'Laughlin', 'Ben', 'RES', 0.0),
 ('lennobi01', 'Lennon', 'Bill', 'MAR', 0.0),
 ('lennobi01', 'Lennon', 'Bill', 'NAT', 0.0),
 ('leutz01', 'Lenz', 'David', 'ECK', 0.0),
 ('lovetle01', 'Lovett', 'Len', 'CEN', 0.0),
 ('lovetle01', 'Lovett', 'Len', 'RES', 0.0),
 ('lowryjo01', 'Lowry', 'John', 'WNT', 0.0),
 ('malonma01', 'Malone', 'Martin', 'ECK', 0.0),
 ('martial01', 'Martin', 'Al', 'ECK', 0.0),
 ('martiph01', 'Martin', 'Phonney', 'ECK', 0.0),
 ('masonch01', 'Mason', 'Charlie', 'CEN', 0.0),
 ('masonch01', 'Mason', 'Charlie', 'WNT', 0.0),
 ('mcclobi01', 'McCloskey', 'Bill', 'WNT', 0.0),
 ('mcderjo01', 'McDermott', 'James', 'ECK', 0.0),
 ('mcdonja01', 'McDonald', 'Jack', 'ECK', 0.0),
 ('mcdoo01', 'McDoolan', '', 'MAR', 0.0),
 ('mcginti01', 'McGinley', 'Tim', 'CEN', 0.0),
 ('mcsortr01', 'McSorley', 'Trick', 'SLR', 0.0),
 ('millejo01', 'Miller', 'Joe', 'NAT', 0.0),
 ('millejo01', 'Miller', 'Joe', 'WES', 0.0),
 ('milleto01', 'Miller', 'Tom', 'SNA', 0.0),
 ('minched01', 'Mincher', 'Ed', 'NAT', 0.0),
 ('morgapi01', 'Morgan', 'Pidgey', 'SLR', 0.0),
 ('morrito01', 'Morrissey', 'Tom', 'MLU', 0.0),
 ('myersal01', 'Myers', 'Al', 'MLU', 0.0),
 ('nelsoca01', 'Nelson', 'Candy', 'ECK', 0.0),
 ('nevinal01', 'Nevin', 'Al', 'RES', 0.0),
 ('obriebi01', "O'Brien", 'Billy', 'STP', 0.0),
 ('oranto01', 'Oran', 'Tom', 'SLR', 0.0),
 ('orour01', "O'Rourke", '', 'ECK', 0.0),
 ('parksbi01', 'Parks', 'Bill', 'WNT', 0.0),
 ('patteda01', 'Patterson', 'Tom', 'ECK', 0.0),
 ('pearcdi01', 'Pearce', 'Dickey', 'SNA', 0.0),
 ('pikeli01', 'Pike', 'Lip', 'SNA', 0.0),
 ('popplge01', 'Popplein', 'George', 'MAR', 0.0),
 ('portehe01', 'Porter', 'Henry', 'MLU', 0.0),
 ('quinnpa02', 'Quinn', 'Paddy', 'WES', 0.0),
 ('radcljo01', 'Radcliff', 'John', 'CEN', 0.0),
 ('redmobi01', 'Redmond', 'Billy', 'SLR', 0.0),
 ('resslla01', 'Ressler', 'Larry', 'WNT', 0.0),
 ('rileybi01', 'Riley', 'Billy', 'WES', 0.0),
 ('saylo01', 'Say', 'Lou', 'MAR', 0.0),
 ('saylo01', 'Say', 'Lou', 'WNT', 0.0),
 ('selmafr01', 'Sellman', 'Frank', 'MAR', 0.0),
 ('selmafr01', 'Sellman', 'Frank', 'WNT', 0.0),
 ('sewarge01', 'Seward', 'George', 'SNA', 0.0),
 ('sextoto01', 'Sexton', 'Tom', 'MLU', 0.0),
 ('sheppjo01', 'Sheppard', 'John', 'MAR', 0.0),
 ('simmojo01', 'Simmons', 'Joe', 'WES', 0.0),
 ('simpsma01', 'Simpson', 'Marty', 'MAR', 0.0),
 ('smithbi01', 'Smith', 'Bill', 'MAR', 0.0),
 ('smithjo01', 'Smith', 'John', 'MAR', 0.0),
 ('snydeji01', 'Snyder', 'Jim', 'ECK', 0.0),
 ('snydejo01', 'Snyder', 'Josh', 'ECK', 0.0),
 ('somered01', 'Somerville', 'Ed', 'CEN', 0.0),
 ('spenc01', 'Spencer', '', 'NAT', 0.0),
 ('stearbi01', 'Stearns', 'Bill', 'NAT', 0.0),
 ('stearbi01', 'Stearns', 'Bill', 'WNT', 0.0),
 ('stevero01', 'Stevens', 'Robert', 'WNT', 0.0),
 ('strated01', 'Stratton', 'Ed', 'MAR', 0.0),
 ('studlse01', 'Studley', 'Sy', 'NAT', 0.0),
 ('swandma01', 'Swandell', 'Marty', 'ECK', 0.0),
 ('swandma01', 'Swandell', 'Marty', 'RES', 0.0),
 ('sweasch01', 'Sweasy', 'Charlie', 'SLR', 0.0),
 ('terry01', 'Terry', 'Walter', 'WNT', 0.0),
 ('thompan01', 'Thompson', '', 'WNT', 0.0),
 ('tillejo01', 'Tilley', 'John', 'STP', 0.0),
 ('treacfr01', 'Treacey', 'Fred', 'CEN', 0.0),
 ('trenwge01', 'Trenwith', 'George', 'CEN', 0.0),
 ('waittch01', 'Waitt', 'Charlie', 'SNA', 0.0),
 ('warnefr01', 'Warner', 'Fred', 'CEN', 0.0),
 ('werrijo01', 'Werrick', 'Joe', 'STP', 0.0),
 ('whitewa01', 'White', 'Warren', 'NAT', 0.0),
 ('withech01', 'Witherow', 'Charles', 'WNT', 0.0),
 ('woltery01', 'Wolters', 'Rynie', 'RES', 0.0),
 ('woodhre01', 'Woodhead', 'Red', 'MAR', 0.0),
 ('woodji01', 'Wood', 'Jimmy', 'ECK', 0.0),
 ('wordsfa01', 'Wordsworth', 'Favel', 'RES', 0.0),
 ('yeatmbi01', 'Yeatman', 'Bill', 'NAT', 0.0),
 ('zettlge01', 'Zettlein', 'George', 'ECK', 0.0)]

- There is probably a way to do this without using temporary tables, but ...
    - I am not that smart.
    - I tried and got a wicked headache.
    - We will see that data analysis often computes aggregate information once, and then updates periodically.

## More Advanced SQL Coming

- We can sort of save a query that produces useful result as a _view._


- We can look up things in other tables while executing a query. This is a _sub-query._


- An example of putting them together is ...

In [31]:
%%sql

drop table if exists player_team_total;
drop table if exists team_max;

create  table player_team_total as 
	SELECT
		playerID, 
        (select franchID FROM teams where
			teams.teamid=batting.teamid and teams.yearid=batting.yearid) as franchid,
		sum(hr) as total_hrs
        from batting
		group by playerID, franchid;
        
create  table team_max as
	SELECT
		franchid, max(total_hrs) as max_hrs FROM player_team_total
		group by franchid;
        
        
create or replace view franchise_hr_leaders as
    select playerid, 
    (select nameLast from people where people.playerid=player_team_total.playerid) as nameLast,
    (select nameFirst from people where people.playerid=player_team_total.playerid) as nameFirst,
    franchid, total_hrs from
    player_team_total
    where
        total_hrs = (select max_hrs from team_max where player_team_total.franchid=team_max.franchid)
    order by total_hrs desc;

0 rows affected.
0 rows affected.
44541 rows affected.
120 rows affected.
0 rows affected.

[]

- Which makes it easier for less sophisticate programmers to query derived information.

In [33]:
%sql select * from franchise_hr_leaders where franchid in ('BOS', 'NYY');

2 rows affected.

[('ruthba01', 'Ruth', 'Babe', 'NYY', 659.0),
 ('willite01', 'Williams', 'Ted', 'BOS', 521.0)]

## HW2 $-$ Getting Started with HW2

### Introduction

- We will build a web application that implements a set of REST APIs for some URLs/paths.


- Path model

| Path | Mapping |
| :---: | :--- |
| /api	| The API entry point |
| /api/:coll	| A top-level collection named “coll” |
| /api/:coll/:id	| The resource “id” inside/related to collection “coll” |
| /api/:coll/:id/:subcoll	| Sub-collection “subcoll” under resource “id” |
| /api/:coll/:id/:subcoll/:subid	| The resource “subid” inside “subcoll” |


- Paths will also support field selection, query strings, limit, offset, and order_by. For example,
    - ```/api/people/willite01?field_list=playerID,nameFirst,nameLast,birthCountry,birthCity```
    - ```api/lahman2017/people?nameLast=Williams&birthState=CA&fields=playerID,nameFirst,nameLast,birthState,birthCity```

<hr>
<img src="../../images/hw2_rest_1.jpeg">
<hr>
<img src="../../images/hw2_rest_2.jpeg">
<hr>

### Critical Next Step

- Get the basic environment in place. This means:
    - Create a new Python (PyCharm) project.
    - Clone the repository https://github.com/donald-f-ferguson/W4111_HW2
    - Be able to start ```aeneid.py```
    
- Add your implementations of ```RDBDataTable, DerivedDataTable, CSVDataTable``` to the project.


- Test connection between ```dataservice.py``` and your ```RDBDataTable``` to perform basic finds.


- I am letting you know and start on this now. I do not want to be debugging set up, connections, etc. at 11pm on the due date.


- The full HW spec will come out in a couple of days, and you can get started. You will need some of the advanced material from the next lecture to complete the HW.


### Code Walk-Through and Demos