<h1 style="display:none;">Test</h1>
# Introduction to Databases: Start Working with Databases

In [5]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

__Play no attention to the spell above__

| <img src="../images/wizard.jpg" width="75%"> |
| :--: |
| __You will also be one!__ |

## Today's Lecture

1. Discussion and clarification of homework 1a; Q&A
<br><br>
1. Introduction to Relational Algebra/Model and realization of data model. 
<br><br>
1. Introduction to SQL and realization of the data model.
<br><br>
1. Discussion and clarification of homework 1b; Q&A
<br><br>
1. Overview/enumeration of (some of) the types of database applications.
<br><br>
1. Data Modeling and Database Design
    - First set of concepts.
    - Modeling and design will be an ongoing topic in lectures.
<br><br>
1. First steps in building our interactive web application.

## Homework 1a $-$ Database versus Files

### The Data

| <img src="../images/lahman2017-1.jpeg" width="100%"><br><br>   |
| :--: |
| __Initial Subset__ |

- Three comma [separated value files](https://en.wikipedia.org/wiki/Comma-separated_values): People.csv, Master.csv, Appearances.csv

#### People.csv

- Basic, personal information about people associated with [Major League Baseball.](https://en.wikipedia.org/wiki/Major_League_Baseball)


- 19,370 rows in the CSV file.


- File size is 2.5MB


- Attributes

| Attribute    | Description                                                                                                       |
|--------------|-------------------------------------------------------------------------------------------------------------------|
| playerID     | A unique code asssigned to each player. The playerID links the data in this file with records in the other files. |
| birthYear    | Year player was born                                                                                              |
| birthMonth   | Month player was born                                                                                             |
| birthDay     | Day player was born                                                                                               |
| birthCountry | Country where player was born                                                                                     |
| birthState   | State where player was born                                                                                       |
| birthCity    | City where player was born                                                                                        |
| deathYear    | Year player died                                                                                                  |
| deathMonth   | Month player died                                                                                                 |
| deathDay     | Day player died                                                                                                   |
| deathCountry | Country where player died                                                                                         |
| deathState   | State where player died                                                                                           |
| deathCity    | City where player died                                                                                            |
| nameFirst    | Player's first name                                                                                               |
| nameLast     | Player's last name                                                                                                |
| nameGiven    | Player's given name (typically first and middle)                                                                  |
| weight       | Player's weight in pounds                                                                                         |
| height       | Player's height in inches                                                                                         |
| bats         | Player's batting hand (left, right, or both)                                                                      |
| throws       | Player's throwing hand (left or right)                                                                            |
| debut        | Date that player made first major league appearance                                                               |
| finalGame    | Date that player made first major league appearance (blank if still active)                                       |
| retroID      | ID used by retrosheet                                                                                             |
| bbrefID      | ID used by Baseball Reference website   
|| __People Data__ |

<br>

| <img src="../images/bbmaster.jpeg" width="90%"> |
| :---: |
| __People Data__ |

#### Appearances.csv

- Players on a team/roster may _appear_ in a game. The player participated in/got into the game.
    - There are several ways a player can get into a game:
        - Offense: Batted, Pinch Hit, Pinch Run
        - Defense: Play a position in the field.
    - In a single appearance, a player may have done several of the tasks. For example,
        - Batted, played center field, played right field.
        - Pinch run, play left field.


- 104,246 rows in the CSV file.


- File size is 6.3 MB


- Attributes:


    
| Attribute     | Description |
|--------------|-------------------------------------------------------------------------------------------------------------------|
                                                                                       |
| yearID | (Season) Year in which appearance happened |                                                              |
| teamID       | Team played for                                                                                                   |
| lgID         | League for team                                                                                                   |
| playerID     | ID for player                                                                                                     |
| G_all        | All appearances for the team in the year                                                                          |
| GS           | Games started                                                                                                     |
| G_batting    | Games with at least one at bat                                                                                    |
| G_defense    | Games with at least one appearance in a defensive position                                                        |
| G_p          | Same for pitcher                                                                                                  |
| G_c          | Catcher                                                                                                           |
| G_1b         | 1st base                                                                                                          |
| G_2b         | 2nd base                                                                                                          |
| G_3b         | 3rd base                                                                                                          |
| G_ss         | Short stop                                                                                                        |
| G_lf         | Left field                                                                                                        |
| G_cf         | Center field                                                                                                      |
| G_rf         | Right field                                                                                                       |
| G_of         | Outfield (All)                                                                                                    |
| G_dh         | Designated Hitter                                                                                                 |
| G_ph         | Pinch Hitter                                                                                                      |
| G_pr         | Pinch Runner  
| | | __Appearances__ |

<br>
    
| <img src="../images/appearances.jpeg" width="90%"> |
| :---: |
| __Appearances Data__ |

#### Batting.csv

__Note:__ There is a corresponding Fielding.csv that has data about a player's defensive performance. We will use this data later in the course.

- Batting:
    - The player takes a turn at bat and attempts to hit a pitched ball.
    - There are several possible outcomes from a turn at-bat.
    
- 102,817 rows in the CSV file


- File size is 6.4 MB


| Attribute | Description                                           |
|-----------|-------------------------------------------------------|
| playerID  | Player ID code                                        |
| yearID    | Year                                                  |
| stint     | player's stint (order of appearances within a season) |
| teamID    | Team                                                  |
| lgID      | League                                                |
| G         | Games                                                 |
| AB        | At Bats                                               |
| R         | Runs                                                  |
| H         | Hits                                                  |
| 2B        | Doubles                                               |
| 3B        | Triples                                               |
| HR        | Homeruns                                              |
| RBI       | Runs Batted In                                        |
| SB        | Stolen Bases                                          |
| CS        | Caught Stealing                                       |
| BB        | Base on Balls                                         |
| SO        | Strikeouts                                            |
| IBB       | Intentional walks                                     |
| HBP       | Hit by pitch                                          |
| SH        | Sacrifice hits                                        |
| SF        | Sacrifice flies                                       |
| GIDP      | Grounded into double plays                            |
| | __Batting Data__ |

<br>

| <img src="../images/bbmaster.jpeg" width="90%"> |
| :---: |
| __Batting Data__ |

#### Additional Semantics

- There are some rules that define the correctness and integrity of the data.


- Each file has a __primary key,__ which may be a single column or a combination of columns.
    - No value in a primary key column can be null (or "").
    - Within a file, a given combination of values for the primary key columns occurs AT MOST once. The combination of columns uniquely identifies the row.
    - The primary keys are:
        - People: playerID
        - Appearances: yearID, teamID, playerID
        - Batting: playerID, yearID, teamID, stint
    
    
- Referential Integrity: For any entry in Batting.csv or Appearances.csv, there must be a row in with the corresponding playerID in people. This means
    - You cannot add a row to Batting or Appearances unless there is a row with the corresponding playerID in People.
    - You cannot delete a row from People if there is ANY row in Batting or Appearances with that playerID.

#### A Note on the Domain

- Many of you do not understand baseball.


- A basic understanding can be useful. For example, in WW II, if US soldiers thought someone might be a German impostor, they would ask the person questions about baseball.


- I have routinely has to help customers with application and data scenarios for which I had an incomplete understanding of the domain. Someone else provided the domain semantics.


- Any domain I picked would be unknown by some students, e.g. CRM, ERP, ...


- You will not lose points if you make a mistake due to incomplete knowledge of baseball.

### The Assignment: 1a

#### Part I: Implement Basic Table Semantics

##### Semantics

- The data defining a table is:
    - Table name
    - File name
    - Primary key column name
    
    
- You will implement a class or module that implements the following functions for any table based on the definition data:
    - Load data.
    - Save data.
    - Insert a row.
    - Delete a row.
    - <del>Update a row.</del> Checking cross-table constraints is tricky for update. So, I removed this requirement.
    - Find rows that match a template.
    
    
- The class/module must implement correctness functions, e.g.
    - Do not allow inserting a row that has columns not in the original file that the "class" wraps.
    - Processing a query that references columns not in the original file.
    - Duplicate primary key
    - Insert with an incomplete primary key
    - etc.

- My class looks something like

In [1]:
class SCSVTable:

    data_dir = "/Users/donaldferguson/Dropbox/ColumbiaCourse/Courses/Fall2018/W4111/Data/"

    # t_name: The "Name" of the collection.
    # t_file: The name of the CSV file. The class looks in the data_dir for the file.
    def __init__(self, t_name, t_file, key_columns):
        # Your code goes here
        pass

    
    # Pretty print the CSVTable and its attributes.
    def __str__(self):
        # Your code goes here.
        # Optional
        pass

    # loads the data from the file into the class instance data.
    # You decide how to store and represent the rows from the file.
    def load(self):
        # Your code goes here
        pass

    # The input is:
    # t: The template to match. The result is a list of rows
    # whose attribute/value pairs exactly match the template.
    # fields: A subset of the fields to include for each result.
    # Raises an exception if the template or list of fields contains
    # a column/attribute name not in the file.
    def find_by_template(self, t, fields=None):
        # Your code goes here
        pass

    # Obvious
    def save(self):
        pass

    # Inserts the row into the table. 
    # Raises on duplicate key or invalid columns.
    def insert(self, r):
        # Your code goes here
        pass

       
    # t: A template.
    # Deletes all rows matching the template.
    def delete(self, t):
        # Your code goes here.
        pass

##### Some Tests

- These are some tests to give you a feel for the behavior.


- The CAs and I will run a standard set of tests against your implementation.
    - We will not provide the tests in advance.
    - Defining good, complete test cases and coverage is part of application and solution design, and is an important skills to master.

In [1]:
import CSVTable
import json
import copy

In [2]:
people_csvt = CSVTable.CSVTable("People", "People.csv", ["playerID"])
people_csvt.load()

In [3]:
try:
    t1 = { "nameFirst": "Ted", "nameLast": "Williams"}
    print("Testing template ", t1, " on table", "People")
    result = people_csvt.find_by_template(t1)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Testing template  {'nameFirst': 'Ted', 'nameLast': 'Williams'}  on table People
Query result is
[
  {
    "playerID": "willite01",
    "birthYear": "1918",
    "birthMonth": "8",
    "birthDay": "30",
    "birthCountry": "USA",
    "birthState": "CA",
    "birthCity": "San Diego",
    "deathYear": "2002",
    "deathMonth": "7",
    "deathDay": "5",
    "deathCountry": "USA",
    "deathState": "FL",
    "deathCity": "Inverness",
    "nameFirst": "Ted",
    "nameLast": "Williams",
    "nameGiven": "Theodore Samuel",
    "weight": "205",
    "height": "75",
    "bats": "L",
    "throws": "R",
    "debut": "1939-04-20",
    "finalGame": "1960-09-28",
    "retroID": "willt103",
    "bbrefID": "willite01"
  }
]

In [4]:
try:
    t2 = { "nameLast": "Williams", "throws": "R"}
    fields2 = ['nameLast', 'nameFirst', 'birthCountry', 'throws', 'bats']
    print("Testing template ", t1, " on table", "People")
    print("With field list = ", fields2)
    result = people_csvt.find_by_template(t2, fields2)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Testing template  {'nameFirst': 'Ted', 'nameLast': 'Williams'}  on table People
With field list =  ['nameLast', 'nameFirst', 'birthCountry', 'throws', 'bats']
Query result is
[
  {
    "nameLast": "Williams",
    "nameFirst": "Al",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Albert",
    "birthCountry": "Nicaragua",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Art",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Bernie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Bernie",
    "birthCountry": "P.R.",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Billy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Billy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Bob",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Brian",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Charlie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dale",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Davey",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dana",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Denny",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dewey",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dib",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dick",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Don",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Don",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Earl",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Earl",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Eddie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Frank",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "George",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Gerald",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "George",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Glenn",
    "birthCountry": "Australia",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Harry",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jackson",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jerome",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jimmy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jimy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jim",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Johnnie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Smokey Joe",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Ken",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Ken",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Keith",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Marsh",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Matt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Matt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Mason",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Mike",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Mutt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Otto",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Papa",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Reggie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Reggie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Rip",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Rinaldo",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Rick",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Shad",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Steamboat",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Stan",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Taylor",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Ted",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Todd",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Trevor",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Walt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Woody",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Woody",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  }
]

In [6]:
try:
    t3 = { "nameLast": "Williams", "IQ": "R"}
    fields3 = ['nameLast', 'nameFirst', 'birthCountry', 'throws', 'bats']
    print("Testing template ", t3, " on table", "People")
    print("With field list = ", fields3)
    result = people_csvt.find_by_template(t3, fields3)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Testing template  {'nameLast': 'Williams', 'IQ': 'R'}  on table People
With field list =  ['nameLast', 'nameFirst', 'birthCountry', 'throws', 'bats']
Got exception =  Invalid columns: ['IQ']

In [9]:
try:
    t4 = { "nameLast": "Ferguson", "nameFirst" : "Donald"}
    print("Testing template ", t4, " on table", "People")
    result = people_csvt.find_by_template(t4)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Testing template  {'nameLast': 'Ferguson', 'nameFirst': 'Donald'}  on table People
Query result is
[]

In [10]:
try:
    row = { "playerID": "dff1", "nameLast": "Ferguson", "nameFirst" : "Donald", "throws": "R", "bats": "R"}
    people_csvt.insert(row)
    people_csvt.save()
    print("After insert")
    print("Testing template ", t4, " on table", "People")
    result = people_csvt.find_by_template(t4)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

After insert
Testing template  {'nameLast': 'Ferguson', 'nameFirst': 'Donald'}  on table People
Query result is
[
  {
    "playerID": "dff1",
    "nameLast": "Ferguson",
    "nameFirst": "Donald",
    "throws": "R",
    "bats": "R"
  }
]

In [17]:
batting_csvt = CSVTable.CSVTable("Batting", "Batting.csv", ["playerID", "yearID", "teamID", "stint"])
batting_csvt.load()

In [18]:
try:
    t6 = { "playerID": "dff2"}
    result = batting_csvt.find_by_template(t6)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Query result is
[
  {
    "playerID": "dff2",
    "yearID": "2018",
    "stint": "1",
    "teamID": "BOS",
    "lgID": "",
    "G": "",
    "AB": "",
    "R": "",
    "H": "12",
    "2B": "",
    "3B": "",
    "HR": "",
    "RBI": "",
    "SB": "",
    "CS": "",
    "BB": "",
    "SO": "",
    "IBB": "",
    "HBP": "",
    "SH": "",
    "SF": "",
    "GIDP": ""
  }
]

In [22]:
try:
    row = { "playerID": "dff2", "yearID": "1958", "teamID": "BOS", "H": "1001"}
    batting_csvt.insert(row)
    t6 = { "playerID": "dff2"}
    result = batting_csvt.find_by_template(t6)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Got exception =  Key is missing attribute 'stint'

#### Part II: Implement Query Processor and Cross-Table Semantics

##### Query Processor

- Implement a class or module ```QueryProcessor.``` The configuration parameters are:
    - A list of ```CSVTable``` instances.
    - A list of $constraints,$ each of the form: <br>```{target_table_name, target_table_attribute_name, source_table_name, source_table_attribute_name}```
    

- The meaning is:
    - You can only insert into ```source_table_name``` if there is a row in ```target_table_name``` with
        - ```target_attribute_name``` having value
        - that is the ```source_attribute_name``` value.
    - You cannot delete a row if it would result in a source_table having a row without a corresponding target_table row.
    
    
- Well, that was confusing.


- Example:
    - constraint = <br>```{"target_table_name": "People", "target_attribute_name": "playerID", "source_table_name:" "Batting", "source_attribute_name": "playerID"}```
    - I can only insert a row into Batting with "playerID" = "dff2" if there is a corresponding entry on People with the same value for playerID.
    - I cannot delete the row from People of there is a row in Batting with the playerID that would be deleted.
    
    
- My class looks something like

In [ ]:
class QueryProcessor:

    def __init__(self, tables, constraints=None):
        pass

    # Query if of the form:
    # { "table_name": "some name", "template": {...}, "fields": [] }
    def find_by_query(self, q):
        pass

    # t_name is table name
    # Row is row to insert into table.
    def insert(self, t_name, row):
        pass

    # Same for delete.
    # tmpl is the template to delete.
    def delete(self, t_name, tmpl):
        for c in self.constraints:
            if c['target_table'] == t_name:
                self.check_delete_constraint(t_name, tmpl, c)
        else:
            tbl = self.tables[t_name]
            tbl.delete(tmpl)
            tbl.save()

#### Some Tests

In [25]:
import CSVTable
import QueryProcessor
import json

# Make some tables
people = CSVTable.CSVTable("People", "People.csv", ["playerID"])
batting = CSVTable.CSVTable("Batting", "Batting.csv", ["playerID", "yearID", "teamID", "stint"])
appearances = CSVTable.CSVTable("Appearances", "Appearances.csv", ['playerID', 'yearID', 'teamID'])

tables = { "People": people, "Batting": batting, "Appearances": appearances}

# A constraint
c1 = { "target_table": "People", "target_attribute": "playerID", "source_table": "Batting",
       "source_attribute": "playerID"}

processor = QueryProcessor.QueryProcessor(tables, [c1])

In [26]:
try:
    tmp = { "table_name": "People", "template": {"nameLast" : "Ferguson", "nameFirst": "Donald"}, \
            "fields": ['playerID', 'nameLast', 'nameFirst', 'birthCity']}
    rr = processor.find_by_query(tmp)
    print("Query = ", tmp)
    print("Result = \n", json.dumps(rr, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Query =  {'table_name': 'People', 'template': {'nameLast': 'Ferguson', 'nameFirst': 'Donald'}, 'fields': ['playerID', 'nameLast', 'nameFirst', 'birthCity']}
Result =
 [
  {
    "playerID": "dff1",
    "nameLast": "Ferguson",
    "nameFirst": "Donald",
    "birthCity": ""
  }
]

In [30]:
try:
    tmp = { "table_name": "Batting", "template": {"playerID" : "willite01"}, 
            "fields": ['G', 'AB', 'H', 'yearID']}
    rr = processor.find_by_query(tmp)
    print("Query = ", tmp)
    print("Result = \n", json.dumps(rr, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Query =  {'table_name': 'Batting', 'template': {'playerID': 'willite01'}, 'fields': ['G', 'AB', 'H', 'yearID']}
Result =
 [
  {
    "G": "149",
    "AB": "565",
    "H": "185",
    "yearID": "1939"
  },
  {
    "G": "144",
    "AB": "561",
    "H": "193",
    "yearID": "1940"
  },
  {
    "G": "143",
    "AB": "456",
    "H": "185",
    "yearID": "1941"
  },
  {
    "G": "150",
    "AB": "522",
    "H": "186",
    "yearID": "1942"
  },
  {
    "G": "150",
    "AB": "514",
    "H": "176",
    "yearID": "1946"
  },
  {
    "G": "156",
    "AB": "528",
    "H": "181",
    "yearID": "1947"
  },
  {
    "G": "137",
    "AB": "509",
    "H": "188",
    "yearID": "1948"
  },
  {
    "G": "155",
    "AB": "566",
    "H": "194",
    "yearID": "1949"
  },
  {
    "G": "89",
    "AB": "334",
    "H": "106",
    "yearID": "1950"
  },
  {
    "G": "148",
    "AB": "531",
    "H": "169",
    "yearID": "1951"
  },
  {
    "G": "6",
    "AB": "10",
    "H": "4",
    "yearID": "1952"
  },
  {
    "G": "37",
    "AB": "91",
    "H": "37",
    "yearID": "1953"
  },
  {
    "G": "117",
    "AB": "386",
    "H": "133",
    "yearID": "1954"
  },
  {
    "G": "98",
    "AB": "320",
    "H": "114",
    "yearID": "1955"
  },
  {
    "G": "136",
    "AB": "400",
    "H": "138",
    "yearID": "1956"
  },
  {
    "G": "132",
    "AB": "420",
    "H": "163",
    "yearID": "1957"
  },
  {
    "G": "129",
    "AB": "411",
    "H": "135",
    "yearID": "1958"
  },
  {
    "G": "103",
    "AB": "272",
    "H": "69",
    "yearID": "1959"
  },
  {
    "G": "113",
    "AB": "310",
    "H": "98",
    "yearID": "1960"
  }
]

In [33]:
try:
    tmp = { "table_name": "People", "template": {"playerID" : "dff1"}}
    rr = processor.find_by_query(tmp)
    print("Query = ", tmp)
    print("Result = \n", json.dumps(rr, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Query =  {'table_name': 'People', 'template': {'playerID': 'dff1'}}
Result =
 [
  {
    "playerID": "dff1",
    "birthYear": "",
    "birthMonth": "",
    "birthDay": "",
    "birthCountry": "",
    "birthState": "",
    "birthCity": "",
    "deathYear": "",
    "deathMonth": "",
    "deathDay": "",
    "deathCountry": "",
    "deathState": "",
    "deathCity": "",
    "nameFirst": "Donald",
    "nameLast": "Ferguson",
    "nameGiven": "",
    "weight": "",
    "height": "",
    "bats": "R",
    "throws": "R",
    "debut": "",
    "finalGame": "",
    "retroID": "",
    "bbrefID": ""
  }
]

In [43]:
try:
    tmp = {"playerID" : "dff2"}
    rr = processor.find_by_query({"table_name": "People", "template": {"nameLast": "Ferguson", "nameFirst": "Donald"}})
    print("RR = ", json.dumps(rr))
except Exception as e:
    print("Got exception = ", str(e))

RR =  []

## Relational and Common Database Concepts

- Almost all database engines and models have the concepts of
    - Objects that are some form of array of (name, value) pairs.
    - Sets of similar or related objects.
    - Four basic (CRUD) operations on a set
        - CREATE a new object and add to a set.
        - RETRIEVE an object in a set based on a criteria.
        - UPDATE an object in a set, e.g. change the data in the object.
        - DELETE an object from a set, specifying the object(s) by some criteria.
        
        
- In the file systems/CSV model
    - A set is a file, e.g. students.csv.
    - Each object is a row in the file.
    - The header row gives the names of each column.
    - The CRUD processing involves writing a program that reads the file, changes the two-dimensional array and writing the file.
        - CREATE: Append a row and save the file.
        - RETRIEVE: Scan the table and apply me kind of IF statement.
        - UPDATE: Change a row in the two dimensional array.
        - DELETE: Remove a row from the array.
        

- In the "pure" relational model
    - A set is a _relation_.
    - An object is a _row_ or _tuple_.
    - There is no support for CREATE, UPDATE or DELETE.
    - There is an _algebra_ and language from producing a new relation from existing relations that implements a support set of RETRIEVE.
    
    
- In SQL,
    - A set is a _table_.
    - An object is a _row_ or _tuple_.
    - INSERT is the create operation.
    - UPDATE is the delete operation.
    - DELETE is the delete operation.
    - SELECT is the statement that realizes the relational _algebra_.
    
    
- In [Representational state transfer](https://en.wikipedia.org/wiki/Representational_state_transfer) REST.
    - A set is a _resource_ that is a collection of _resources._
    - An object is a resource.
    - CREATE is HTTP POST
    - RETRIEVE is HTTP GET
    - UPDATE is HTTP PUT (or PATCH)
    - DELETE is HTTP DELETE.

## This Course and Applications

### Motivation

- This is an _introduction_ to databases. I want to cover
    - Several types of data models, and the database systems that implement the models.
    - Best practices for modeling and implementing data-centric solutions.
    - Different types of application scenarios that rely on databases.
    - Interesting topics and challenges in the design and implementation of database.


- There are several (too many) ways to classify applications and scenarios that use databases. Some examples
    - One classification approach
        - _Batch processing systems,_ where you submit a a bunch of files, a "job" containing multiple subprograms, and later receive output in the form of a file.

        - <span style="color: red;"> _Real-time (online) systems,_ where you submit requests to do a small amount of work that has to be done before some very early deadline, or interactively why the user waits.</span>
        - _Data warehouse systems,_ where reporting programs and ad hoc queries access data that is integrated from multiple data sources
    - Annother classification approach: A data processing system may involve some combination of
        - Conversion converting data to another format.
        - Validation – Ensuring that supplied data is "clean, correct and useful."
        - Sorting – "arranging items in some sequence and/or in different sets."
        - Summarization – reducing detail data to its main points.
        - Aggregation – combining multiple pieces of data.
        - Analysis – the "collection, organization, analysis, interpretation and presentation of data.".
        - Reporting – list detail or summary data or computed information.
    - A third classification approach
        - <span style="color: red;">Operational Database</span>
        - <span style="color: red;">External Database</span>
        - End User Database
        - Distributed Database
        - Data Warehouse Database
        - Analytical Database
        - Hypermedia Database


        
### Approach

- We discuss application scenarios and implement simple applications.


- In each scenario, we will study
    - One or two types of database models and engines.
    - Some of the design and implementation technology for database systems.
    
    
- We will start with a simple web application. <span style="color: red;">Using the terms above, this application is online, operational and external.</span>


- Since this is a database course, we will start with the data-out methodology.

## Building out Application $-$ The Data

The data we will use to start.

### People

1. 19,370 rows in the CSV file.
1. File size is 2.5MB
1. The columns are
    - playerID:       A unique code asssigned to each player.  The playerID links the data in this file with records in the other files.
    - birthYear:      Year player was born
    - birthMonth:     Month player was born
    - birthDay:       Day player was born
    - birthCountry:   Country where player was born
    - birthState:     State where player was born
    - birthCity:      City where player was born
    - deathYear:      Year player died
    - deathMonth:     Month player died
    - deathDay:       Day player died
    - deathCountry:   Country where player died
    - deathState:     State where player died
    - deathCity:      City where player died
    - nameFirst:      Player's first name
    - nameLast:       Player's last name
    - nameGiven:      Player's given name (typically first and middle)
    - weight:         Player's weight in pounds
    - height:         Player's height in inches
    - bats:           Player's batting hand (left, right, or both)         
    - throws:         Player's throwing hand (left or right)
    - debut:          Date that player made first major league appearance
    - finalGame:      Date that player made first major league appearance (blank if still active)
    - retroID:        ID used by retrosheet
    - bbrefID:        ID used by Baseball Reference website

| <img src="../images/bbmaster.jpeg" width="90%"> |
| :---: |
| __People Data__ |

### Batting

1. 102,817 rows in the CSV file
1. File size is 6.4 MB
1. Columns are
    - playerID:       Player ID code
    - yearID:        Year
    - stint:          player's stint (order of appearances within a season)
    - teamID:         Team
    - lgID:           League
    - G:              Games
    - AB:             At Bats
    - R:              Runs
    - H:              Hits
    - 2B:             Doubles
    - 3B:             Triples
    - HR:             Homeruns
    - RBI:            Runs Batted In
    - SB:             Stolen Bases
    - CS:             Caught Stealing
    - BB:             Base on Balls
    - SO:             Strikeouts
    - IBB:            Intentional walks
    - HBP:            Hit by pitch
    - SH:             Sacrifice hits
    - SF:             Sacrifice flies
    - GIDP:           Grounded into double plays
    

| <img src="../images/bbmaster.jpeg" width="90%"> |
| :---: |
| __Batting Data__ |

### Appearances

## Data Modeling and Data(base) Design -- I

__Remember:__ In this scenario, we are modeling our data and the working out to application code and user interface.

### Overview

"_Data modeling_ in software engineering is the process of creating a data model for an information system by applying certain formal techniques."(https://en.wikipedia.org/wiki/Data_modeling)

Reference: Ramakrishnan and Gehrke, section 2.1, 2.2, 2.3

There are six steps in data modeling and database design
1. Requirements Analysis
2. Conceptual Design
3. Logical Design
4. Schema Refinement
5. Physical Design
5. Application, Security and Infrastructure Design

We will start with (2), (3) and (4).

### Entity-Relationship Modeling

"An entity–relationship model (ER model) describes inter-related things of interest in a specific domain of knowledge. An ER model is composed of entity types (which classify the things of interest) and specifies relationships that can exist between instances of those entity types." (https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model)

"The ER model defines the conceptual view of a database. It works around real-world entities and the associations among them. At view level, the ER model is considered a good option for designing databases." (https://www.tutorialspoint.com/dbms/er_model_basic_concepts.htm)

<img src="../images/simpledb.jpg" width="50%">

- Entity – Data about a “Thing,” e.g.
    - Person
    - Web click
    - Product
- Attributes (Fields, Properties) – The data describing, defining an entity. Often named and typed, e.g.
    - (Height, Integer)
    - (Last name, String)
- Set/Collection/Table
    - A group of things.
    - Usually the same ”kind of entity”
- Relationships/Associations – Links between entities, which convey sematic information, e.g.
    - Don IsA Professor
    - Don Teaches {COMS4111, COMSE6998)
    
### Conceptual, Logical, Physical Model
<br><br>
<img src="../images/conceptuallogicalphysical.jpeg" width="90%">

From the People, Appearances and Batting files (first row), we have part of a _logical data model_:
- Entity names
- Attributes

We will flesh out other aspects as we proceed.

## Scenario I $-$ Basic Person Information

### Functionality: Step 1

- Simply be able to retrieve and display information about a Person based on some predicate.


- We will add more advanced functions later.


- We will start data model out.


### Logical Model

<img src="../images/masterlogical.jpeg" width="90%">


### An Interlude $-$ The Big Picture

#### Reminder: Application Topology


| <img src="../images/mult-tier-application.jpg"> |
| :---: |
| [Multi-tier Application](https://en.wikipedia.org/wiki/Multitier_architecture) |

"In software engineering, multitier architecture (often referred to as n-tier architecture) or multilayered architecture is a (...) architecture in which presentation, application processing, and data management functions are physically separated. The most widespread use of multitier architecture is the three-tier architecture.

N-tier application architecture provides a model by which developers can create flexible and reusable applications. By segregating an application into tiers, developers acquire the option of modifying or adding a specific layer, instead of reworking the entire application. A three-tier architecture is typically composed of a presentation tier, a domain logic tier, and a data storage tier." (https://en.wikipedia.org/wiki/Multitier_architecture)

#### Implementing the Data Tier

"In computer software, a data access object (DAO) is an object that provides an abstract interface to some type of database or other persistence mechanism. By mapping application calls to the persistence layer, the DAO provides some specific data operations without exposing details of the database. This isolation supports the single responsibility principle. It separates what data access the application needs, in terms of domain-specific objects and data types (the public interface of the DAO), from how these needs can be satisfied with a specific DBMS, database schema, etc. (the implementation of the DAO)." (https://en.wikipedia.org/wiki/Data_access_object)

"The single responsibility principle is a computer programming principle that states that every module or class should have responsibility over a single part of the functionality provided by the software, and that responsibility should be entirely encapsulated by the class." (https://en.wikipedia.org/wiki/Single_responsibility_principle)

| <img src="../images/dao.png"> |
| :---: |
| __Data Access Objects__|

- There are various [object relational mapping](https://en.wikipedia.org/wiki/Object-relational_mapping) tools and frameworks that help with this layer, e.g.
    - Hibernate (Java)
    - SQLAlchemy (Python)
    - LINQ to SQL
    
    
- We will take a look at some later, but are going to focus on "code" to help you understand what is going on.

### Basic Query

In [2]:
import csv as csv

def query_by_last_name(lname):
    r = []
    with open('../Data/People.csv', 'r') as csvfile:
        player_reader = csv.DictReader(csvfile, delimiter=',', quotechar='"')
        for row in player_reader:
            if (row['nameLast'] == lname):
                r.append(row)
    return r

In [3]:
lname = input("Please enter a last name: ")
print("You are looking for players with last name = ", lname)

answer = query_by_last_name(lname);
print("The following players have last name = ", lname, ":\n", answer)

Please enter a last name: Ferguson
You are looking for players with last name =  Ferguson
The following players have last name =  Ferguson :
 [OrderedDict([('playerID', 'fergual01'), ('birthYear', '1897'), ('birthMonth', '2'), ('birthDay', '16'), ('birthCountry', 'USA'), ('birthState', 'NJ'), ('birthCity', 'Montclair'), ('deathYear', '1976'), ('deathMonth', '4'), ('deathDay', '26'), ('deathCountry', 'USA'), ('deathState', 'CA'), ('deathCity', 'Sepulveda'), ('nameFirst', 'Alex'), ('nameLast', 'Ferguson'), ('nameGiven', 'James Alexander'), ('weight', '180'), ('height', '72'), ('bats', 'R'), ('throws', 'R'), ('debut', '1918-08-16'), ('finalGame', '1929-05-18'), ('retroID', 'ferga101'), ('bbrefID', 'fergual01')]), OrderedDict([('playerID', 'fergubo01'), ('birthYear', '1845'), ('birthMonth', '1'), ('birthDay', '31'), ('birthCountry', 'USA'), ('birthState', 'NY'), ('birthCity', 'Brooklyn'), ('deathYear', '1894'), ('deathMonth', '5'), ('deathDay', '3'), ('deathCountry', 'USA'), ('deathState', 'NY'), ('deathCity', 'Brooklyn'), ('nameFirst', 'Bob'), ('nameLast', 'Ferguson'), ('nameGiven', 'Robert Vavasour'), ('weight', '149'), ('height', '69'), ('bats', 'B'), ('throws', 'R'), ('debut', '1871-05-18'), ('finalGame', '1884-07-01'), ('retroID', 'fergb101'), ('bbrefID', 'fergubo01')]), OrderedDict([('playerID', 'fergubo02'), ('birthYear', '1919'), ('birthMonth', '4'), ('birthDay', '18'), ('birthCountry', 'USA'), ('birthState', 'AL'), ('birthCity', 'Birmingham'), ('deathYear', '2008'), ('deathMonth', '5'), ('deathDay', '23'), ('deathCountry', 'USA'), ('deathState', 'AL'), ('deathCity', 'Wetumpka'), ('nameFirst', 'Bob'), ('nameLast', 'Ferguson'), ('nameGiven', 'Robert Lester'), ('weight', '180'), ('height', '73'), ('bats', 'R'), ('throws', 'R'), ('debut', '1944-04-29'), ('finalGame', '1944-06-03'), ('retroID', 'fergb102'), ('bbrefID', 'fergubo02')]), OrderedDict([('playerID', 'ferguch01'), ('birthYear', '1863'), ('birthMonth', '4'), ('birthDay', '17'), ('birthCountry', 'USA'), ('birthState', 'VA'), ('birthCity', 'Charlottesville'), ('deathYear', '1888'), ('deathMonth', '4'), ('deathDay', '29'), ('deathCountry', 'USA'), ('deathState', 'PA'), ('deathCity', 'Philadelphia'), ('nameFirst', 'Charlie'), ('nameLast', 'Ferguson'), ('nameGiven', 'Charles J.'), ('weight', '165'), ('height', '72'), ('bats', 'B'), ('throws', 'R'), ('debut', '1884-05-01'), ('finalGame', '1887-10-08'), ('retroID', 'fergc101'), ('bbrefID', 'ferguch01')]), OrderedDict([('playerID', 'ferguch02'), ('birthYear', '1875'), ('birthMonth', '5'), ('birthDay', '10'), ('birthCountry', 'USA'), ('birthState', 'MI'), ('birthCity', 'Meridian'), ('deathYear', '1931'), ('deathMonth', '5'), ('deathDay', '17'), ('deathCountry', 'USA'), ('deathState', 'MI'), ('deathCity', 'Sault Ste. Marie'), ('nameFirst', 'Charlie'), ('nameLast', 'Ferguson'), ('nameGiven', 'Charles Augustus'), ('weight', ''), ('height', '71'), ('bats', ''), ('throws', 'R'), ('debut', '1901-09-20'), ('finalGame', '1901-09-20'), ('retroID', 'fergc102'), ('bbrefID', 'ferguch02')]), OrderedDict([('playerID', 'ferguge01'), ('birthYear', '1883'), ('birthMonth', '8'), ('birthDay', '27'), ('birthCountry', 'USA'), ('birthState', 'IN'), ('birthCity', 'Ellsworth'), ('deathYear', '1943'), ('deathMonth', '9'), ('deathDay', '5'), ('deathCountry', 'USA'), ('deathState', 'FL'), ('deathCity', 'Montverde'), ('nameFirst', 'Cecil'), ('nameLast', 'Ferguson'), ('nameGiven', 'Cecil Benoni'), ('weight', '165'), ('height', '70'), ('bats', 'R'), ('throws', 'R'), ('debut', '1906-04-19'), ('finalGame', '1911-07-21'), ('retroID', 'fergg101'), ('bbrefID', 'ferguge01')]), OrderedDict([('playerID', 'fergujo01'), ('birthYear', '1946'), ('birthMonth', '9'), ('birthDay', '19'), ('birthCountry', 'USA'), ('birthState', 'CA'), ('birthCity', 'San Francisco'), ('deathYear', ''), ('deathMonth', ''), ('deathDay', ''), ('deathCountry', ''), ('deathState', ''), ('deathCity', ''), ('nameFirst', 'Joe'), ('nameLast', 'Ferguson'), ('nameGiven', 'Joseph Vance'), ('weight', '200'), ('height', '74'), ('bats', 'R'), ('throws', 'R'), ('debut', '1970-09-12'), ('finalGame', '1983-06-17'), ('retroID', 'fergj101'), ('bbrefID', 'fergujo01')])]

#### Comments

- Pretty simple and it works.


- There are limitations
    - Specific to People and look up by last name.
        - A complex system will have dozens of files, each with many columns.
        - The set of files and the "schema" of individual files will evolve.
    - Maybe the user wants
        - More sophisticated queries, e.g. "Left handed batting players with last name williams."
        - A subset of the column values.
        
        
- A web application models these requirements with a URL of the form "../resourcetype?f1=aaa&f7=bbb&f4=ccc&fields=f1,f2,f7"
    - resourcetype is the "file"
    - There are query parameters specifying equality matches on fields.
    - There is a special query parameter that enumerates the fields the user requests.

### More General Query Solution

#### Implementation

In [2]:
import csv as csv
import pandas as pd
import json

# This function takes two dictionary inputs
# 1. Row is a row from the CSV file.
# 2. Template is contains a set of (field name, value) pairs.
# The function returns true if for every (field name, value) pair
# the corresponding (field name, value) pair matches on value.
#
def matches_template(row, template):
    match = True;
    for field, value in template.items():
        rowvalue=row[field]
        if (rowvalue != value):
            return False;
    return match

# The function has the following parameters
# 1. The "name" of a collection of data
# 2. A template that is a dictionary of (name, value) pairs.
# The function returns a list containing all rows from the file
# that match the template.
def query_collection(c,t):
    r = []
    f = '../Data/' + c + '.csv'
    with open(f, 'r') as csvfile:
        player_reader = csv.DictReader(csvfile, delimiter=',', quotechar='"')
        for row in player_reader:
            if (matches_template(row,t)):
                r.append(row)
    return r
        
# { "collection": "People", "nameLast" : "Williams", "throws" : "R", "bats" : "L"}
# { "collection" : "Batting", "playerID" : "addybo01"}

In [3]:
t = input("Please enter your query template: ")
t = json.loads(t)
print("Template = ",t)
print("\n\nThe players matching template t = ",t," are:\n")
collection = t["collection"]
del t["collection"]
result = query_collection(collection,t)
result = json.dumps(result,  sort_keys=True, indent=4)
print("Result = ", result)
print("\n\n")

Please enter your query template: { "collection": "People", "nameLast" : "Williams", "throws" : "R", "bats" : "L"}
Template =  {'collection': 'People', 'nameLast': 'Williams', 'throws': 'R', 'bats': 'L'}


The players matching template t =  {'collection': 'People', 'nameLast': 'Williams', 'throws': 'R', 'bats': 'L'}  are:

Result =  [
    {
        "bats": "L",
        "bbrefID": "williar01",
        "birthCity": "Somerville",
        "birthCountry": "USA",
        "birthDay": "24",
        "birthMonth": "8",
        "birthState": "MA",
        "birthYear": "1877",
        "deathCity": "Arlington",
        "deathCountry": "USA",
        "deathDay": "16",
        "deathMonth": "5",
        "deathState": "VA",
        "deathYear": "1941",
        "debut": "1902-05-07",
        "finalGame": "1902-09-01",
        "height": "",
        "nameFirst": "Art",
        "nameGiven": "Arthur Frank",
        "nameLast": "Williams",
        "playerID": "williar01",
        "retroID": "willa104",
        "throws": "R",
        "weight": ""
    },
    {
        "bats": "L",
        "bbrefID": "willibi01",
        "birthCity": "Whistler",
        "birthCountry": "USA",
        "birthDay": "15",
        "birthMonth": "6",
        "birthState": "AL",
        "birthYear": "1938",
        "deathCity": "",
        "deathCountry": "",
        "deathDay": "",
        "deathMonth": "",
        "deathState": "",
        "deathYear": "",
        "debut": "1959-08-06",
        "finalGame": "1976-10-02",
        "height": "73",
        "nameFirst": "Billy",
        "nameGiven": "Billy Leo",
        "nameLast": "Williams",
        "playerID": "willibi01",
        "retroID": "willb104",
        "throws": "R",
        "weight": "175"
    },
    {
        "bats": "L",
        "bbrefID": "willibi02",
        "birthCity": "Newberry",
        "birthCountry": "USA",
        "birthDay": "13",
        "birthMonth": "6",
        "birthState": "SC",
        "birthYear": "1932",
        "deathCity": "Berkeley",
        "deathCountry": "USA",
        "deathDay": "11",
        "deathMonth": "6",
        "deathState": "CA",
        "deathYear": "2013",
        "debut": "1969-08-15",
        "finalGame": "1969-08-20",
        "height": "75",
        "nameFirst": "Billy",
        "nameGiven": "William",
        "nameLast": "Williams",
        "playerID": "willibi02",
        "retroID": "willb102",
        "throws": "R",
        "weight": "195"
    },
    {
        "bats": "L",
        "bbrefID": "willide01",
        "birthCity": "Portland",
        "birthCountry": "USA",
        "birthDay": "13",
        "birthMonth": "12",
        "birthState": "OR",
        "birthYear": "1896",
        "deathCity": "San Clemente",
        "deathCountry": "USA",
        "deathDay": "23",
        "deathMonth": "3",
        "deathState": "CA",
        "deathYear": "1929",
        "debut": "1921-04-15",
        "finalGame": "1928-07-18",
        "height": "68",
        "nameFirst": "Denny",
        "nameGiven": "Evon Daniel",
        "nameLast": "Williams",
        "playerID": "willide01",
        "retroID": "willd105",
        "throws": "R",
        "weight": "150"
    },
    {
        "bats": "L",
        "bbrefID": "willike01",
        "birthCity": "Grants Pass",
        "birthCountry": "USA",
        "birthDay": "28",
        "birthMonth": "6",
        "birthState": "OR",
        "birthYear": "1890",
        "deathCity": "Grants Pass",
        "deathCountry": "USA",
        "deathDay": "22",
        "deathMonth": "1",
        "deathState": "OR",
        "deathYear": "1959",
        "debut": "1915-07-14",
        "finalGame": "1929-08-10",
        "height": "72",
        "nameFirst": "Ken",
        "nameGiven": "Kenneth Roy",
        "nameLast": "Williams",
        "playerID": "willike01",
        "retroID": "willk101",
        "throws": "R",
        "weight": "170"
    },
    {
        "bats": "L",
        "bbrefID": "willima10",
        "birthCity": "Pawtucket",
        "birthCountry": "USA",
        "birthDay": "21",
        "birthMonth": "8",
        "birthState": "RI",
        "birthYear": "1991",
        "deathCity": "",
        "deathCountry": "",
        "deathDay": "",
        "deathMonth": "",
        "deathState": "",
        "deathYear": "",
        "debut": "2015-06-12",
        "finalGame": "2017-06-25",
        "height": "73",
        "nameFirst": "Mason",
        "nameGiven": "Mason",
        "nameLast": "Williams",
        "playerID": "willima07",
        "retroID": "willm007",
        "throws": "R",
        "weight": "195"
    },
    {
        "bats": "L",
        "bbrefID": "williri02",
        "birthCity": "Santa Cruz",
        "birthCountry": "USA",
        "birthDay": "18",
        "birthMonth": "12",
        "birthState": "CA",
        "birthYear": "1893",
        "deathCity": "Cottonwood",
        "deathCountry": "USA",
        "deathDay": "24",
        "deathMonth": "4",
        "deathState": "AZ",
        "deathYear": "1966",
        "debut": "1914-10-08",
        "finalGame": "1914-10-10",
        "height": "",
        "nameFirst": "Rinaldo",
        "nameGiven": "Rinaldo Louis",
        "nameLast": "Williams",
        "playerID": "williri02",
        "retroID": "willr103",
        "throws": "R",
        "weight": ""
    },
    {
        "bats": "L",
        "bbrefID": "willist01",
        "birthCity": "Cascade",
        "birthCountry": "USA",
        "birthDay": "31",
        "birthMonth": "1",
        "birthState": "MT",
        "birthYear": "1892",
        "deathCity": "Deer River",
        "deathCountry": "USA",
        "deathDay": "29",
        "deathMonth": "6",
        "deathState": "MN",
        "deathYear": "1979",
        "debut": "1914-07-12",
        "finalGame": "1916-10-01",
        "height": "71",
        "nameFirst": "Steamboat",
        "nameGiven": "Rees Gephardt",
        "nameLast": "Williams",
        "playerID": "willist01",
        "retroID": "wills101",
        "throws": "R",
        "weight": "170"
    },
    {
        "bats": "L",
        "bbrefID": "willite01",
        "birthCity": "San Diego",
        "birthCountry": "USA",
        "birthDay": "30",
        "birthMonth": "8",
        "birthState": "CA",
        "birthYear": "1918",
        "deathCity": "Inverness",
        "deathCountry": "USA",
        "deathDay": "5",
        "deathMonth": "7",
        "deathState": "FL",
        "deathYear": "2002",
        "debut": "1939-04-20",
        "finalGame": "1960-09-28",
        "height": "75",
        "nameFirst": "Ted",
        "nameGiven": "Theodore Samuel",
        "nameLast": "Williams",
        "playerID": "willite01",
        "retroID": "willt103",
        "throws": "R",
        "weight": "205"
    }
]

### Comments

- Reasonably cool and a good start.


- Pretty clear how to add the additional function to choose the subset of the fields.


- The query language is primitive and limiting
    - The template only checks "==".
    - AND is the only operator to combine terms.


- Even if I were going to continue down this path and write code, adding query expressiveness
    - I am doing it the hard way.
    - There are frameworks that implement some of what we need, e.g. 
        - [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) for Python: "pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “__relational__” or “labeled” data both easy and intuitive." 
        - .NET Language Integrated Query [LINQ](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/): "You can write LINQ queries in C# for SQL Server databases, XML documents, ADO.NET Datasets, and any collection of objects that supports IEnumerable or the generic IEnumerable<T> interface." 
    - Even if I use the frameworks, I will start to experience additional problems in performance, reliability, etc.
        - I have to load the entire file(s)
            - The files are less than 10MB.
            - But there are application scenarios that will have GB files.
        - Some queries need to combine data from multiple files, which means I have to "join" data, e.g.
            - Getting a player's personal and batting information requires combining rows from Person and Batting.
            - There are other files, e.g Appearances, Pitching, Teams, ...
        - Some scenarios will be common
            - Find by last name and/or first name.
            - I should speed these queries up by building helper indexes, search trees, etc.
        - _Insert_, _Update_ and _Delete_ open a new can of worms
            - Validating input, e.g. "bats" must be "L," "R",  "B".
            - PlayerID must be unique.
            - A row in Batting can have playerID="ferdo01" only if there is a corresponding row in Master.
    
__This is going to get out of hand!__

__The corresponding relational database query for my template is ...__

In [6]:
%sql select * from people where nameLast="Williams" and throws="R" and bats="L"

9 rows affected.

[('williar01', '1877', '8', '24', 'USA', 'MA', 'Somerville', '1941', '5', '16', 'USA', 'VA', 'Arlington', 'Art', 'Williams', 'Arthur Frank', '', '', 'L', 'R', '1902-05-07', '1902-09-01', 'willa104', 'williar01'),
 ('willibi01', '1938', '6', '15', 'USA', 'AL', 'Whistler', '', '', '', '', '', '', 'Billy', 'Williams', 'Billy Leo', '175', '73', 'L', 'R', '1959-08-06', '1976-10-02', 'willb104', 'willibi01'),
 ('willibi02', '1932', '6', '13', 'USA', 'SC', 'Newberry', '2013', '6', '11', 'USA', 'CA', 'Berkeley', 'Billy', 'Williams', 'William', '195', '75', 'L', 'R', '1969-08-15', '1969-08-20', 'willb102', 'willibi02'),
 ('willide01', '1896', '12', '13', 'USA', 'OR', 'Portland', '1929', '3', '23', 'USA', 'CA', 'San Clemente', 'Denny', 'Williams', 'Evon Daniel', '150', '68', 'L', 'R', '1921-04-15', '1928-07-18', 'willd105', 'willide01'),
 ('willike01', '1890', '6', '28', 'USA', 'OR', 'Grants Pass', '1959', '1', '22', 'USA', 'OR', 'Grants Pass', 'Ken', 'Williams', 'Kenneth Roy', '170', '72', 'L', 'R', '1915-07-14', '1929-08-10', 'willk101', 'willike01'),
 ('willima07', '1991', '8', '21', 'USA', 'RI', 'Pawtucket', '', '', '', '', '', '', 'Mason', 'Williams', 'Mason', '195', '73', 'L', 'R', '2015-06-12', '2017-06-25', 'willm007', 'willima10'),
 ('williri02', '1893', '12', '18', 'USA', 'CA', 'Santa Cruz', '1966', '4', '24', 'USA', 'AZ', 'Cottonwood', 'Rinaldo', 'Williams', 'Rinaldo Louis', '', '', 'L', 'R', '1914-10-08', '1914-10-10', 'willr103', 'williri02'),
 ('willist01', '1892', '1', '31', 'USA', 'MT', 'Cascade', '1979', '6', '29', 'USA', 'MN', 'Deer River', 'Steamboat', 'Williams', 'Rees Gephardt', '170', '71', 'L', 'R', '1914-07-12', '1916-10-01', 'wills101', 'willist01'),
 ('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

## The Relational Model $-$ I

### Overview

References: Ramakrishnan and Gehrke, section 3.1

There are two perspectives on the relational model:
- Formal language and algebra.
- A standard implementation language, Structure Query Language [(SQL)](https://en.wikipedia.org/wiki/SQL)

__Note__: I am going to switch to a smaller table, for the time being.

_AllStarFull_:
- playerID:       Player ID code
- YearID:         Year
- gameNum:        Game number (zero if only one All-Star game played that season)
- gameID:         Retrosheet ID for the game idea
- teamID:         Team
- lgID:           League
- GP:             1 if Played in the game
- startingPos:    If player was game starter, the position played

### Relational Model

- _Relational Schema_ defines and provides metadata describing what is/can be in "the file" (called a _relation_), e.g.<br>


```
AllStarFull(
    playerID: string,
    yearID: integer,
    gameNum: integer,
    gameID: string,
    teamID: string,
    lgID: string,
    GP: integer,
    startingPOS: integer
    )
```

- A _Relational Instance_ is a "table" of data that conforms to a relation schema, e.g.<br><br>

<img src="../images/allstarrelation.jpeg">

### SQL

- Structured Query Language (SQL) is a well-defined programming language that realizes a superset of the relation model.


- There are two sub-languages
    - Data Definition Language (DDL) corresponds to relational schema
    - Data Manipulation Language corresponds to relational algebra (covered later)
    
    
- Defining a table in SQL: The default you get if you just import the CSV file. This is a subset of a _physical model_
```
CREATE TABLE `AllstarFull` (
  `playerID` varchar(255) DEFAULT NULL,
  `yearID` int(11) DEFAULT NULL,
  `gameNum` int(11) DEFAULT NULL,
  `gameID` varchar(255) DEFAULT NULL,
  `teamID` varchar(255) DEFAULT NULL,
  `lgID` varchar(255) DEFAULT NULL,
  `GP` int(11) DEFAULT NULL,
  `startingPos` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

- SQL has a superset of the relational model's schema definition capability. An improved table definition could be

```
CREATE TABLE `AllStarFullBetter` (
  `playerID` varchar(16) NOT NULL,
  `yearID` int(6) NOT NULL,
  `gameNum` enum('0','1','2') NOT NULL,
  `gameID` char(12) NOT NULL,
  `teamID` char(3) NOT NULL,
  `lgID` enum('NL','AL') NOT NULL,
  `GP` enum('0','1') NOT NULL,
  `startingPos` enum('1','2','3','4','5','6','7','8','9') DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

- This definition adds two benefits
    1. More precise definition of attribute sizes
        - Allows the database engine to more precisely allocate disk/storage space and place records on disk.
        - This is not important for a relation with a few thousand rows requiring a couple of MB.
        - But, some scenarios have millions or billions of rows requiring GBs of storage.
    1. Integrity Constraints: The database engine will not allow creates or updates that produce obviously invalid data, e.g.
        - There are 9 field positions in baseball and each has code.
        - There are two leagues: American League (AL) and National League (NL)
        - Some attributes can be NULL but other cannot.

### Execution

In [7]:
import pymysql.cursors
import pandas as pd

# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.
config = {
  'user': 'dbuser',
  'password': 'dbuser',
  'host': '10.0.1.4',
  'database': 'lahman2016',
  'raise_on_warnings': True,
  'charset' : 'utf8'
}

# Connect
cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuser',
                             db='lahman2016',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)


# I manually created the tables (not shown).
# Let's see what database thinks a table is like.
def describe_table(t):
    cursor=cnx.cursor()
    q = "show columns from  " + t + ";"
    #print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchall()
    df_mysql = pd.read_sql(q,cnx)
    return df_mysql

# Describe the AllStarFullBetter table.
print("\n\n")
print("AllStarFullBetter table is \n", describe_table("AllStarFullBetter"))

AllStarFullBetter table is
          Field                                       Type Null  Key Default  \
0     playerID                                varchar(16)   NO  PRI    None
1       yearID                                     int(6)   NO  PRI    None
2      gameNum                          enum('0','1','2')   NO  PRI    None
3       gameID                                   char(12)   NO         None
4       teamID                                    char(3)   NO         None
5         lgID                            enum('NL','AL')   NO         None
6           GP                              enum('0','1')   NO         None
7  startingPos  enum('1','2','3','4','5','6','7','8','9')  YES         None

  Extra
0
1
2
3
4
5
6
7

### What Happened (Reminder)?

- [Three-Tier Architecture](https://en.wikipedia.org/wiki/Multitier_architecture#Three-tier_architecture) is a common system architecture for combining
    - Application logic
    - Data
    - User interface logic
<br><br>
<img src="../images/tier3all.png" width="100%">
<br><br>
- In this simple example
    - The user interface is a web browser (Chrome)
    - The application server is the the Jupyter Notebook application running locally
        - Serving web content on locahost:8889.
        - Running the Python code and sending the SQL statements to MySQL and receiving responses.
    - The database server is mysqldb executable running locally and listening for commands on localhost:3306.
<br><br>
<img src="../images/local3tier.jpeg" width="100%">

### Data Manipulation $-$ Let's Test the Table Definition

#### Code

In [8]:
import pymysql.cursors
import pandas as pd

# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.
config = {
  'user': 'dbuser',
  'password': 'dbuser',
  'host': '10.0.1.4',
  'database': 'lahman2016',
  'raise_on_warnings': True,
  'charset' : 'utf8'
}

# Connect
cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuser',
                             db='lahman2016',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

# I manually created the tables (not shown).
# Let's see what database thinks a table is like.
def describe_table(t):
    cursor=cnx.cursor()
    q = "show columns from  " + t + ";"
    #print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchall()
    df_mysql = pd.read_sql(q,cnx)
    return df_mysql

def create_all_star(table, playerID, yearID, gameNum, gameID, teamID, lgID, GP, startingPos):
    q = "INSERT INTO " + table + " VALUES(" \
        + "'" + playerID + "'," + str(yearID) + "," + str(gameNum) + ",'" + gameID + "','" \
        + teamID + "','" + lgID + "'," + str(GP) + ",'" + str(startingPos) + "');"
    print("INSERT statement = ", q)
    cursor=cnx.cursor()
    cursor.execute(q)
    cnx.commit()
    result=cursor.rowcount
    print("INSERT create ", result, " rows")
    
    

"""    
print("\n\n")
print("AllStarFull table is \n", describe_table("AllStarFull"))
print("\n\n")
print("AllStarFullBetter table is \n", describe_table("AllStarFullBetter"))
"""
print("\nInserting into AllStarFull")
create_all_star("AllStarFull","ferdo05", -17, 1000000, "Canary", "BOS", "EPL", -2, "Quarter Back")
#print("Seemed OK")
#print("\nInserting into AllStarFull")
#create_all_star("AllStarFullBetter","ferdo05", -17, 1000000, "Canary", "BOS", "EPL", -2, "Quarter Back")

Inserting into AllStarFull
INSERT statement =  INSERT INTO AllStarFull VALUES('ferdo05',-17,1000000,'Canary','BOS','EPL',-2,'Quarter Back');
INSERT create  1  rows

- Second test: A table with constraints.

In [9]:
print("\nInserting into AllStarFull")
try:
    create_all_star("AllStarFullBetter","ferdo05", -17, 1000000, "Canary", "BOS", "EPL", -2, "Quarter Back")
except Exception as e:
    print("e = ", e);

Inserting into AllStarFull
INSERT statement =  INSERT INTO AllStarFullBetter VALUES('ferdo05',-17,1000000,'Canary','BOS','EPL',-2,'Quarter Back');
e =  (1265, "Data truncated for column 'gameNum' at row 1")

In [12]:


%sql INSERT INTO AllStarFullBetter VALUES('ferdo05',-17,1000000,'Canary','BOS','EPL',-2,'Quarter Back');

1 rows affected.

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'gameNum' at row 1") [SQL: "INSERT INTO AllStarFullBetter VALUES('ferdo05',-17,1000000,'Canary','BOS','EPL',-2,'Quarter Back');"]

#### Comments

- I could insert loony data into AllStarFull, e.g.
    - ferdo05 played in the All Star Game in the year 17 BCE.
    - This is a baseball database,, but ferdo05 played in the All Star Game in the English Premier League.
    - "Quarter Back" is not a valid position in baseball or Association Football.
    
    
- The database engine enforced the __constraints__ and prevented the loony data for AllStarFullBetter. 


- One of the benefits of the relational data model is _consistency_ and _integrity._


- Metadata associated with table definitions prevents applications from inadvertently corrupting the data.

## The Relational Model -- II

### Why Start with Relational?

<img src="../images/ranking2.jpeg"><br>
(https://db-engines.com/en/ranking_categories)
<br><br>

### Algebraic Query Language

Reference: Ramkrishan and Gherke, section 2.4.

#### Algebra

"... abstract algebra (occasionally called modern algebra) is the study of algebraic structures." (https://en.wikipedia.org/wiki/Abstract_algebra) 

"In mathematics, and more specifically in abstract algebra, an algebraic structure is a set (called carrier set or underlying set) with one or more operations defined on it that satisfies a list of axioms." (https://en.wikipedia.org/wiki/Algebraic_structure)

__Group is an Example__ (http://mathworld.wolfram.com/Group.html)

"A group G is a finite or infinite set of elements together with a binary operation (called the group operation) that together satisfy the four fundamental properties of closure, associativity, the identity property, and the inverse property. The operation with respect to which a group is defined is often called the "group operation," and a set is said to be a group "under" this operation. Elements A, B, C, ... with binary operation between A and B denoted AB form a group if

1. Closure: If A and B are two elements in G, then the product AB is also in G.

2. Associativity: The defined multiplication is associative, i.e., for all A,B,C in G, (AB)C=A(BC).

3. Identity: There is an identity element I (a.k.a. 1, E, or e) such that IA=AI=A for every element A in G.

4. Inverse: There must be an inverse (a.k.a. reciprocal) of each element. Therefore, for each element A of G, the set contains an element B=A<sup>-1</sup> such that AA<sup>-1</sup>=A<sup>-1</sup>A=I.

#### Why a Special Query Language? Why a Formal Language?

- Computing has a formal mathemetical model.

- Programming languages derive from the model and have their own formal definition.

- Almost every time someone publishes a new language, my reaction is, "What? Why another language? Can't we just pick one, use it and get it right?"


- Relational algebra is less powerful and expressive than Java, C, ... and other programming languages.


- The simplicity and constrained capabilities is actually the core of the value, enabling
    - Vastly simplified programming and supporting tools that yields increased productivity.
    - Development of algorithms that process the data definitions and query statements to automatically produce optimal execution plans, which are better than what a programmer can directly code.
    
    
- We will see these benefits in coming lectures.


_Simple Tool Example_ that enables "citizen programmers" to maniuplate data.

<img src="../images/ss_1.jpeg">

<br><br>
_Simple Tool Example_ for enabling business professionals to analyze and report on data.
<img src="../images/quicksite.jpeg" width="85%">

#### Relational Algebra

- There are two notations or representations of the algebra:
    - The original, formal theory.
    - SQL
    
__Original, Formal Notation__

- The "set" in the relational algebra is the set of _relations_.


- The operations are:
    - Common set operations:
        - Union: $\cup$
        - Intersection: $\cap$
        - Difference: $-$
    - Projection: $\pi$
    - Selection: $\sigma$
    - Cartesian Product: $\times$
    - Join: $\bowtie$
    - Rename/Alias
    

- The formal notation does not support create, update or delete. You could emulate the operations by
    - Defining new relations containing the created, updated or delete tuples.
    - Using $\cup$, $\cap$, $-$ on the original relation and created/deleted/updated tuple relation.
    
    
__SQL Notation__

- The "set" in the relational algebra is the catalog of _tables_.

- The operations are:
    - Common set operations:
        - Union: UNION
        - Intersection: INTERSECT
        - Difference: EXCEPT
    - Selection, Projection, Cartesian Product, Rename/Alias and Join are clauses within a SELECT statement.
    
    ```SELECT <project clause> FROM <table> [JOIN <table> [ON <join condition]] WHERE <select condition>```
    <br><br>
    
- SQL supports additional operations, e.g
    - GROUP BY
    - ORDER BY

## Selection

- MySQL SELECT statement

<img src="../images/sqlselect.jpeg">

<br><br>
- Other relational database engines have similar statements.


- Simple, starting table reminder

```
CREATE TABLE `AllStarFullBetter` (
  `playerID` varchar(16) NOT NULL,
  `yearID` int(6) NOT NULL,
  `gameNum` enum('0','1','2') NOT NULL,
  `gameID` char(12) NOT NULL,
  `teamID` char(3) NOT NULL,
  `lgID` enum('NL','AL') NOT NULL,
  `GP` enum('0','1') NOT NULL,
  `startingPos` enum('1','2','3','4','5','6','7','8','9') DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- __NOTE:__ All of the single back quotes are:
    - MySQL specific
    - Optional in most cases, and only required if a table or column name has a space, e.g. ``` `First Name` ```
    
    
__Example 1:__ SELECT all columns and rows in the table ```AllStarFull``` in the database (schema) ```lahman2016```

```
SELECT * FROM lahman2016.AllstarFull
```

- ```*``` means all columns.
- ```lahman2016``` is the database (schema) on the database server.
- ```AllStarFull``` is the table.

Result screen in MySQLWorkbench looks something like:
<img src="../images/sqlselect1.jpeg">
<br><br>

<br><br>
__Example 2:__ Projection

- I only want the playerID, yearID and position.

```
SELECT
	playerID, yearID, startingPos
FROM
	lahman2016.AllstarFull;
```

- Note:
    - Capitalization is optional
    - Line breaks and indentation is optional.

Result screen in MySQLWorkbench looks something like:
<img src="../images/select2.jpeg">
<br><br>

__Example 3:__ Selection (and Projection)

- I only want rows where the years 1960 and the startingPos was '1', i.e. pitcher.

```
SELECT
	playerID, yearID, startingPos
FROM
	lahman2016.AllstarFull
WHERE
	yearID=1960 AND startingPos='1';
```

The structure of the where clause (for now) is

```
WHERE column1=value AND ... AND columnn=valuen
```
Result screen in MySQLWorkbench looks something like:
<img src="../images/select3.jpeg">
<br><br>

## What is Next? $-$ Homework 1

## First Application Scenario

### Set Up

- Someone has given you three comma separated value (CSV) files
    1. People -- Information about everyone who has ever been associated [Major League Baseball.](http://www.mlb.com)
    1. Batting -- Information about every player's batting performance for every year.
    1. Appearances -- Information about a player's appearances in games, e.g. games played for teams, in years, etc.
<br><br>
- Answer some interesting and potentially unanticipated questions based on the data. For example
    1. Find a player by last name and first name, and display career information.
    1. Show me all the teams a player played for.
    1. Which player who ever played for the Boston Red Sox has the highest career batting average.
    1. etc.
    
__Note:__ You can write a program to answer each question. You cannot anticipate all of the possible questions people might have.


- Oh. And people are still playing MLB.
    1. We need to update the data.
    1. Let's allow authorized people to update the "files."
    
### Application Topology

- Since you have written all this interesting code to _query_ and _update_ the data, why not make it available on the web?

    
- System architecture
    - There are many, many, many application topologies and topologies for supporting infrastructure (server, storage, networking).
    - We will start with a simple 3-Tier Architecture.
    - We will start with the data in files, and the use a database system to understand the benefits.
    
    
- The diagram below shows two "servers."
    - There are HW servers, e.g. computers with disks attached to the network.
    - Long running software programs executing in OS processes and listening on network connections.
    - In our scenarios, there will typically be one HW server (your laptop) and multiple SW servers. In the real world, there are dozens, hundreds, thousands of HW servers and complex mapping on SW servers to HW.
    
    
- We will do the application, or parts of the application, using both CSV files and a relational database.
     
| <img src="../images/apptop1.jpeg"> |
| :---: |
| __Application and System Topology__ |
    
    
### Application Design Methodology

- There are two basic approach to building many types of application
    1. "Data Model Out"
    1. "User Experience In"


- Since this is a database class, we will typically start with and focus on "Data Model Out."

| <img src="../images/appdesignmodels.jpeg"> |
| :---: |
| __Application Design Methodologies__ |