# Take Home Midterm Overview and Sample Questions

In [5]:
%load_ext sql
%sql mysql+pymysql://root:sh01dan5@localhost/lahman2016
        
%sql select * from master where playerid='napolmi01'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
1 rows affected.

[('napolmi01', 1981, 10, 31, 'USA', 'FL', 'Hollywood', '', '', '', '', '', '', 'Mike', 'Napoli', 'Michael Anthony', 225, 73, 'R', 'R', '2006-05-04', '2016-10-02', 'napom001', 'napolmi01')]

## Overview

## Instructions

## Sample Questions

### Tricky Query 1

- Use the lahman2016 database.


- Use the "Park" table and "Teams" table. Write a query that uses park ID 'BOS01' to return the teamid, franchid and name of teams that played at the identified park.

In [8]:
print("Query result")
# Your query goes here.

Query result
3 rows affected.

[('BS1', 'BNA', 'Boston Red Stockings'),
 ('BSN', 'ATL', 'Boston Red Caps'),
 ('BSN', 'ATL', 'Boston Beaneaters')]

### Tricky Query 2

- Use the lahman2016 database.


- Two players were teammates if the appeared for the same team in the same year. Use the appearances table to produce the result below. NOTE: A pair of players may only be in the result once. That is you cannot have two rows for the same year with the same playerids.

In [6]:
%sql select  \
	a.playerid, (select master.nameLast from master where master.playerid = a.playerID) as last_name, \
    b.playerid, (select master.nameLast from Master where master.playerid = b.playerID) as last_name, \
    a.teamid, \
    a.yearid \
from \
	appearances as a \
    join \
    appearances as b \
where \
	a.teamid=b.teamid and a.yearid=b.yearid and \
    a.playerid > b.playerid;

KeyboardInterrupt: